.alerts-inline {
    background: $gray-dark;
    padding-top: 14px;
    padding-bottom: 25px;
    max-width: 1280px;
    margin: 0 auto;

    // media queries


    @include media-breakpoint-up(md) {
        padding-top: 23px;
        padding-bottom: 40px;
    }

    // elements

    &__close {
        background: none;
        padding: 0;
        border: none;
        line-height: 0;
        width: auto;
        float: right;

        &:hover,
        &:focus {
            background: none;
        }
    }

    &__button {

        .secondary-cta__link {
            color: $white;
            margin-bottom: 0;
            padding-bottom: 0;

            .chevron {
                polygon {
                    fill: $white;
                }
            }

            &:hover,
            &:focus {
                color: $white;

                .chevron {

                    polygon {
                        fill: $white;
                    }
                }
            }
        }
    }

    &__heading {
        color: $gray-lightest;
        margin-bottom: -8px;

        @include media-breakpoint-up(md) {
            margin-bottom: 2px;
            line-height: 32px;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: -10px;
        }
    }

    &__title {
        font-size: 9px;
        color: $yellow;
        font-family: $font-family-sans-serif-bold;
        text-transform: uppercase;
        padding-bottom: 0;
        margin-bottom: 11px;

        @include media-breakpoint-up(md) {
            font-size: 12px;
            margin-bottom: 23px;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 20px;
        }
    }

    &__inner {
        padding-bottom: 11px;

        @include media-breakpoint-up(md) {
            padding-bottom: 23px;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: 20px;
        }
    }

    &__copy {
        color: $gray-lightest;
        margin-bottom: -7px;

        @include media-breakpoint-up(md) {
            margin-bottom: -8px;
            padding-bottom: 30px;
        }
    }

    &__buttons {
        float: right;
    }

    &__image {
        margin-top: 16px;
        margin-bottom: 16px;

        @include media-breakpoint-only(md) {
            margin-top: 0;
            margin-bottom: 36px;
        }

        @include media-breakpoint-up(lg) {
            float: right;
            margin-top: 4px;
            margin-bottom: 0;
        }
    }

    &__item {
        margin-top: 4px;

        @include media-breakpoint-up(md) {
            margin-top: 56px;
        }

        &:first-child {
            margin-top: 0;
        }
    }
}
