.checkbox-input {
    width: 100%;
    padding-bottom: 20px;

    &__item {
        display: none;
    }

    &__icon {}

    &__icon {
        position: absolute;
        right: 12px;
        top: 12px;

        @include media-breakpoint-up(md) {
            right: 12px;
            top: 12px;
        }


        path {
            fill: $brand-primary;
            transition: 0.4s;
        }
    }

    &__button-copy {
        padding-right: 25px;
    }

    &__holder {
        @include media-breakpoint-up(md) {
            margin-left: -20px;
        }
    }

    &__buttons--animated{

        opacity: 0;
    }

    &__trigger-button {
        position: relative;
        border: 1px solid $brand-primary;
        background: $white;
        color: $brand-primary;
        width: initial;
        padding: 11px 10px;
        float: left;
        margin-top: 12px;
        width: 100%;
        line-height: 14px;

        @include media-breakpoint-up(md) {
            width: initial;
            margin-left: 20px;

            padding: 12px 28px;
            line-height: 16px;
        }


        svg {
            transition: 0.4s;
            height: 12px;
            width: 12px;

            @include media-breakpoint-up(md) {
                height: 16px;
                width: 16px;
            }
        }

        &:focus , &:hover{
            border-color: $primary;
            color: $primary;
            path {
                fill: $primary;
            }

        }

        
        &--selected,
        &--selected:active,
        &--selected:focus,
        &--selected:hover {
            border-color: $primary;
            background: $primary;
            color: $white;

            svg {
                transform: rotate(135deg);
            }

            path {
                fill: $white;
            }
        }
    }
}