<div id="contact-banner" class="container background__gray">
    <div class="container" appScrolled>
        <div class="row align-items-center">
            <div class="col-12 cta-header">
                <h2>Contact Us</h2>
            </div>
        </div>
        <div class="row cta-content">
            <div class="col-12 col-md-7">
                <div>
                    <p>Everything starts with a conversation, <br class="mobile-show"/>so get in tough and <br class="mobile-hide"/>
                        see how 'out of the ordinary thinking' could benefit you.</p>
                    <button class=" main_button cta-buttons"><span>Email me</span></button>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div id="socials">
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="icon-phone"></i><span>+44 (0)20 7597 4000</span></a></li>
                        <li><a href="#"><i class="icon-mail"></i><span>onlinequeryuk@investec.co.uk</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
