@import "~styles/sec-site-style.scss";
@import "~styles/sec-variables.scss";

#contact-banner {
    min-height: 230px;
    padding-top: 30px;
    .container {
        opacity: 0;
    }

    #socials ul li {
        margin-bottom: 18px;
        i {
            margin-right: 12px;
        }
        span {
            color: $primary;
            text-decoration: underline;
        }
    }

    @media (min-width: 768px) {
        #socials {
            border-left: 2px solid #d8d6d6;
            height: 130px;
            padding-left: 60px;
        }
    }
}
.cta-header {
    h2 {
        color: #002e55;
        font-family: $font-family-sans-serif-light;
        font-size: 23px;
        font-weight: normal;
        line-height: 23px;
        margin-bottom: 35px;
    }
}
.cta-content {
    padding-bottom: 20px;

    p {
        font-family: $font-family-sans-serif-light;
        font-size: 16px;
        line-height: 23px;
        color: #437cbf;
    }
}

.cta-buttons {
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #00204e;
    }
}

.mobile-show {
    display: none;
}

