@include media-breakpoint-down(xl) {
    .container {
        // max-width: 1160px;
        padding-left: 60px;
        padding-right: 60px;
    }
}


@include media-breakpoint-down(lg) {
    .container {
        // max-width: 1220px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    [class*='col-'] {
        padding-left: 15px;
        padding-right: 15px;
    }
}


@include media-breakpoint-down(md) {
    .container {
        // max-width: 1160px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    [class*='col-'] {
        padding-left: 8px;
        padding-right: 8px;
    }
}


@include media-breakpoint-down(sm) {}


@include media-breakpoint-down(xs) {
    .container {
        padding-left: 14px;
        padding-right: 14px;
    }

    .row {
        margin-left: -4px;
        margin-right: -4px;
    }

    [class*='col-'] {
        padding-left: 4px;
        padding-right: 4px;
    }
}
