@import "~styles/base/_type.scss";
@import "~styles/digitalcomponents/global/chevron/chevron.scss";
@import "~styles/digitalcomponents/global/secondary-cta/secondary-cta.scss";

.detailed-information {
// this is a duplicatoin of styles
// applied to .list-style
// TODO why?
    ul {

        margin-top: -10px;
        margin-bottom: -10px;

        @include paddingTop(1);

        @include paddingBottom(2);

        @include respond-min(map-get($grid-breakpoints, "lg")) {
            @include paddingTop(0);

            @include paddingBottom(1);
        }

        li {
            list-style-type: none;
            padding-bottom: 5px;
            padding-left: 15px;
            background-position: 0px 3px;
            // background-image: url("../images/icons/svg/bullet.svg");
            background-size: 6px;
            background-repeat: no-repeat;
            font-size: 14px;
            line-height: 18px;
            font-weight: lighter;

            @include respond-min(map-get($grid-breakpoints, "md")) {
                font-size: 14px;
                line-height: 20px;
                background-position: 0px 8.5px;
            }

            @include respond-min(map-get($grid-breakpoints, "lg")) {
                font-size: 16px;
                line-height: 24px;
            }

            @include respond-min(map-get($grid-breakpoints, "md")) {
                padding-bottom: 15px;
            }

            @include respond-min(map-get($grid-breakpoints, "md")) {
                padding-bottom: 10px;
            }
        }
    }

    a {
        font-weight: bold;
    }

    &__quote {
        font-size: 14px;
        line-height: 17px;

        @include respond-min(map-get($grid-breakpoints, "md")) {
            font-size: 28px;
            line-height: 44px;
        }


        @include respond-min(map-get($grid-breakpoints, "lg")) {
            font-size: 32px;
            line-height: 44px;
            margin-left: -0.9375rem;
        }
    }

    &__quote-holder {
        border-left: 2px solid $primary;
        margin-bottom: 20px;
        padding-bottom: 12px;
        padding-top: 15px;

        @include marginBottom(1);

        @include respond-min(map-get($grid-breakpoints, "lg")) {
            padding-bottom: 11px;
            padding-top: 6px;
            margin-bottom: 36px;
        }
    }

    &__line-end {
        // margin-top: 30px;
        width: 45px;
        height: 4px;
        background-color: $primary;
        // display: none; //Temporary
    }

    &__image {
        @include marginBottom(1);
    }

    &__numbers {
        text-align: center;
        background-color: $background-grey;

        @include marginBottom(2);

        @include marginTop(2);

        @include respond-min(map-get($grid-breakpoints, "md")) {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }

    &__numbers-holder {
        @include respond-min(map-get($grid-breakpoints, "md")) {
            border: 1px solid transparent;
            border-right: 1px solid #ccd0d5;
        }
    }

    &__numbers-side {
        padding: 20px 0;
        clear: both;
        text-align: center;
        background-color: $background-grey;

        &:before,
        &:after {
            content: " ";
            display: table;
        }

        &:after {
            clear: both;
        }


        @include media-breakpoint-down(sm) {
            @include marginTop(2);
        }

        @include media-breakpoint-up(md) {
            @include marginTop(2);
        }


        @include respond-min(map-get($grid-breakpoints, "md")) {
            padding-top: 48px;
            padding-bottom: 48px;
            background-color: $background-grey;
        }

        @include respond-min(map-get($grid-breakpoints, "lg")) {
            padding-top: 10px;
            text-align: left;
            background: none;
            margin-bottom: 0px;
            border-bottom: 1px solid $gray;
            @include marginTop(0);

            &:first-child {
                margin-top: -24px;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    &__numbers-holder-side {
        border: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;

        &:last-child {
            border: 1px solid transparent;
        }

        @include respond-min(map-get($grid-breakpoints, "md")) {
            border-right: 1px solid $gray;
        }

        @include respond-min(map-get($grid-breakpoints, "lg")) {
            border-bottom: 1px solid $gray;
            border-right: 1px solid transparent;
            margin-top: 20px;

            &:first-child {
                margin-top: 0px;
            }

            &:last-child {
                border: 1px solid transparent;
            }
        }
    }

    &__numbers-copy {
        padding-bottom: 12px;

        @include respond-min(map-get($grid-breakpoints, "lg")) {
            padding-bottom: 28px;
        }
    }

    &__numbers-block {
        @include respond-min(map-get($grid-breakpoints, "lg")) {}
    }

    &__numbers-holder:last-child {
        border: 1px solid transparent;
        border-right: 1px solid transparent;
    }

    &__padder {
        @include respond-min(map-get($grid-breakpoints, "lg")) {
            @include paddingTop(1);
        }
    }

    &__right, &__left {
        // @include marginBottom(2);

    }

    &__left {
        &-copy {
            @include media-breakpoint-up(xl) {
                padding-top: 36px;
            }
        }
    }

    &__image-lr {
        @include media-breakpoint-down(sm) {
            @include marginBottom(1);
        }
    }
}


.investec-numbers {
    margin: 0px;
    padding: 0px;
    color: $primary;
}

.investec-numbers--serif {
    font-family: $font-family-serif;
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-transform: uppercase;

    @include respond-min(map-get($grid-breakpoints, "md")) {
        font-size: 32px;
        line-height: 40px;
    }

    @include respond-min(map-get($grid-breakpoints, "lg")) {
        font-size: 42px;
        line-height: 50px;
    }
}

.investec-numbers--sans-serif {
    font-family: $font-family-sans-serif;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 5px;

    @include respond-min(map-get($grid-breakpoints, "md")) {
        font-size: 20px;
        line-height: 20px;
    }

    @include respond-min(map-get($grid-breakpoints, "lg")) {
        font-size: 24px;
        line-height: 24px;
    }
}
