<div class="detailed-information component container" data-scrollmagic="true" data-component="DetailedInformation" style="visibility: visible;">
    <div class="detailed-information__left">
        <div class="row">
            <h4>
                {{title}}
            </h4>
        </div>
        <div class="row">
            <div class="detailed-information__left-copy">
                <div class="scrollmagic-right-copy">
                <p style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">{{copy}}</p>
                <a *ngFor="let item of links" href="item.link" class="js-secondary-cta secondary-cta " id="TBC" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <span class="secondary-cta__copy">{{item.linkText}}</span>
                    <span class="secondary-cta__chevron">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="7px" height="9px" viewBox="795.5 464 7 9" enable-background="new 795.5 464 7 9" xml:space="preserve" class="injected-svg js-svg-icon svg-icon  chevron chevron--desktop" data-src="../assets/images/icons/svg/chevron2.0_desktop.svg" data-fallback="../assets/images/icons/png/chevron2.0_desktop.png">
                        <polygon fill="#485dc5" points="798.5,464 795.5,464 799.25,468.5 795.5,473 798.5,473 802.5,468.5 "></polygon>
                        </svg>
                    </span>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>