
// Colors
//
// This file is read as part of the styleguide build process to dynamically list the colours used in the project
// so please DO NOT add anything that isn't a sass variable or a comment using the two slash syntax in this file

//main colours
$primary: #00204e !default;
$brand-primary: #485dc5 !default;
$brand-inverse: $brand-primary !default;
$inactive-dividers: #e2e2e3 !default;
$brand-secondary: #16374d !default;


//dividers
$grey-on-white-divider: #d7d9db !default;
$grey-on-slate-divider: #4e565c !default;

//greys
$gray-darkest: #323a41 !default;
$gray-darker: #424242 !default;
$gray-dark: #36424a !default;
$slate-grey: #5E686E !default;
$quote-grey: #99a6b8 !default;
$form-grey: #8f969a !default;
$gray: #ccd2dc !default;
$gray-light: #bebebe !default;
$off-white: #e3e3e3 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
$gray-calender: #dbdde2 !default;
$gray-background: #ededee !default;


//background
$background: #ebf4fb !default;
$background-grey: #e0e4ea !default;
$background-alt: #36424a !default;

//other
$light-blue: #ecf4fa !default;
$yellow: #ffc700 !default;
$filter-gray: #2a3339 !default;
$blue: #334d71 !default;

//bootstrap
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #ff3900 !default;
$white: #fff !default;
$black: #000 !default;
