///////////////////////////////////////////////////
/// TODO find a proper home for these styles, they are quick 'n dirty'

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.vertical-align {
    @include respond-min(map-get($grid-breakpoints, 'md')) {
      display: flex;
      flex-direction: row;

      > [class^="col-"],
      > [class*=" col-"] {
        display: flex;
        align-items: center;
        justify-content: center; /* Optional, to align inner items  horizontally inside the column */
      }
  }
}

.row--margin-bottom {
  margin-bottom: 2rem;
}

.container-fluid {
  padding: 0!important;
}

// remove for dev

.dev-overlay {
    position: fixed;
    z-index: 100000;
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: none;


    @include respond-min(map-get($grid-breakpoints, 'md')) {
        //background-size: 28px 28px;
    }


    &--open {
        display: block;
    }

    div[class="row"] {
        border: 1px dotted rgba(0, 0, 0, 0.5);
    }

    div[class^="col-"] {
        background-clip:content-box;
        background-color: rgba(4, 77, 239, 0.2);
        transition: all $transitionDuration $easing;
    }
}

body {
  transition: all $transitionDuration $easing;
}

.body--dark {
  background: #efefef;
}

body.dev-baseline {
    p {
        background: -webkit-linear-gradient(
                        90deg,
                        hsla(200, 100%, 50%, .3)    1px,
                        rgba(0,0,0,0)       1px,
                        rgba(0,0,0,0)       100%
                    );
        background-position: left top;
        background-size: 24px 24px;

        @include respond-min(map-get($grid-breakpoints, 'md')) {
            //background-size: 1.692em 1.692em, 7.692em 7.692em; /* 7.692 - 2.308 = 5.384 */
            background-size: 28px 28px;
        }

    }
}

.dev-overlay-toggler {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    background: #333;
    color: #fff;
    z-index: 10;
    border: 0;
}
