$font-family-sans-serif: "Helvetica-Neue-Roman", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family-sans-serif-bold: "Helvetica-Neue-Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family-sans-serif-light: "Helvetica-Neue-Light", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family-serif: "Playfair-Regular", serif !default;

$font-family-sans-serif-condensed:      "HelveeticaNeuLTStd-MdCn","Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family-monospace:      Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:           Helvetica, sans-serif !default;
$font-family-btn:            "Helvetica Neue Bold","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; // Added

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:             18px !default;
$font-size-base:             1rem !default; // 16px

$font-size-lg:               1.125rem !default; // 18px ?
$font-size-sm:               1rem !default;
$font-size-xs:               .75rem !default;

@function type-scale($level) {
  @return map-get($type-scale, $level);
}

$font-size-h1-xs:            2.3rem !default;     // 32px
$line-height-h1-xs:          2.2rem;            // 40px
$font-size-h1-md:            3.8rem !default;  // 68px
$line-height-h1-md:          4.2rem;           // 76px
$font-size-h1-lg:            4.44rem !default;     // 80px
$line-height-h1-lg:          4.9rem;            // 88px

$font-size-h2-xs:            1.333rem !default;   // 16*1.5 = 24px
$line-height-h2-xs:          1.7777rem;            // 16*2.5 = 40px
$font-size-h2-md:            2rem !default;  // 16*2.25 = 36px
$line-height-h2-md:          2.66rem;              // 16*3 = 48px

$font-size-h3-xs:            0.888rem !default; // 16*1.125 = 18px
$line-height-h3-xs:          1.3333rem !default;   // 16*1.5 = 24px
$font-size-h3-md:            1.2222rem !default;   // 16*1.5 = 24px
$line-height-h3-md:          1.77777rem !default;     // 16*2 = 32px

$font-size-h4-xs:            1rem !default;   // 16*1.125 = 18px
$line-height-h4-xs:          1.3333rem !default;     // 16*1.5 = 24px
$font-size-h4-md:            1.3333rem !default;   // 16*1.5 = 24px
$line-height-h4-md:          1.7777rem !default;     // 16*2 = 32px

$font-size-h5-xs:            0.666666rem !default;  //16*0.75 = 12px
$line-height-h5-xs:          1rem !default; // 16*1.5 = 18px
$font-size-h5-md:            0.77777rem !default; // 14px
$line-height-h5-md:          1.11111rem !default;  // 20px

$font-size-h6:               1rem !default;

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;

$line-height:                1.5 !default; // 24px / 16px
$line-height-base:           1.5 !default; // 24px / 16px

$lead-font-size:             1.25rem !default;
$lead-font-weight:           300 !default;

$text-muted:                  $gray-light !default;

$abbr-border-color:           $gray-light !default;

$blockquote-small-color:      $gray-dark !default;
$blockquote-font-size:        ($font-size-base * 1.75) !default; // = 28px
$blockquote-border-color:     $gray-lighter !default;


$hr-border-color:             rgba(0,0,0,.1) !default;
$hr-border-light:              $gray-light;

$dt-font-weight:              bold !default;
$nested-kbd-font-weight:      bold !default;
$list-inline-padding:         5px !default;
