/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

// lifted from http://jakearchibald.github.io/sass-ie/

$fix-mqs: false !default;

@mixin respond-min($width) {
    @if $fix-mqs {
        @if $fix-mqs >= $width {
            @content;
        }
    }
    @else {
        @media screen and (min-width: $width) {
            @content;
        }
    }
}

@mixin respond-max($width) {
    @if $fix-mqs {
        @if $fix-mqs <= $width {
            @content;
        }
    }
    @else {
        @media screen and (max-width: $width) {
            @content;
        }
    }
}

$old-ie: false !default;

@mixin old-ie {
    @if $old-ie {
        @content;
    }
}

@mixin padding($top, $right, $bottom, $left) {
    @include media-breakpoint-down(xl) {
        padding: (36px * $top) (36px * $right) (36px * $bottom) (36px * $left);
    }


    @include media-breakpoint-down(md) {
        padding: (28px * $top) (28px * $right) (28px * $bottom) (28px * $left);
    }


    @include media-breakpoint-down(xs) {
        padding: (20px * $top) (20px * $right) (20px * $bottom) (20px * $left);
    }
}

@mixin margin($top, $right, $bottom, $left) {
    @include media-breakpoint-down(xl) {
        padding: (36px * $top) (36px * $right) (36px * $bottom) (36px * $left);
    }


    @include media-breakpoint-down(md) {
        margin: (28px * $top) (28px * $right) (28px * $bottom) (28px * $left);
    }


    @include media-breakpoint-down(xs) {
        margin: (20px * $top) (20px * $right) (20px * $bottom) (20px * $left);
    }
}


@mixin paddingTop($multi) {
    @include media-breakpoint-down(xl) {
        padding-top: (36px * $multi);
    }


    @include media-breakpoint-down(md) {
        padding-top: (28px * $multi);
    }


    @include media-breakpoint-down(xs) {
        padding-top: (20px * $multi);
    }
}

@mixin paddingBottom($multi) {
    @include media-breakpoint-down(xl) {
        padding-bottom: (36px * $multi);
    }


    @include media-breakpoint-down(md) {
        padding-bottom: (28px * $multi);
    }


    @include media-breakpoint-down(xs) {
        padding-bottom: (20px * $multi);
    }
}

@mixin marginTop($multi) {
    @include media-breakpoint-down(xl) {
        margin-top: (36px * $multi);
    }


    @include media-breakpoint-down(md) {
        margin-top: (28px * $multi);
    }


    @include media-breakpoint-down(xs) {
        margin-top: (20px * $multi);
    }
}

@mixin marginBottom($multi) {
    @include media-breakpoint-down(xl) {
        margin-bottom: (36px * $multi);
    }


    @include media-breakpoint-down(md) {
        margin-bottom: (28px * $multi);
    }


    @include media-breakpoint-down(xs) {
        margin-bottom: (20px * $multi);
    }
}

@mixin tab-focus() {
  // WebKit-specific. Other browsers will keep their default outline style.
  // (Initially tried to also force default via `outline: initial`,
  // but that seems to erroneously remove the outline in Firefox altogether.)
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
