.footer {
    margin-bottom: -12px;

    &__border {

        border-top: 1px solid $gray-lighter;

        @include media-breakpoint-down(md) {
            margin-left: 32px;
            margin-right: 32px;
        }


        @include media-breakpoint-down(sm) {}


        @include media-breakpoint-down(xs) {
            margin-left: 14px;
            margin-right: 14px;
        }


        @include media-breakpoint-up(lg) {
            margin-left: 2%;
            margin-right: 2%;
        }
    }

    &__wrapper {
        @include paddingBottom(2);

        @include paddingTop(2);

        @include media-breakpoint-down(sm) {
            @include paddingTop(0);
        }
    }

    &__left {
        @include media-breakpoint-up(md) {
            //float: right;
            padding-right: 16px;
        }

        @include media-breakpoint-up(lg) {
            float: left;
            //margin-left: -37px;
        }

        &-links {

            @include media-breakpoint-up(md) {
                text-align: center;
            }

            @include media-breakpoint-up(lg) {
                border-left: 1px solid $inactive-dividers;
                float: left !important;
                text-align: left;
            }
        }

        &-bottom {

            @include media-breakpoint-up(md) {
                margin-top: 52px;
            }

            @include media-breakpoint-up(lg) {
                clear: both;
                margin-top: 0px;
            }
        }
    }

    &__zebra-img {
        //width: 100%;
        //margin: -30px auto 0;
        max-height: 174px;
    }

    &__links {
        @include media-breakpoint-down(sm) {
            @include paddingTop(2);
        }

        @include media-breakpoint-up(md) {
            ul {
                //float: right;
            }
        }

        @include media-breakpoint-up(lg) {
            ul {
                //clear: both;
            }
        }
    }

    &__right {
        @include media-breakpoint-up(md) {
            //float: right;
            margin-right: 8px;
            //width: 526px;
        }


        @include media-breakpoint-up(lg) {
            //width: 82%;
        }
    }

    ul {
        list-style: none;
        margin-bottom: 0;

        .footer__item {
            margin-bottom: 5px;

            @include media-breakpoint-up(md) {
                display: inline;
                border-left: 1px solid $inactive-dividers;
                margin-top: 0px;
                padding: 0px 15px 5px;
                line-height: 25px;

                &:first-child {
                    border-left: none;
                }

                &:last-child {
                    padding: 0px 0px 5px 15px;
                }

                &--last {
                    border-left: none;

                    img {
                        width: 78px;
                    }
                }
            }

            @include media-breakpoint-up(lg) {
                display: block;
                border-left: none;
            }
        }

        .footer__item-left {
            font-weight: bold;

            @include media-breakpoint-down(sm) {
                font-weight: normal;
            }
        }
    }

    &__copyright {
        color: #5e686e;
        padding: 15px 0px 15px;
        display: inline-block;
        font-size: 16px;

        @include media-breakpoint-up(xs) {
            margin-left: 0px;
            font-size: 13px;
        }


        @include media-breakpoint-up(sm) {
            //margin-left: -8px;
            float: left;
        }


        @include media-breakpoint-up(md) {
            margin-left: 1px;
            font-size: 14px;
            padding-top: 0px;
            float: right;
            margin-right: 10px;
        }


        @include media-breakpoint-up(lg) {
            margin-left: 0px;
            font-size: 16px;
            margin-top: 0px;
            padding-bottom: 30px;
            margin-right: 0px;
        }
    }

    &__icons-mobile {

        @include media-breakpoint-up(xs) {
            padding-top: 15px;
        }


        @include media-breakpoint-up(md) {
            //@include paddingTop(1);
            padding-top: 0px;
        }
    }

    &__icons-tablet {

        margin-top: 52px;

        @include media-breakpoint-up(lg) {
            margin-top: 0px;
        }
    }

    &__icons {
        padding-top: 53px;
        float: right;

        @include media-breakpoint-up(md) {
            padding-top: 0;
            float: left;
            margin-left: 10px;
        }


        @include media-breakpoint-up(lg) {
            margin-left: 0px;
            float: right;
        }


        svg {
            margin: auto;
            display: block;
        }
    }

    &__icon {
        display: inline;
        float: left;
        padding-right: 20px;
        margin-right: 10px;
        transition: 0.4s;

        &--faded {
            opacity: 0.5;
        }

        @include media-breakpoint-up(md) {
            padding-right: 0;
            //padding-right: 35px;
            //margin-right: 4px;
        }


        @include media-breakpoint-up(xl) {
            //padding: 0 0 0 25px;
            //float: right;
        }


        &:first-child {
            margin-left: 0;

            @include media-breakpoint-up(xs) {
                margin-right: 8px;
            }


            @include media-breakpoint-up(lg) {
                margin-right: 16px;
            }
        }

        &:last-child {
            padding: 0;

            @include media-breakpoint-up(xs) {
                margin-right: 0;
            }

            @include media-breakpoint-up(md) {
                margin-right: -4px;
            }
        }

        &__svg {
            display: none;
        }

        svg {
            fill: $brand-primary;
            height: 16px;
        }

        @include media-breakpoint-up(md) {
            &__svg {
                display: block;
                position: absolute;
                top: -9px;
                left: 0;
            }

            &__border {
                fill: none;
                stroke-width: 2;
            }

            &__border {
                stroke-width: 3;
                stroke-dasharray: 128%, 372%;
                stroke-dashoffset: -175;
                transition: all 0.5s ease-in;
            }

            $root: &;

            &-chaser {
                &:hover {
                    #{$root}__border {
                        stroke: $brand-primary;
                        stroke-width: 3;
                        stroke-dasharray: 200%, 0;
                        stroke-dashoffset: 20;
                        transition: all 0.85s ease-out;
                    }
                }
            }
        }
    }

    &__linkedin {
        width: initial;
        margin-left: -4px;

        @include media-breakpoint-up(md) {
            //width: 37px;
        }
    }

    &__twitter {
        width: initial;

        @include media-breakpoint-up(xs) {
            padding-right: 20px;
        }


        @include media-breakpoint-up(md) {
            padding-right: 8px;
        }


        //@include media-breakpoint-up(lg) {
        //    padding-right: 8px;
        //}
    }

    &__facebook {
        width: initial;

        @include media-breakpoint-up(xs) {
            padding-right: 12px;
        }


        @include media-breakpoint-up(md) {
            padding-right: 0px;
        }


        //@include media-breakpoint-up(lg) {
        //    padding-right: 0;
        //}
    }

    &__youtube {
        width: initial;

        @include media-breakpoint-up(xs) {
            padding-right: 20px;
        }


        @include media-breakpoint-up(md) {
            padding-right: 8px;
        }


        //@include media-breakpoint-up(lg) {
        //    padding-right: 8px;
        //}
    }

    &__instagram {
        width: initial;

        svg {
            height: 18px;
        }
    }








    //Unused as of 3 Nov 2016
    //.rows {
        //width: 100%;
        //margin: 0 auto;
        //max-width: 615px;
    //}

    //&__link {
    //    background-size: 6px auto;
    //    color: $gray-dark;
    //    font-size: 16px;
    //
    //    @include media-breakpoint-up(xs) {
    //        background: $white;
    //        padding-left: 0;
    //        font-size: 13px;
    //    }
    //
    //
    //    @include media-breakpoint-up(md) {
    //        background: $white;
    //        padding-left: 0;
    //        font-size: 14px;
    //    }
    //
    //
    //    @include media-breakpoint-up(xl) {
    //        font-size: 16px;
    //    }
    //}

    //&__inner {
    //    border-top: 2px solid #eceeef;
    //    padding: 0 25px 50px;
    //    position: relative;
    //
    //    @include media-breakpoint-up(md) {
    //        padding-left: 0;
    //    }
    //}








}
