.tabs-basic {
    &__accordion {
        padding-top: 20px;
    }

    &__panel {
        margin-top: -2px;

        ul {
            padding: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-top: -10px;
            margin-bottom: -10px;

            @include paddingTop(1);

            @include paddingBottom(2);

            @include respond-min(map-get($grid-breakpoints, "lg")) {
                @include paddingTop(0);

                @include paddingBottom(1);
            }


            li {
                list-style-type: none;
                padding-bottom: 5px;
                padding-left: 15px;
                background-position: 0px 3px;
                background-image: url("../images/icons/svg/bullet.svg");
                background-size: 6px;
                background-repeat: no-repeat;
                font-size: 14px;
                line-height: 18px;
                font-weight: lighter;

                @include respond-min(map-get($grid-breakpoints, "md")) {
                    font-size: 15px;
                    line-height: 20px;
                    background-position: 0px 5px;
                }


                @include respond-min(map-get($grid-breakpoints, "lg")) {
                    font-size: 16px;
                    line-height: 24px;
                }


                @include respond-min(map-get($grid-breakpoints, "md")) {
                    padding-bottom: 15px;
                }


                @include respond-min(map-get($grid-breakpoints, "md")) {
                    padding-bottom: 10px;
                }
            }
        }

        a {
            color: $brand-primary;
            font-weight: bold;

            /*border-bottom: solid 1px;*/
        }

        &__quote {
            font-size: 14px;
            line-height: 17px;

            @include respond-min(map-get($grid-breakpoints, "md")) {
                font-size: 28px;
                line-height: 44px;
            }


            @include respond-min(map-get($grid-breakpoints, "lg")) {
                font-size: 32px;
                line-height: 44px;
                margin-left: -0.9375rem;
            }
        }

        &__quote-holder {
            border-left: 2px solid $primary;
            margin-bottom: 20px;
            padding-bottom: 12px;
            padding-top: 15px;

            @include marginBottom(1);

            @include respond-min(map-get($grid-breakpoints, "lg")) {
                padding-bottom: 11px;
                padding-top: 6px;
                margin-bottom: 36px;
            }
        }

        &__line-end {
            width: 45px;
            height: 4px;
            background-color: $primary;
        }
    }
}
