.hide-reveal-accordion {


  &__title {

    font-size: 18px;

    @include media-breakpoint-up(md){
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 30px;
    }

  }

  &__desc {

    margin: 0;
    padding-bottom: 24px;

    @include media-breakpoint-up(md){
      padding-bottom: 36px;
    }

  }

  &__item {

    border-bottom: 1px solid #E2E2E3;
    display: table;
    list-style-type: none;
    padding: 16px 0px;
    position: relative;
    width: 100%;

    @include media-breakpoint-up(md){
      padding: 24px 0;
    }

    &:first-child {
      border-top: 1px solid #E2E2E3;
    }

    &--open {

    }

    &--closed {

      & .hide-reveal-accordion__content {
        display: none;
      }

    }

  }

  &__inner {
    display: table-row;
  }

  &__content {

    display: none;
    float: left;

    ul {



      li {
        margin-bottom: 20px;
      }

    }

  }

  &__heading {
    color: #485DC5;
    cursor: pointer;
    display: table-cell;
    font-family: $font-family-sans-serif-bold;
    font-size: 10px;
    line-height: 21px;
    padding: 5px 20px 0 0;
    //text-transform: uppercase;
    width: 100%;

    @include media-breakpoint-up(md){
      font-size: 12px;
      line-height: 20px;
    }

  }

  &__sub-heading {
    font-family: $font-family-sans-serif-bold;
    font-size: 15px;
    line-height: 20px;
    margin: 21.5px 0;
  }

  &__button {

    display: table-cell;
    vertical-align: middle;

    &--reveal {

      display: table-cell;

    }

    &--hide {

      display: none;

      .hide-reveal-accordion__item--open & {
        display: table-cell;
      }

    }

    svg {
      fill: #4E5DC9;
      height: 16px;
      width: 16px;

      @include media-breakpoint-up(md){
        height: 28px;
        width: 28px;
      }

    }

  }

  &__icon {
    cursor:pointer;
    height: 16px;

    @include media-breakpoint-up(md){

      height: 29px;

    }

  }

}
