<div class="content-block content-block--3-col" data-component="ContentBlock" data-scrollmagic="true" style="visibility: visible;">
    <div class="wide-component-background wide-component-background--lighter-grey">
        <div appScrolled class="container">
            <div class="row">
                <div class="col">
                    <h4>
                        Done Deals
                    </h4>
                </div>
            </div>
            <div class="row no-gutters my-4">
                <div class="col">
                    <a href="#" class="slider-arrow slider-arrow-left transition">
                        <img src="./assets/images/slider-arrow-left.png">
                    </a>
                    <a href="#" class="slider-arrow slider-arrow-right transition">
                        <img src="./assets/images/slider-arrow-right.png">
                    </a>
                    <inv-slick-slider class="inv-slick-slider" *ngIf="tombstones" [options]="options">
                        <div class="tombstone item" *ngFor="let tombstone of tombstones; let index=index" >
                            <inv-tombstone [tombstone]="tombstone">
                            </inv-tombstone>
                        </div>
                    </inv-slick-slider>
                </div>
            </div>
        </div>
    </div>
</div>
