h4{
    margin-top: 10px;
}

a.slider-arrow.slider-arrow-left {
    left: -40px;
}
a.slider-arrow.slider-arrow-right {
    right: -40px;
}
a.slider-arrow:hover {
    opacity: 1;
}
a.slider-arrow {
    position: absolute;
    top: 45%;
    opacity: 0.5;
    visibility: visible;
}
.transition {
    transition: all 0.3s ease-in-out;
}

.container {
    opacity: 0;
}
