.deal {
    height: 365px;
    float: left;
    outline: none !important;
    border-top: 4px solid #437CC4;
    border-bottom: 4px solid #437CC4;
    text-align: center;
    padding-top: 10px;
    margin: 0 65px;

    .deal-img-wrapper {
        height: 120px;
        max-height: 120px;
        overflow: hidden;
        position: relative;

        img {
            max-width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }

    .deal-copy {
        padding-left: 20px;
        padding-right: 25px;

        h3 {
            padding-bottom: 5px;
            margin: 15px 0 0 0;
            font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 24px;
            line-height: 36px;
            font-weight: normal;
        }

        h4 {
            font-family: Helvetica, Arial, sans-serif;
            font-weight: normal !important;
            font-size: 18px;
            line-height: 27px;
            font-weight: 600;
            margin-bottom: 15px;

            span {
                font-size: 14px;
            }
        }

        p {
            font-family: Arial, sans-serif;
            font-size: 13px;
            line-height: 17px;
            color: #00204e;
            text-align: left;
        }
    }
}
@media (min-width: 768px) {
    .deal {
        .deal-copy {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}
@media (max-width: 576px) {
    .deal {
        margin: 0;
    }
}
