<div class="deal">
    <div class="deal-img-wrapper">
      <img [src]="tombstone.desktopImagePath">
    </div>
    <div class="deal-copy">
        <h3>{{tombstone.title}}</h3>
        <h4>
            <span>{{tombstone.date}}</span>
            <br />
            {{tombstone.headline}}
        </h4>
        <p>{{tombstone.copy}}</p>
    </div>
</div>
