.search-results {

    &--results {

        @include media-breakpoint-down(md) {
            .wide-component-background {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .thought-leadership__copy-wrapper {
                padding: 0 25px 0px;

                @include media-breakpoint-up(md) {
                    padding: 0 32px 32px;
                }
        }

        .thought-leadership__article-info {
            margin-top: 22px;

            @include media-breakpoint-up(md) {
                margin-top: 32px;
            }
        }

        .thought-leadership__card {
            @include media-breakpoint-down(sm) {
                margin-top: 5px;
            }
        }
    }

    &__wrapper {
        padding: 30px 0;

        @include media-breakpoint-up(md) {
            padding: 44px 0;
        }

        .search-result--results & {
            @include media-breakpoint-up(md) {
                padding: 50px 0;
            }
        }
    }

    &__list {
        margin-bottom: 10px;
    }

    &__heading {
        padding-bottom: 9px;

        @include media-breakpoint-up (md) {
            padding-bottom: 22px;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: 30px;
        }
    }

    &__products {

        @include media-breakpoint-down(sm) {
            border-bottom: 1px solid $gray-light;
        }

        &-heading {
            padding-bottom: 22px;

            @include media-breakpoint-up(md) {
                padding-bottom: 28px;
            }

            @include media-breakpoint-up(lg) {
                padding-bottom: 32px;
            }
        }
    }

    &__articles {
        padding-top: 25px;

        @include media-breakpoint-up(md) {
            padding-top: 30px;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 34px;
        }
    }

    &__total {
        margin-bottom: 10px;
        margin-top: -5px;

        @include media-breakpoint-up(md) {
            margin-top: 4px;
        }

        &--tl {
            margin-top: 12px;
        }
    }

    &__summary {
        padding-bottom: 10px;
        margin-bottom: 0;
        cursor: default;

        @include media-breakpoint-up(md) {
            padding-bottom: 15px;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: 23px;
        }
    }
}
