.social-follow {

    &__container {
        //border-top: 1px solid $inactive-dividers;
        //border-bottom: 1px solid $inactive-dividers;
        padding: 24px 0 0 0;
    }

    ul {
        list-style: none;
        margin: 20px 0 24px 0;

        @include media-breakpoint-up(md) {
            margin-top: 0px;
        }
    }

    &__icons {
        padding: 0;
        height: 27px;

        @include media-breakpoint-up(md) {
            float: right;
        }
    }

    &__icon {
        svg {
            fill: $brand-primary;
            height: 14px;
            width: initial;
            margin-top: 5px;
        }

        height: 27px;
        display: inline;
        float: left;
        //border-left: 1px solid $inactive-dividers;
        text-align: center;

        @include media-breakpoint-up(md) {
            padding: 0 15px;
        }
    }

    &__icon:last-child {
        @include media-breakpoint-up(md) {
            padding-right: 0px;
        }
    }

    &__icon:first-child {
        border-left: none;

        @include media-breakpoint-up(md) {
            padding-left: 0px;
        }
    }

    &__facebook {
        svg {
            margin-right: -5px;
        }
    }

    &__title {

        font-family: $font-family-sans-serif-bold;
        color: $primary;
        font-size: 14px;
        line-height: 18px;
        margin: 5px 0px 0px 5px;

        @include media-breakpoint-up(md) {
            font-size: 15px;
            line-height: 19px;
            margin: 5px 0px 0px 0px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 16px;
            line-height: 20px;
        }
    }
}
