.text-input {

    &__input {
        width: 100%;
        border: none;
        border-bottom: 2px solid;
        border-bottom-color: $brand-primary;
        font-family: $font-family-sans-serif-light;
        outline: none;
        color: $primary;

        &:focus {
            border-bottom-color: $primary;
        }

        &--has-content {
            border-bottom-color: $primary;
        }

        &--animated{
            width: 0%;
        }
    }

    &__input-holder {
        position: relative;
        padding-top: 16px;

        @include media-breakpoint-up(md) {
            padding-top: 24px;
        }

        &--animated{
            opacity: 0;
        }
    }

    &__placeholder {
        position: absolute;
        left: 0px;
        top: 16px;
        font-family: $font-family-sans-serif-light;
        pointer-events: none;
        color: $quote-grey;
        font-size: 12px;

        @include media-breakpoint-up(sm) {
            font-size: 14px;
        }
        @include media-breakpoint-up(md) {
            top: 24px;
            font-size: 24px;
            left: 1px;
        }


        &--has-content {
            top: 0px !important;
        }


    }
}
