.forms-animated {

    &__next-button {
        width: initial;
        background: none;
        color: $brand-primary;
        border: none;
        float: right;
        margin-bottom: 30px;

        &:hover {
            .forms-animated__next-chevron {
                transform: translate(5px, 0);
            }
        }
    }

    &__counter {
        font-family: $font-family-sans-serif-bold;
        font-size: 14px;
        line-height: 14px;
        float: left;
        transform: translate(-31px, 0px);
        position: absolute;
        top: 0;
    }

    &__counter-current {
        padding-bottom: 5px;
    }

    &__counter-total {
        color: $gray;
    }

    &__section {
        position: relative;
    }

    &__next-chevron {
        transition: transform 0.3s $easing;
        display: inline-block;
        position: relative;
        transform: translate(0,0);
    }
}

