.search-results {

    &--products {

        @include media-breakpoint-down(md) {
            .wide-component-background {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .search-results__heading {
            padding-bottom: 9px;

            @include media-breakpoint-up (md) {
                padding-bottom: 22px;
            }

            @include media-breakpoint-up(lg) {
                padding-bottom: 30px;
            }
        }
    }

    &__wrapper {
        padding: 30px 0;

        @include media-breakpoint-up(md) {
            padding: 40px 0;
        }

        @include media-breakpoint-up(lg) {
            padding: 44px 0;
        }
    }

    &__list {
        margin-bottom: 10px;
    }

    &__summary {
        padding-bottom: 10px;
        margin-bottom: 0;

        @include media-breakpoint-up(md) {
            padding-bottom: 15px;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: 23px;
        }
    }

    &__products-heading {
        padding-bottom: 22px;

        @include media-breakpoint-up(md) {
            padding-bottom: 28px;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: 32px;
        }
    }
}
