@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../styles/helpers/_mixins.scss";
@import "../../../styles/helpers/_custom_new_variables";

.navigation-about-investec {

    &__title {
        border-bottom: 1px solid $off-white;
        padding-bottom: 25px;
        margin-bottom: 60px;
    }

    &__label {
        padding-bottom: 20px;
    }

    &__cheveron {}

    &__h4 {
        padding-bottom: 23px;
    }

    @include media-breakpoint-up(xs) {
      margin-top:-39px;
    }
    @include media-breakpoint-up(sm) {
      margin-top:0px;
    }

}
