.radio-input {
    width: 100%;
    padding-bottom: 20px;

    &__item {
        display: none;
    }

    &__icon {}

    &__icon {
        margin: 6px 0px 0 13px;
        display: block;
        float: right;

        path {
            fill: $brand-primary;
            transition: 0.4s;
        }
    }


    &__buttons--animated{

        opacity: 0;
    }

    &__holder {
        @include media-breakpoint-up(md) {
            margin-left: -20px;
        }
    }

    &__trigger-button {
        border: 1px solid $brand-primary;
        background: $white;
        color: $brand-primary;
        width: initial;
        padding: 11px 10px;
        float: left;
        margin-top: 12px;
        width: 100%;
        line-height: 14px;

        @include media-breakpoint-up(md) {
            width: initial;
            margin-left: 20px;
            padding: 12px 28px;
            line-height: 16px;
        }


        svg {
            transition: 0.4s;
        }

        &:focus , &:hover {
            border-color: $primary;
            color: $primary;
        }

        &--selected,
        &--selected:active,
        &--selected:focus,
        &--selected:hover {
            border-color: $primary;
            background: $primary;
            color: $white;

            svg {
                transform: rotate(135deg);
            }

            path {
                fill: $white;
            }
        }

        &--animated{
            opacity: 0;
        }
    }
}