.input-focus-animation--icons {
    position: relative;
    margin-top: 30px;
    padding-top: 15px;
    border-bottom: 2px solid $brand-primary;

    @include media-breakpoint-up(md) {
        padding-top: 25px;
    }


    &__input {
        margin-left: 10px;
        background: transparent;
        border: none;
        line-height: 22px;
        outline: none;
        float: left;
        width: 80%;

        @include media-breakpoint-up(md) {
            font-size: 22px;
            line-height: 28px;
            margin-left: 20px;
        }


        @include media-breakpoint-up(md) {
            font-size: 24px;
            line-height: 28px;
            margin-left: 20px;
        }
    }

    &__placeholder {
        position: absolute;
        left: 0px;
        top: 16px;
        font-family: $font-family-sans-serif-light;
        font-size: 16px;
        pointer-events: none;

        @include media-breakpoint-up(md) {
            font-size: 24px;
            top: 24px;
        }
    }

    svg {
        float: left;
        width: 15px;
        margin-top: -4px;

        @include media-breakpoint-up(md) {
            width: 21px;
            margin-top: -7px;
        }


        path {
            fill: $brand-primary;
        }
    }

    &__chevron {
        float: right;
        float: right;
        margin: 6px 0px 0 5px;
    }
}

.input-focus-animation--blue {
    color: $brand-primary;
}

.input-focus-animation--icons--focus {
    border-bottom: 2px solid $primary;
    svg {
        path {
            fill: $primary;
        }
    }
}