.sub-nav {

    cursor: pointer;

    &__container{

        padding: 32px 0 17px;

        @include media-breakpoint-up(md){
            padding: 37px 0 40px;
        }

        @include media-breakpoint-up(lg){
            padding: 37px 0 36px;
        }

    }

    &__link-holder{

        margin: 0 0 10px;
        @include media-breakpoint-up(md){
            margin: 0 0 17px;
        }


        @include media-breakpoint-up(lg){
            margin: 0 0 21px;
        }
    }

    &__inner {

        overflow: hidden;

        @include media-breakpoint-up(md){}

    }

    &__link {
        transition: 1s;
        //&--closed{
        //
        //    opacity: 0.4 !important;
        //}

    }

    h4{
        padding-bottom:28px;

        @include media-breakpoint-up(md){
            padding-bottom:36px
        }
    }

    li {
        list-style-type: none;

        @include media-breakpoint-up(xl){
            padding: 0 0 0 15px;
        }

    }

}
