.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;

    iframe {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
    }
}

.iframe {
    &__video {
        float: none;
    }

    &__overlay {
        background: $gray-dark;
        display: table;
        height: 200px;
        opacity: 0.5;
        text-align: center;
        width: 100%;
    }

    &__copy {
        color: $white;
        display: table-cell;
        vertical-align: middle;
    }

    &__heading {
        padding-bottom: 20px;

        @include media-breakpoint-up(md) {
            padding-bottom: 30px;
        }
    }
}
