.load-more {

    &__button {

        background: $gray-lighter;
        float: left;
        margin-top: 8px;
        padding: 15px 0 2px;
        width: 100%;
        border: none;

        @include media-breakpoint-up(md) {
            margin-top: 16px;
            padding: 20px 0 7px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 24px;
            padding: 20px 0 6px;
        }

        &:hover, &:focus {
            background: transparent;
        }
        &-copy {
            color: $brand-primary;
            display: inline-block;
            font-family: $font-family-sans-serif-bold;
            font-size: 10px;
            line-height: 10px;
            letter-spacing: 0.7px;
            margin-right: 6px;
            margin-top: -14px;

            text-transform: uppercase;
            vertical-align: middle;

            @include media-breakpoint-up(md) {
                font-size: 11px;
                line-height: 11px;
                margin-right: 14px;
                margin-top: -25px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 12px;
                line-height: 12px;
                margin-top: -23px;
                margin-right: 14px;
            }
        }
    }

    &__svg {
        fill: $brand-primary;
        margin: 2px 0px;
        @include media-breakpoint-up(xs) {
            height: 16px;
            width: 16px;
        }

        @include media-breakpoint-up(md) {
            height: 26px;
            width: 26px;
        }

        @include media-breakpoint-up(lg) {
            height: 28px;
            width: 28px;
        }
    }
}

