.search-results-tabs {

    @include media-breakpoint-down(md) {
        .wide-component-background {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .wide-component-background {
        padding-top: 20px;
        padding-bottom: 20px;

        @include media-breakpoint-up(md) {
            padding-top: 48px;
            padding-bottom: 33px;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 60px;
            padding-bottom: 60px;
        }

    }

    .thought-leadership__copy-wrapper {
        padding: 0 25px 0px;

        @include media-breakpoint-up(md) {
            padding: 0 32px 0px;
        }
    }

    .thought-leadership__article-info {
        margin-top: 22px;

        @include media-breakpoint-up(md) {
            margin-top: 32px;
        }
    }

    .thought-leadership__card {
        @include media-breakpoint-down(sm) {
            margin-top: 5px;
        }
    }

    &__heading {
        padding-bottom: 10px;

        @include media-breakpoint-up (md) {
            padding-bottom: 8px;
            margin-bottom: 0;
            line-height: 36px;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: 30px;
            margin-bottom: 0;
            line-height: 40px;
        }

        &--main {
            padding-bottom: 0;

            @include media-breakpoint-up(md) {
                margin-top: -9px;
                margin-bottom: 0;
                padding-bottom: 21px;
            }

            @include media-breakpoint-up(lg) {
                padding-bottom: 28px;
            }
        }
    }

    &__wrapper {
        background: $gray-lighter;

        @include media-breakpoint-down(sm) {
            padding: 30px 0 16px;
        }

        @include media-breakpoint-up (md) {
            padding: 40px;
        }

        @include media-breakpoint-up(lg) {
            padding: 60px 0;
        }
    }

    &__links {
        list-style: none;

        @include media-breakpoint-up(lg) {
            margin-left: -17px;
        }
    }

    &__link {
        margin-bottom: 4px;
        margin-top: 18px;

        &--contacts {
            margin-bottom: 18px !important;

            @include media-breakpoint-up(md) {}
            margin-top: 2px;
        }

        @include media-breakpoint-up(md) {
            margin-bottom: 11px;
            margin-top: 0;
        }
    }

    &__main-block {
        @include media-breakpoint-up(lg) {
            padding-left: 60px;
        }
    }

    &__list {
        margin-bottom: 10px;

        @include media-breakpoint-down(sm) {
            margin-top: 10px;
        }
    }

    &__image {
        margin-bottom: 15px;
        margin-top: 5px;

        @include media-breakpoint-up(md) {
            margin-bottom: 27px;
            margin-top: 0px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }
    }

    &__total {
        &--pages {
            margin-top: 10px;
            margin-bottom: 10px;

            @include media-breakpoint-up(md) {
                margin-top: 9px;
            }

            @include media-breakpoint-up(lg) {
                margin-bottom: 0;
            }

        }

        &--leadership {
            margin-top: 6px;
            margin-bottom: 10px;

            @include media-breakpoint-up(md) {
                margin-top: 9px;
            }

            @include media-breakpoint-up(lg) {
                margin-bottom: 0;
            }
        }
    }

    &__summary {

        margin-bottom: 0;
        padding-bottom: 10px;
        font-size: 13px;

        @include media-breakpoint-up(md) {
            font-size: 14px;
            padding-bottom: 16px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 16px;
        }
    }

    &__articles {

        padding-top: 25px;

        @include media-breakpoint-up(lg) {
            padding-top: 55px !important;
        }

        &--links {
            padding-top: 10px;

            @include media-breakpoint-up(md) {
                padding-top: 25px;
            }

            @include media-breakpoint-up(lg) {
                padding-top: 55px;
            }
        }
    }

    &__copy {
        padding-bottom: 25px;

        @include media-breakpoint-up(md) {
            margin-bottom: 14px;
        }
    }

    &__contact-link {
        font-size: 13px;
        margin-left: 12px;

        @include media-breakpoint-up(md) {
            font-size: 14px;
            vertical-align: middle;
        }

        @include media-breakpoint-up(lg) {
            font-size: 16px;
        }
    }

    &__contact-icon {
        vertical-align: middle;

        @include media-breakpoint-up(md) {
            vertical-align: sub;
        }

        svg {
            fill: $brand-primary;
            height: auto;
            width: 15px;

            @include media-breakpoint-up(md) {
                width: 17px;
            }
        }
    }

    &__stats {
        display: block;
        font-family: $font-family-serif;
        font-size: 24px;
        margin: 17px 0 8px;

        @include media-breakpoint-up(md) {
            font-size: 36px;
            margin: 27px 0 16px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 40px;
            margin: 5px 0 16px ;
        }
    }

    &__rates {
        font-family: $font-family-sans-serif-bold;
        font-size: 13px;

        @include media-breakpoint-up(md) {
            font-size: 14px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 16px;
        }
    }

    &__tabs {
        @include media-breakpoint-up(lg) {
            padding-left: 60px;
        }
    }

    &__statistics {

        @include media-breakpoint-up(lg) {
            margin-bottom: 22px;
        }
    }

    .hide-reveal-tabs {

        @include media-breakpoint-down(sm) {
            margin-bottom: -8px;
            margin-top: 28px;
        }
    }

    .accordion__content ul {
        margin-left: 0;

        @include media-breakpoint-down(sm) {
            margin-left: 4px;
        }
    }

    .accordion__content ul li {

        @include media-breakpoint-down(sm) {
            margin-bottom: 10px;
        }
    }

    .accordion__item:last-child {
        border-bottom: none;
    }
}
