<div class="hero-messaging-gradient hidden-sm-down">
    <div class="row h-100">
        <div class="col">
            <img [src]="zebraSrc" class="hero-messaging-gradient__zebra" alt="">
            <inv-polygon class="hero-messaging-gradient__polygon" [uniqueId]="'hero-messaging-gradient'"></inv-polygon>
            <div class="container">
                <div class="row">
                    <div class="hero-messaging-gradient__image-overlay col-md-6 offset-md-1 offset-lg-0">
                        <h1>{{strapLine}}</h1>
                        <h2>{{siteName}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile-messaging hidden-md-up">
    <div class="row h-100">
        <div class="col">
            <inv-polygon class="mobile-messaging__polygon" [uniqueId]="'mobile-messaging'"></inv-polygon>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="mobile-messaging__image-underlay hidden-md-up">
                            <h1>{{strapLine}}</h1>
                            <h2>{{siteName}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
