@import "~styles/sec-variables.scss";

:host {
    display: block;
    height: 320px;

    @include media-breakpoint-down(sm) {
        height: 100px;
    }
}

.mobile-messaging,
.hero-messaging-gradient {
    background: #ECEDEF;
    height: 320px;
    left: 0;
    margin: 0 auto;
    max-width: $layoutWidth - 30px;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    z-index: 1000;

    @include media-breakpoint-down(sm) {
        height: 100px;
    }

    &__zebra {
        bottom: 0;
        opacity: 0.8;
        position: absolute;
        right: 5%;
        width: 450px;
        z-index: 1;
    }

    &__gradient-mask {
        max-height: 235px;
        overflow: hidden;
    }

    &__gradient-holder {
        background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(20, 33, 38, 1) 50%, rgba(21, 21, 21, 0) 100%) repeat scroll 0 0;
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 50%;

        @include media-breakpoint-up(lg) {
            background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(20, 33, 38, 1) 60%, rgba(21, 21, 21, 0) 100%) repeat scroll 0 0;
        }
    }

    &__image-holder {
        position: relative;
        opacity: 0;

        @include media-breakpoint-up(xs) {
            right: 0;
            width: 100%;
            max-height: 133px;
        }

        @include media-breakpoint-up(md) {
            max-height: 195px;
        }

        @include media-breakpoint-up(lg) {
            max-height: 320px;
        }
    }

    &__copy {
        padding-left: 8px;
        padding-right: 8px;

        @include media-breakpoint-up(lg) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__image-mask {
        overflow: hidden;
    }

    &__image-overlay {
        left: 5%;
        margin-top: 0;
        position: absolute;
        top: 100px;
    }

    &__image-underlay {
        margin: 25px 0 0 3%;
    }

    &__image-overlay,
    &__image-underlay {
        h1 {
            font-size: 40px;
            line-height: 1.4;

            @include media-breakpoint-down(sm) {
                font-size: 30px;
                line-height: 1;
            }
        }
        h2 {
            font-size: 23px;
            line-height: 1.4;

            @include media-breakpoint-down(sm) {
                font-size: 22px;
                line-height: 1.3;
            }
        }
    }

    &__copy-white {
        color: white;
    }

    &__copy-black {
        color: black;
    }

    &__copy-grey {
        color: $slate-grey;

        @include media-breakpoint-up(md) {
            color: $light-blue;
        }
    }

    &__heading,
    &__copy {
        color: $primary;
    }

    &__heading-white,
    &__copy-white {
        color: $white;
    }

    &__heading-grey,
    &__copy-grey {
        color: $quote-grey;
    }

    &__polygon {
        display: block;
        position: absolute;
        right: -1000px;
        top: -700px;
    }
}

.hero-messaging-gradient--light {
    .hero-messaging-gradient__copy-white {
        color: $primary;
    }

    .hero-messaging-gradient__copy-grey {
        color: $primary;
    }

    .hero-messaging-gradient__gradient-holder {
        background: linear-gradient(to right, rgba(236, 237, 239, 1) 0, rgba(236, 237, 239, 1) 50%, rgba(236, 237, 239, 0) 100%);
        display: block;
        height: 100%;
        max-height: 235px;
        position: absolute;
        top: 0;
        width: 50%;

        @include media-breakpoint-up(lg) {
            background: -moz-linear-gradient(left, rgba(236, 237, 239, 1) 0, rgba(236, 237, 239, 1) 60%, rgba(236, 237, 239, 0) 100%);
            background: -webkit-linear-gradient(left, rgba(236, 237, 239, 1) 0, rgba(236, 237, 239, 1) 60%, rgba(236, 237, 239, 0) 100%);
            background: linear-gradient(to right, rgba(236, 237, 239, 1) 0, rgba(236, 237, 239, 1) 60%, rgba(236, 237, 239, 0) 100%);
        }
    }
}

.hero-messaging-gradient--no-gradient {
    .hero-messaging-gradient__gradient-holder {
        display: none;
    }
}

.container {
    position: static;
}
