.alerts-country {
  background: $gray-dark;
    position: relative;

    @include media-breakpoint-up(md) {
        margin-bottom: -20px;
    }


  &__wrapper {

    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;

    @include media-breakpoint-up(md) {
      padding-top: 18px;
      padding-bottom: 18px;
    }

    @include media-breakpoint-only(xl) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  &__copy {
    color: $white;
    padding-bottom: 0;
    margin-bottom: 0;
    float: right;
  }

  &__close {
    background: none;
    padding: 0;
    border: none;
    line-height: 0;
    width: initial;
    float: right;

    &:hover {
      background: none;
    }
  }

  &__buttons {
    display: table-cell;
    vertical-align: middle;
    padding-left: 16.66667%;
    width: 100%;

    @include media-breakpoint-up(md) {
      padding-left: 8.33333%;
    }
  }

  &__inner {
    display: table;

  }

  &__text {
    display: table-cell;
    width: 100%;

  }

  &__svg
  {
    fill: $white;
  }
}
