.title {
    &__container {
        background-color: #FFF;
        padding: 0;

        &--full-image {
            margin: 0;
        }

        &-outer {
            height: 100%;
        }

        &-inner {
            margin-top: 44px;
            background: #FFF;
            bottom: 0;
            position: relative;

            @include media-breakpoint-up(sm) {

            }


            @include media-breakpoint-up(md) {
       
                margin-top: 80px;
            }


            // (lg) to behave between md and xl. xl properties make the pages look funny
            // check 1280 breakpoint
            @include media-breakpoint-up(lg) {
                
                margin-top: 144px;
            }


            @include media-breakpoint-up(xl) {
                
                margin-top: 144px;
            }


            .title__container--full-image & {
                margin-top: 160px;
                padding-top: 24px;

                @include media-breakpoint-up(sm) {
                    margin-top: 184px;
                }


                @include media-breakpoint-up(md) {
                    padding-left: 60px;
                    padding-top: 60px;
                    padding-bottom: 0;
                    margin-top: 200px;
                }


                @include media-breakpoint-up(xl) {
                    padding-left: 99px;
                    padding-top: 60px;
                    margin-top: 288px;
                    max-height: 623px;
                }
            }
        }
    }

    &__main-image-holder{

      position: relative;
      height: 100%;
    }
    &__main-image{

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &__full-image {
        display: none;
        max-height: 509px;
      @include media-breakpoint-up(xl) {
         max-height: 605px;
       }

        .title__container--full-image & {
            position: absolute;
            left: 0;
            display: block;
            // background: url("../images/summary-full-mobile.jpg") no-repeat;
            overflow: hidden;
            width: 100%;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

            @include media-breakpoint-down(xs) {
                height: 160px !important;
                background-size: cover;
            }


            @include media-breakpoint-up(md) {
                background-size: cover;
            }


            @include media-breakpoint-up(lg) {

                background-size: cover;
                background-position-x: 50%;
            }


            @include media-breakpoint-up(xl) {

                background-size: cover;
                background-position-x: 50%;
            }


        }
    }

    &__logo-sub-heading {
        @include media-breakpoint-up(sm) {
            margin-bottom: 20px;
        }


        @include media-breakpoint-up(md) {
            margin-bottom: 28px;
        }


        @include media-breakpoint-up(xl) {
            margin-bottom: 36px;
        }
    }

    &__image {
        width: 100%;
        max-width: 56px;

        @include media-breakpoint-up(sm) {
            float: left;
        }

        @include media-breakpoint-up(md) {
          max-width: 95px;
        }

        @include media-breakpoint-up(lg) {
          max-width: 112px;
        }
    }

    &__logo {
        @include media-breakpoint-up(xs) {
            margin-bottom: 20px;
        }


        @include media-breakpoint-up(sm) {
            margin-bottom: 0;
            float: left;
        }


        .title__image--bordered {
            @include media-breakpoint-up(sm) {
                border-right: 1px solid #dddfe1;
                padding-right: 20px;
                height: 30px;
                display: inline-block;
            }
          @include media-breakpoint-up(md) {
            height: 52px;
          }
          @include media-breakpoint-up(lg) {
            height: 60px;
          }
        }
    }

    &__sub-head {
        display: block;

        @include media-breakpoint-up(xs) {
            margin-bottom: 20px;
        }


        @include media-breakpoint-up(sm) {
            float: left;
            margin: 3px 0 0 0;
        }


        @include media-breakpoint-up(md) {
            margin-top: 0px;
        }

        @include media-breakpoint-up(md) {
            font-size: 20px;
        }

    }

    &__sub-head--padding {
      @include media-breakpoint-up(sm) {
        float: left;
        margin: 3px 0 0 0;
        padding-left: 25px;
      }
      @include media-breakpoint-up(md) {
        margin-top: 10px;
      }
      @include media-breakpoint-up(lg) {
        margin-top: 11px;
      }
    }

    &__main-head {
        @include media-breakpoint-up(xs) {
            padding-bottom: 20px;
        }


        @include media-breakpoint-up(md) {
            padding-bottom: 30px;
            margin: 0;
        }


        @include media-breakpoint-up(xl) {
            padding-bottom: 30px;
            margin: 0;
        }
    }

    &__heading {
        width: 230px;

        @include media-breakpoint-up(md) {
            width: 400px;
        }


        @include media-breakpoint-up(lg) {
            width: initial;
        }
    }

    &__text {
        padding: 0;
 
    }

    &__paragraph {
        @include media-breakpoint-up(xs) {
         
        
        }


        @include media-breakpoint-up(sm) {
       
   
        }


        @include media-breakpoint-up(md) {
    
        }


        @include media-breakpoint-up(xl) {
       
        }


        .title__container--full-image & {
            @include media-breakpoint-up(md) {
                padding-left: 60px;
            }


            @include media-breakpoint-up(lg) {
                padding-left: 60px;
            }


            @include media-breakpoint-up(xl) {
                padding-left: 99px;
            }
        }
    }

    &__img-zebra {
        padding: 0;

        @include media-breakpoint-up(lg) {
            margin-top: -60px;
        }


        @include media-breakpoint-up(xl) {
            margin-top: -70px;
        }


        .title__container--full-image & {
            display: none;
        }
    }
}

#image-control {
    position: relative;
}
