
.market-data {

    &__table {

        margin: 30px 0 0;

        .lt-ie10 & {
            table-layout: fixed;
        }

        @include media-breakpoint-up(lg) {
            margin: 0;
        }

        &--last {
            margin: 0;
        }

    }

    &__table-heading {

        display: table-cell;
        font-family: $font-family-sans-serif-bold;
        line-height: 16px;
        text-transform: uppercase;
        width: 65.5%;

        .lt-ie10 & {
            width: 43.22%;
        }

        .market-data__table--commodities & {
            width: 46%;
        }

        @include media-breakpoint-up(sm){
            width: 46.5%;
        }

        @include media-breakpoint-up(lg){
            font-size: 14px;
            width: 65.5%;
        }

        &--increase {
            border-bottom: 3px solid $brand-success;
            padding: 0 8.5px;
        }

        &--decrease {
            border-bottom: 3px solid $brand-danger;
            padding: 0 8.5px;
        }

        &--currency {
            background: url('../images/icons/svg/icon-double-arrow.svg') no-repeat scroll 0 40% / 12px transparent;

            &:last-child {
                padding: 0 0 0 15px;
            }

        }

    }

    &__table-row {
        border-bottom: 1px solid $gray;
        margin-bottom: 20px;
    }

    &__table-data {

        display: table-cell;
        line-height: 16px;
        padding-bottom: 5px;
        width: 65.5%;

        .lt-ie10 & {
            width: 44%;
        }

        @include media-breakpoint-up(sm){
            width: 46.5%;
        }

        @include media-breakpoint-up(lg){
            font-size: 14px;
            width: 65.5%;
            white-space: nowrap;
        }

        .market-data__table--commodities & {
            width: 46%;
        }

        .market-data__table-footer & {

            font-size: 10px;
            padding-right: 20px;
            width: initial;

            @include media-breakpoint-up(xl){
                font-size: 12px;
            }

        }

        &:last-child {
            padding: 0 8.5px;
        }

        &--date {

            display: block;

            @include media-breakpoint-up(sm){
                display: table-cell;
            }

        }

        &--increase {
            border-bottom: 3px solid $brand-success;
            padding: 0 8.5px;
        }

        &--decrease {
            border-bottom: 3px solid $brand-danger;
            padding: 0 8.5px;
        }

        &--currency {
            background: url('../images/icons/svg/icon-double-arrow.svg') no-repeat scroll 0 40% / 12px transparent;

            &:last-child {
                padding: 0 0 0 15px;
            }

        }

    }

}
