
.padding-bottom-1 {
    @include paddingBottom(1);

    @include media-breakpoint-up(xs) {
        padding-bottom:25px;
    }
}

.padding-bottom-half {
    @include paddingBottom(0.5);
}

.padding-top-1 {
    @include paddingTop(1);
}

.padding-top-2 {
    @include paddingTop(2);
}

.padding-top-ul {}

.padding-bottom-li {
    padding-bottom: 14px;

    @include media-breakpoint-down(md) {
        padding-bottom: 10px;
    }
}

.login-button {
    position: absolute;
    top: 14px;
    right: 22px;
    //float: right;
}

.search-button {
    // position: relative;
    // // top: 14px;
    // right: 22px;
    // float: right;
}



.display-none {
    display: none;
}

.headerNavForStripCountry{
    position: relative;
    float:right;
    color:#fff;
}

.nav-bold {}

.headerNavForStripPipe{
    color: #fff;
    float: left;
    position: relative;
    font-size: 23px;
    //margin-right: 26px;
    font-weight: 100;
    background-color: #fff;
    width: 1px;

    @include media-breakpoint-up(xs) {
        //margin-right: 8px;
    }


    @include media-breakpoint-up(sm) {
        //margin-right: 16px;
    }

}

.headerNavForStripBlue{
    color:#485dc5;
}

.headerNavForStripCountryCopy{
    float:left;
    padding: 0 14px;
    display: none;

    @include media-breakpoint-down(xs) {

    }


    @include media-breakpoint-down(md) {
      padding-left: 0;
    }


    @include media-breakpoint-up(md) {
        display: block;
    }


    @include media-breakpoint-up(lg) {
        display: block;
    }
}

.hideForXSMobilePipe{
    display: none;

    @include media-breakpoint-up(xs) {

    }


    @include media-breakpoint-up(sm) {
      display: block;
    }


    @include media-breakpoint-up(md) {
        display: block;
    }


    @include media-breakpoint-up(lg) {
        display: block;
    }

}

.hideForMobilePipe{
    display: none;

    @include media-breakpoint-up(xs) {

    }


    @include media-breakpoint-up(sm) {

    }


    @include media-breakpoint-up(md) {
        display: block;
    }


    @include media-breakpoint-up(lg) {
        display: block;
    }

}

.headerNavForStripCountryCopyHideMobile{
    display: none;
    float: left;

    @include media-breakpoint-up(xs) {

    }


    @include media-breakpoint-up(sm) {

    }


    @include media-breakpoint-up(md) {
        //display: block;
    }


    @include media-breakpoint-up(lg) {
        display: block;
    }

}

.headerNavForStrip{
    background-color: #16374d;
    height: 65px;
    padding-top: 19px;
    margin-bottom: 30px;
    top: 0px;

    @include media-breakpoint-up(xs) {
        // position: relative;
        top: -20px;
        height: 60px;
    }



    .js-noverlay__btn{
        color: $white;
        a{
            color: $white;
        }

        &--selected{
            color: $brand-primary;
            a{
                color: $brand-primary;
            }
            .territory-toggler__label{
                color: $brand-primary;
            }
        }
    }

}


.headerControlSpacer{
    display: inline-block;
    //margin-left: 16px;
    //margin-right: 16px;
    margin-bottom: -8px;
    width: 1px;
    height: 27px;
    @include media-breakpoint-up(xs) {
      //margin-left: 8px;
      //margin-right: 8px;
    }
    @include media-breakpoint-up(sm) {
      //margin-left: 16px;
      //margin-right: 16px;
    }
}

.headerControlSpacer{

}



.subNavLink {
    font-size: 16px;

    @include media-breakpoint-up(xs) {
        font-size: 14px;
    }


    @include media-breakpoint-up(sm) {
        font-size: 14px;
    }


    @include media-breakpoint-up(md) {
        font-size: 14px;
    }


    @include media-breakpoint-up(lg) {
        font-size: 16px;
    }
}

.subNavLink > a {
    display: inline-block;
    color:  #485dc5;
    text-decoration: none;
    transform: translate(0px, 0px);
    transition: all 0.3s ease-in-out 0s;
}

.subNavLink {
    a:hover {
        transform: translate(5px, 0px);
    }
}

.noverlay__col_2 .noverlay__overview {
    padding-top: 40px;

    @include media-breakpoint-up(sm) {
        padding-top: 39px;
        margin-bottom: 10px;
    }


    @include media-breakpoint-up(md) {
        padding-top: 41px;
        margin-bottom: 10px;
    }


    @include media-breakpoint-up(lg) {
        padding-top: 44px;
        margin-bottom: 14px;
    }
}

.noverlay__col_2 .noverlay__overview-mobile {
    //padding-top: 40px;
    margin-bottom: 20px;

    @include media-breakpoint-up(sm) {
        //padding-top: 39px;
        margin-bottom: 20px;
    }


    @include media-breakpoint-up(md) {
        // padding-top: 41px;
        margin-bottom: 26px;
    }


    @include media-breakpoint-up(lg) {
        // padding-top: 44px;
        margin-bottom: 38px;
    }
}

.mobileHideHr {
    //padding-top: 40px;
    display: none;

    @include media-breakpoint-up(xs) {
        display: none;
    }

    @include media-breakpoint-up(sm) {
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        display: block;
        background-color: #5E686E;
        margin-bottom: 60px;
        top: 36px;
    }


    @include media-breakpoint-up(md) {
        display: none;
    }


    @include media-breakpoint-up(lg) {
        display: none;
    }
}


.headerNavForStripCountryCopyMobileOnly {
    font-size: 20px;
    display: none;

    @include media-breakpoint-up(xs) {
        font-size: 25px;
        display: block;
        top: -40px;
        position: relative;
    }

    @include media-breakpoint-up(sm) {
      font-size: 20px;
        display: block;
    }


    @include media-breakpoint-up(md) {
      display: none;
    }


    @include media-breakpoint-up(lg) {
      display: none;
    }
}

.navigation-mobile .subnav_column {
    margin-top: -30px;
}

.territory-selectorIcon{
  padding-left:10px;
  padding-right:5px;
  height: 22px;
}

.navigation {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    z-index: 1000;

    .navigation-toggler__hamburger {
        display: none;
    }

    .navigation-toggler__cross {
        display: block;
    }

    &__top-font {
        font-size: 12px;
        // text-transform: uppercase;
        // font-weight: bold;
        // font-family: $font-family-sans-serif-bold;

        @include media-breakpoint-down(xs) {
            font-size: 14px;
        }
        @include media-breakpoint-down(sm) {
            font-size: 13px;
        }
    }
}

.noverlay-controls-right {
    list-style: none;
    // float: right;
    position: relative;
    padding: 0;
    vertical-align: middle;
    font-size: 11px;
    line-height: 28px;
    padding-top: 18px;

    .noverlay__logo {
        padding-right: 40px;
        float: left;
    }

    @include media-breakpoint-up(xs) {
        .noverlay__logo {
            display: inline-block;
            width: 100%;
            //padding-bottom: 20px;
        }

        .navigation-toggler {
            float: right;
            top: 3px;

            @include media-breakpoint-down(xs) {
              //top: -37px;
              left: -33px;
              top: 4px;
            }
        }
    }


    @include media-breakpoint-up(sm) {
        .noverlay__logo {
            display: inline-block;
            width: initial;
            padding-bottom: 0px;
        }

        .navigation-toggler {
            float: right;
            top: 3px;
        }
    }

    // @include media-breakpoint-up(sm) {
    //     .navigation-toggler {
    //         top: -37px;
    //     }
    // }


    @include media-breakpoint-up(md) {
        .navigation-toggler {
            top: 7px;
        }
    }


    @include media-breakpoint-up(lg) {
        .navigation-toggler {
            top: -7px;
        }
    }


    @include media-breakpoint-down(md) {
        padding-top: 0px;
        padding-bottom: 24px;
        width: 100%;
    }


    @include media-breakpoint-up(md) {
        .noverlay__logo {
            display: inline-block;
        }
    }


    @include media-breakpoint-up(lg) {
        .noverlay__logo {
            display: inline-block;
            padding-right: 40px;
            float: left;

        }

        .logo svg {
            width: 176px;
            // top: -10px;
            position: relative;
        }

    }


    &__item {
        display: inline-block;
        padding-right: 30px;
    }

    &__divider {
        display: inline-block;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: -8px;
        width: 1px;
        height: 27px;
        background-color: $grey-on-slate-divider;
    }

    &__link {
        display: inline-block;
        vertical-align: middle;
    }

    &__icon {
        margin-right: 10px;
    }
}

.noverlayMobile {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $gray-dark;
    // color: $white;
    overflow-y: scroll;

    &__header_cols_0 {
        background-color: $gray-darkest;
        width: 100%;
        position: relative;
        top: -70px;
        left: -20px;
        width: 111%;
    }

    &__mobileSubNavBack-icon {
        display: inline-block;
        padding-top: 32px;
    }

    &__mobileSubNavBack-title {
        display: inline-block;
        padding-top: 34px;
        font-size: 16px;
        padding-bottom: 10px;
    }
}

.noverlay {
    height: 100%;
    // background-color: $gray-dark;
    // color: $white;
    overflow-y: scroll;

    .header-controls__item-first {
        padding-right: 58px;
    }

    &__h4 {
        // color: white;
        font-family: $font-family-sans-serif-bold;
        font-size: 20px;

        @include media-breakpoint-up(sm) {
            font-size: 20px;
        }


        @include media-breakpoint-up(md) {
            font-size: 18px;
        }


        @include media-breakpoint-up(lg) {
            font-size: 20px;
        }
    }

    &__headerNavDrop {
        color:#485dc5;
        font-size: 16px;
        float: left;
        left: -17px;
        position: relative;

    }

    &__menuZebra{
        padding-bottom:20px;
        display:none;

        @include media-breakpoint-up(sm) {
            display:none;
        }


        @include media-breakpoint-up(md) {
            display:none;
        }


        @include media-breakpoint-up(lg) {
            display:block;
        }
    }

    &__headerNavBottomIcons{
        width: 30px;
        margin-right: 30px;
    }

    &__dropdownSupportBoxes{
    background-color: #ebf4fb;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 260px;
    display:none;

    @include media-breakpoint-up(sm) {
        display:none;
    }


    @include media-breakpoint-up(md) {
        min-height: 237px;
        display:block;
    }


    @include media-breakpoint-up(lg) {
        min-height: 260px;
        display:block;
    }

    }

    &__dropdownSupportBoxesTabletText{
        padding-top:10px;

        @include media-breakpoint-up(xs) {
            padding-top:0px;
            padding-bottom:15px;
            text-align: left;
        }
    }

    &__dropdownSupportBoxesTablet{
    background-color: #ebf4fb;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 28px;
    padding-bottom: 15px;
    min-height: 110px;
    display:none;

    @include media-breakpoint-up(xs) {
        display:block;
        min-height: 155px;
    }

    @include media-breakpoint-up(sm) {
        display:block;
        min-height: 110px;
    }


    @include media-breakpoint-up(md) {

        display:none;
    }


    @include media-breakpoint-up(lg) {

        display:none;
    }

    }

    &__copyright {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        color: $gray-light;
        font-size: 10px;
    }

    &__subNavBack {
        transform: translateX(5px);
        margin-bottom: 5px;
    }

    &__arrow-mobile {
        height: 16px;
        width: 15px;
        margin-left: -5px;
    }

    &__subnav-title {
        padding-bottom: 20px;
    }

    &__section {
        padding-top: 4px;

        @include media-breakpoint-up(xs) {
            padding-top: 35px;
        }

        @include media-breakpoint-up(sm) {
            padding-top: 4px;
        }


        @include media-breakpoint-up(md) {
            padding-top: 4px;
        }


        @include media-breakpoint-up(lg) {
            padding-top: 4px;
        }
    }

    &__inner {
        display: block;
        float: left;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 4px;

        @include media-breakpoint-down(md) {
            padding-top: 34px;
        }

        @include media-breakpoint-down(sm) {
            padding-top: 13px;
        }
    }

    &__chevron {
        height: 16px;
        width: 11px;
        margin-left: 2px;
        margin-bottom: -3.5px;

        polygon {
            fill: #485dc5;
        }

        @include media-breakpoint-down(md) {
            margin-bottom: -2.5px;
        }
    }

    &__head {
        position: relative;
        left: 0px;
        top: 0px;
        width: 100%;
        // background-color: $gray-darkest;

        //@include media-breakpoint-down(sm) {
        // min-height: 120px;
        //}

    }

    &__controls-left {
        list-style: none;
        float: left;
        position: relative;
        padding: 0;
        padding-bottom: 14px;
        margin-top: 3px;

        @include media-breakpoint-down(sm) {
            display: block;
            width: 100%;
        }


        &__item {
            display: inline-block;
            padding-left: 30px;
        }
    }

    &__logo {
        display: inline-block;
        cursor: pointer;
        // color: $white;
        padding-right: 40px;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__divider {
        display: inline-block;
        cursor: pointer;
        width: 1px;
        height: 36px;
        background-color: $grey-on-slate-divider;
        margin-bottom: -6px;
        margin-left: 8px;
        margin-right: 17px;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &__for_myself {
        display: inline-block;
        cursor: pointer;
        // color: $white;
        //padding-right: 26px;
        padding: 0 26px;
        position: relative;
        float: left;

        box-sizing: border-box;

        @include media-breakpoint-up(xs) {
            //padding-right: 8px;
            padding: 0 8px;
        }
        @include media-breakpoint-up(sm) {
            //padding-right: 16px;
            padding: 0 15px;
        }
    }

    &__for_my_business {
        display: inline-block;
        cursor: pointer;
        // // color: $white;
        //padding-right: 26px;
        padding: 0 26px;
        position: relative;
        float: left;

        @include media-breakpoint-up(xs) {
            //padding-right: 8px;
            padding: 0 8px;
        }
        @include media-breakpoint-up(sm) {
            //padding-right: 16px;
            padding: 0 15px;
        }
    }

    &__for_my_client {
        display: inline-block;
        cursor: pointer;
        // // color: $white;
        //padding-right: 26px;
        padding: 0 26px;
        position: relative;
        float: left;

        @include media-breakpoint-up(xs) {
            //padding-right: 8px;
            padding: 0 8px;
        }
        @include media-breakpoint-up(sm) {
            //padding-right: 16px;
            padding: 0 15px;
        }
    }

    &__about_investec {
        display: inline-block;
        cursor: pointer;
        //padding-right: 0px;
        padding: 0 26px;
        position: relative;
        float: left;

        @include media-breakpoint-up(xs) {
            //padding-right: 16px;
            padding: 0 16px;
            display:none;
        }
        @include media-breakpoint-up(sm) {
            //padding-right: 16px;
            padding: 0 15px;
            display: inline-block;
        }
    }

    &__slide_bar {
        position: absolute;
        display: block;
        //width: 50px;
        height: 60px;
        background-color: $white;
        top: 0px;
        left: 0px;
    }

    &__section0 {
        display: block;
        min-height: 390px;
    }

    &__section1 {
        min-height: 390px;
    }

    &__section2 {
        min-height: 390px;
    }

    &__section3 {
        min-height: 390px;
    }

    &__section4 {
        min-height: 390px;
    }

    &__section5 {
        min-height: 390px;
    }

    &__section6 {
        min-height: 390px;
    }

    &__who-title {
        padding-bottom: 0px;
    }

    &__who {
        position: relative;
        display: block;
        // color: $white;
    }

    &__who_list {
        padding-top: 20px;
        padding-bottom: 30px;
        position: relative;
        display: block;
        // color: $white;

        @include media-breakpoint-down(md) {
            padding-bottom: 13px;
        }


        @include media-breakpoint-up(sm) {
            padding-top: 14px;
        }


        @include media-breakpoint-up(md) {
            padding-top: 14px;
        }


        @include media-breakpoint-up(lg) {
            padding-top: 20px;
        }
    }

    &__hr {
        position: relative;
        height: 1px;
        width: 100%;
        display: block;
        background-color: $slate-grey;
    }

    &__who_list li {
        position: relative;
        display: inline-block;
        cursor: pointer;
        padding-right: 40px;
        padding-bottom: 16px;
    }

    &__who_list ul {
        padding: 0;
    }

    &__cols {
        padding-top: 10px;

        @include media-breakpoint-up(sm) {
            padding-top: 10px;
        }


        @include media-breakpoint-up(md) {
            padding-top: 10px;
        }


        @include media-breakpoint-up(lg) {
            padding-top: 10px;
        }
    }

    &__col_0 ul {
        padding: 0;
    }

    &__col_0 li {
        list-style-type: none;
        cursor: pointer;
    }

    &__col_0 h3 {
        // color: $white;
        margin-bottom: -15px;
    }

    &__col_1 ul {
        padding: 0;
    }

    &__col_1 li {
        list-style-type: none;
        cursor: pointer;
    }

    &__col_1 h3 {
        // color: $white;
        margin-bottom: -15px;
    }

    &__col_2 {}

    &__col_2 ul {
        padding: 0;
    }

    &__col_2 li {
        list-style-type: none;
        cursor: pointer;
    }

    &__col_2 h3 {
        // color: $white;
        margin-bottom: -15px;
    }

    &__col_3 {}

    &__col_3 ul {
        padding: 0;
    }

    &__col_3 li {
        list-style-type: none;
        cursor: pointer;
    }

    &__col_3 h3 {
        // color: $white;
        margin-bottom: -15px;
    }

    &__col_4 {}

    &__col_4 h3 {
        // color: $white;
        margin-bottom: -15px;
    }

    @include media-breakpoint-down(xl) {
        .noverlay__inner {}
    }


    @include media-breakpoint-down(lg) {
        .noverlay__inner {}
    }


    @media (max-width: 1130px) {
        .territory-toggler .svg-icon {
            //display: none;
        }

        .search-toggler .search-toggler__label {
            //display: none;
        }

        .login-toggler .login-toggler__label {
            //display: none;
        }
    }

    @include media-breakpoint-down(md) {
        .noverlay__inner {}

        .territory-toggler .svg-icon {
            //display: none;
        }

        .search-toggler .search-toggler__label {
            display: inline;
        }

        .login-toggler .login-toggler__label {
            display: inline;
        }
    }


    @include media-breakpoint-down(sm) {
        .territory-toggler .svg-icon {
            display: none;
        }

        .search-toggler .search-toggler__label {
            display: none;
        }

        .login-toggler .login-toggler__label {
            display: none;
        }

        .noverlay-controls-right {}
    }


    @include media-breakpoint-down(xs) {
        .territory-toggler .svg-icon {
            display: none;
        }

        .search-toggler .search-toggler__label {
            display: none;
        }

        .login-toggler .login-toggler__label {
            display: none;
        }

        .noverlay-controls-right {}
    }


    // @media (max-width: 500px) {
    //     .noverlay__about_investec {
    //         display: none;
    //     }
    //
    //     .noverlay__for_myself {
    //         padding-right: 32px;
    //     }
    //
    //     .noverlay__for_my_business {
    //         padding-right: 30px;
    //     }
    //
    //     .noverlay__for_my_client {
    //         padding-right: 0px;
    //     }
    // }
    //
    // @media (max-width: 376px) {
    //     .noverlay__about_investec {
    //         display: none;
    //     }
    //
    //     .noverlay__for_myself {
    //         padding-right: 8px;
    //     }
    //
    //     .noverlay__for_my_business {
    //         padding-right: 8px;
    //     }
    //
    //     .noverlay__for_my_client {
    //         padding-right: 0px;
    //     }
    // }
}

.navigation-desktop .noverlay__col_0 {
    padding-bottom: 20px;
    min-height: 200px;
}

.navigation-desktop .noverlay__col_1 {
    padding-bottom: 20px;
    min-height: 200px;
}

.navigation-desktop .noverlay__col_2 {
    padding-bottom: 20px;
    min-height: 200px;
}

.navigation-desktop .noverlay__col_3 {
    padding-bottom: 20px;
    min-height: 200px;
}

.noverlay__controls-left {
    padding-bottom: 0px;
    margin: 0px;
    font-size: 11px;
    line-height: 28px;
    margin-top: 3px;
}

.mobileSubNav {
    font-size: 24px;
}

.mobileSubNavLink {
    font-size: 24px;
}

.trio_fix {
    display: inline-block;
    float: right;
    position: relative;

    @include media-breakpoint-down(xs) {
        position: absolute;
        margin-top: 15px;
        right: 35px;
    }


    @include media-breakpoint-up(sm) {
        float: right;
        margin-top: 15px;
        //right: 18px;
        position: relative;
    }


    @include media-breakpoint-up(md) {
        float: right;
        margin-top: 14px;
        //right: 18px;
        position: relative;
    }


    @include media-breakpoint-up(lg) {
        float: right;
        margin-top: 0px;
        //right: 18px;
        position: relative;
    }
}

.noverlay__subNavBack {
    @include media-breakpoint-up(sm) {
        margin-top: 1.25px;
    }


    @include media-breakpoint-up(md) {
        margin-top: 0px;
    }


    @include media-breakpoint-up(lg) {
        margin-top: 3px;
    }
}

.noverlay__cols-padding {
    padding-top: 32px;

    @include media-breakpoint-up(sm) {
        padding-top: 38px;
    }


    @include media-breakpoint-up(md) {
        padding-top: 32px;
    }


    @include media-breakpoint-up(lg) {
        padding-top: 23px;
    }
}

.hamburger_fix {
    display: inline-block;
    float: right;
    padding: 8px 0 0 0;

    @include media-breakpoint-down(xs) {
      top: 0px;
      position: absolute;
    }

}

.navigation-mobile {
    margin-top: -39px;
}

.logo__zebra {
          width: 140px;
          margin-top: -30px;
          padding-bottom: 0px;
          padding-top: 10px;

          @include media-breakpoint-down(md) {
              width: 120px;
              margin-top: -28px;
              padding-bottom: 6px;
          }

          @include media-breakpoint-down(sm) {
              display: none;
          }
      }

      @include media-breakpoint-down(xs) {
          .logo__zebra {
              display: none;
          }

          .divider-logo {
              display: none;
          }

          .header-logo__divider {
              display: none;
          }
      }

      .header-logo__divider {
                display: inline-block;
                margin-left: 14px;
                margin-right: 17px;
                width: 1px;
                height: 40px;
                background-color: $grey-on-white-divider;
                opacity: 0.5;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }


    .nav-header-logo{
      top: -14px;
      position: relative;

      @include media-breakpoint-down(md) {
        top: 0px;
          }
    }
