// datepicker.scss
.datepicker {
    &__input-holder {
        display: inline-block;
        position: relative;
        margin: 10px 0px;
        min-width: 50%;

        &--animated {
            opacity: 0;
        }
    }

    &__underline {
        border-bottom: 2px solid $brand-primary;
    }

    &__mobile {
        width: 100%;
        border: none;
        border-bottom: 2px solid $brand-primary;
        color: $primary;
    }

    &__input {
        border: none;
        color: $quote-grey;
    }

    &__open {
        background: $white;
        border: none;
        width: 20px;
        position: absolute;
        right: 0px;
        top: 0px;
        height: 20px;

        svg {
            width: 20px;

            path {
                fill: $primary;
            }
        }
    }

    ul,
    li {
        outline: none !important;
    }

    &__start-end-holder {
        width: 100%;
        min-height: 28px;
    }

    &__start-date, &__end-date, &__seperator {
        float: left;
        font-family: $font-family-sans-serif-light;
        color: $quote-grey;
        padding: 2px 0px;
        font-size: 18px;
        line-height: 18px;

        @include media-breakpoint-up(md) {
            font-size: 22px;
            line-height: 22px;
        }


        @include media-breakpoint-up(lg) {
            font-size: 24px;
            line-height: 24px;
        }
    }

    &__end-date {
        padding-right: 30px;
    }

    &__seperator {
        padding: 2px 10px;
    }

    &__start-date-input, &__end-date-input {
        display: none;
    }
}

.uib-datepicker-popup-wrap {
    position: absolute;
    z-index: 200000;
    left: calc(100% + 20px);
    top: 0px;
}

.uib-datepicker-popup {
    background-color: $white;
    border: 1px solid $gray;
    padding: 14px 26px 24px;
}

.uib-datepicker-popup {
    ul,
    li,
    .uib-datepicker,
    table,
    .uib-daypicker {
        background: none;
        list-style-type: none;
        outline: none !important;
    }

    th {
        text-align: center;

        button {
            background: none;
            color: $brand-primary;
            height: inherit;
            text-transform: uppercase;
            border: none;

            &:hover {
                border: none;
                color: $primary;
            }
        }
    }

    position: relative;

    button {
        color: $brand-primary;
        padding: 0px;
        background: none;
        font-size: 12px;
        padding: 0px;
        margin: 0px;
        background: $gray-calender;
        border-radius: 0px;
        font-family: $font-family-sans-serif-bold;
        width: 30px;
        height: 30px;
        position: relative;
        border: 1px solid $gray-calender;

        &:hover {
            border: 1px solid $brand-primary;
        }

        &.btn-info {
            background-color: $primary;
            color: $white !important;
            border: none;

            .text-info {
                color: $white !important;
            }

            span {
                position: absolute;
                top: 0px;
                left: 8px;
            }

            &:hover {
                background-color: $primary;
                color: $white;
                border: none;
                cursor: auto;
            }
        }

        span {
            position: absolute;
            top: -1px;
            left: 7px;
            background: none;
        }
    }

    .text-info {
        color: $primary !important;
    }

    .oldmonth {
        background: $white;
    }

    .text-muted {
        color: $brand-primary !important;
    }

    .uib-monthpicker, .uib-yearpicker {
        button {
            width: inherit;

            span {
                position: relative;
                padding: 10px;
                left: 0px;
            }
        }
    }

    .glyphicon-chevron-left,
    .glyphicon-chevron-right {
        background: url(../images/icons/svg/chevron2.0_desktop.svg);
        width: 7px;
        height: 9px;
        display: inline-block;
    }

    .glyphicon-chevron-left {
        transform: rotate(180deg);
    }

    .dayheader {
        font-family: $font-family-sans-serif-light;
    }

    .month-btn,
    .year-btn {
        background-color: $white;
    }

    .highlight {
        background: $brand-primary !important;
        color: $white !important;

        .text-info, .text-muted {
            color: $white !important;
        }
    }

    .enddate, .startddate {
        background: $primary !important;
        color: $white !important;

        .text-info, .text-muted {
            color: $white !important;
        }
    }
}

.little-arrow {
    background: url(../images/icons/svg/calander-arrow.svg) !important;
    width: 13px;
    height: 16px;
    position: absolute;
    left: -12px;
    display: block;
    top: 13px;
}