.number-counter {

    padding-bottom: 20px;

    &__count{
        float: left;
        width: 60px;
        text-align: center;
        margin-top: 2px;

    }

    &__counter {
        float: left;
        width: 30px;
        height: 30px;
        background: none;
        border: none;
        border-radius: 30px;
        position: relative;

        &:focus {
            transition: none;
            outline: -webkit-focus-ring-color auto 5px;
            outline-offset: -2px;
         
        }

        svg {
            position: absolute;
            width: 30px;
            top: 0px;
            left: 0px;

            path {
                fill: $brand-primary;
            }
        }
    }
}