.social-feed {

    &__container {
        overflow: hidden;
    }

    &__holder {
        //borders are optional on mobile
        border-top: 1px solid $inactive-dividers;
        border-bottom: 1px solid $inactive-dividers;
        padding: 27px 0px;
        margin-bottom: 20px;

        @include respond-min(map-get($grid-breakpoints, "md")) {
            border-top: none;
            border-bottom: none;
        }
    }

    &__slide-track {
        width: 6000px;
    }

    &__container-inner {
        float: left;

        transition: opacity 0.4s;

        &--fade {
            opacity: 0.4;

            @include respond-max(map-get($grid-breakpoints, "md")) {
                opacity: 1;
            }

            &:hover {
                opacity: 1;
            }
        }

    }

    &__title {

        h4 {
            margin-bottom: 0px;
        }
    }

    &__cta {
        float: left;
        margin-top: 10px;

        @include respond-min(map-get($grid-breakpoints, "md")) {
            margin-top: 10px;
        }

        @include respond-min(map-get($grid-breakpoints, "lg")) {
            margin-top: 10px;
        }
    }

    &__quote-container {
        position: relative;
        margin-left: 17px;
        margin-right: -7px;

        @include respond-min(map-get($grid-breakpoints, "md")) {
            margin-left: 0px;
        }
    }

    &__quote-image {
        display: inline-block;
        position: relative;
        border: 1px solid $inactive-dividers;
        cursor: default;
        width: 258px;
        height: 145px;
        overflow: hidden;
        margin-right: 10px;

        @include respond-min(map-get($grid-breakpoints, "md")) {
            width: 344px;
            height: 194px;
            margin-right: 16px;
        }

        @include respond-min(map-get($grid-breakpoints, "lg")) {
            width: 465px;
            height: 262px;
            margin-right: 30px;
        }
    }

    &__main-image {
        width: 100%;
        height: auto;
    }

    .thumbnail__play-button {
        top: 50%;
        left: 50%;
    }

    &__quote-content-container {
        margin-top: -40px;
        position: relative;

        @include respond-min(map-get($grid-breakpoints, "md")) {
            margin-top: -56px;
        }

        @include respond-min(map-get($grid-breakpoints, "lg")) {
            margin-top: -58px;
        }

        .social-feed__quote-content-centered {
            padding-bottom: 0px;
        }

        .secondary-cta-chevron {
            margin-top: 2px;
        }
    }

    &__quote-white-box {
        margin-left: 12px;
        width: 234px;
        background-color: #FFFFFF;
        padding: 16px 20px;
        float: left;
        cursor: default;

        @include respond-min(map-get($grid-breakpoints, "md")) {
            width: 312px;
            padding: 24px;
            margin-left: 16px;
        }

        @include respond-min(map-get($grid-breakpoints, "lg")) {
            width: 387px;
            padding: 24px 31px;
            margin-left: 42px;
        }
    }

    &__date {
        font-size: 10px;
        font-family: "Helvetica-Neue-Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
        letter-spacing: 0.7px;
        margin-bottom: -10px;
        padding-bottom: 12px;
        //text-transform: uppercase;
        float: left;

        @include respond-min(map-get($grid-breakpoints, "md")) {
            font-size: 13px;
        }

        @include respond-min(map-get($grid-breakpoints, "lg")) {
            font-size: 14px;
        }
    }

    &__divider {
        font-size: 25px;
        //width: 5px;
        margin: 0px 7px;
        float: left;

        @include respond-min(map-get($grid-breakpoints, "md")) {
            margin: 0px 9px 0;
        }
    }

    &__handle {
        font-size: 10px;
        font-family: "Helvetica-Neue-Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
        letter-spacing: 0.7px;
        margin-bottom: -10px;
        padding-bottom: 12px;
        //text-transform: uppercase;
        color: $brand-primary;
        float: left;

        @include respond-min(map-get($grid-breakpoints, "md")) {
            font-size: 13px;
            padding-bottom: 18px;
        }

        @include respond-min(map-get($grid-breakpoints, "lg")) {
            font-size: 14px;
            padding-bottom: 14px;
        }
    }

    &__copy {
        word-wrap: break-word;
        font-size: 18px;
        line-height: 24px;
        max-width: 234px;

        @include respond-min(map-get($grid-breakpoints, "md")) {
            font-size: 22px;
            line-height: 28px;
            max-width: 312px;
        }

        @include respond-min(map-get($grid-breakpoints, "lg")) {
            font-size: 28px;
            line-height: 36px;
            max-width: 387px;
        }
    }

    // counters to be displayed on mobile only
    &__counter-container {
        position: relative;
    }

    &__counter {
        text-align: center;
    }

    &__index-number {
        float: right;
        margin-bottom: 22px;
    }

    &__total-number {
        float: left;
        margin-bottom: 22px;
        color: $gray-light;
    }

    &__arrow {
        position: absolute;
        height: 31px;
        width: 61px;
        pointer-events: none;
        display: none;

        svg {
            height: 31px;
            width: 61px;
        }
    }
}
