.maps{

    margin-bottom: 20px;

    &__map {

        position: relative;
        display:  block;
        width: 100% ;
        height: 250px;

        @include media-breakpoint-up(sm) {
            height: 300px;
        }

        @include media-breakpoint-up(md) {
            height: 350px;
        }

        @include media-breakpoint-up(lg) {
            height: 450px;
        }

        @include media-breakpoint-up(xl) {
            height: 600px;
        }
    }

    &__directions {

        position: relative;
        display:  block;
        width:180px;
        padding-left:5px;
        padding-bottom:3px;
        top:20px;
        z-index: 99;
        background-color: #fff;
        border-radius: 0px 0px 5px 0px;

        @include media-breakpoint-up(lg) {
            width: 205px;
        }

    }

}
