
.homepage-client-filter {

    &__client-type-holder {
        background: $white;
        margin: -20px 14px 0;
        //font-family: $font-family-sans-serif;
        font-family: $font-family-sans-serif-light;
        //font-size: 36px;
        font-size: 20px;
        line-height: 23px;
        color: $primary;
        padding: 20px;

        @include media-breakpoint-up(md) {
            font-size: 36px;
                line-height: 36px;
                padding: 40px 20px;
                margin: -20px 0 0 0;
            }
        @include media-breakpoint-up(lg) {
            margin: -23px 14px -33px 0;
            //padding: 60px 20px 40px;
        }
    }

    &__client-type-form{
        text-align: center;
    }

    &__dropdown{

        .dropdown {

            @include media-breakpoint-down(sm) {
                margin: 10px 0;
            }

            &__selector{
                font-family: $font-family-sans-serif;
                font-size: 20px;
                width: auto;

                @include media-breakpoint-up(md) {
                    font-size: 36px;
                    padding: 8px 40px 8px 20px;
                }
            }

            &__cheveron {
                top: 15px;

                @include media-breakpoint-up(md) {
                    top: 20px;
                }
            }

            &__list{
                width: auto;
            }

            &__list-item {
                width: auto;
                font-family: $font-family-sans-serif;
                font-size: 20px;
                color: $brand-primary;

                @include media-breakpoint-up(md) {
                    font-size: 36px;
                }

                &--selected, &:hover {
                    background: $primary;
                    color: $white;
                    border-left: 1px solid $primary;
                    border-right: 1px solid $primary;
                }
            }
        }
    }

    &__client-type{
        //display: block;
        color: $brand-primary;
        cursor: pointer;
    }

    &__links{
        margin: 40px 0 20px;

        ul{
            list-style: none;
        }
        @include media-breakpoint-up(md) {
            margin: 40px 0;
        }
        @include media-breakpoint-up(xl) {
            margin: 40px 0 60px 0;
        }
    }

    &__links-instruction{
        //float: left;
        width: 100%;
        font-family: $font-family-sans-serif-light;
        font-size: 18px;
        margin: 0 0 10px 0;
        @include media-breakpoint-up(md) {
            font-size: 24px;
        }

    }

    &__link{
        float: left;
        white-space: nowrap;
        margin: 0 0 10px 0;

        @include media-breakpoint-up(md) {
            margin: 0 0 18px 0;
        }
    }

    &__input{
        & .text-input__input{
            background: $light-blue;
        }
        margin: 0 0 10px 0;
    }

    &__search-field-holder{
        margin: 38px 0 0 0;
        @include media-breakpoint-up(lg) {
            margin: 90px 0 0 0;
        }
    }

    &__search-button-holder{
        margin: 20px 0 0 0;
        @include media-breakpoint-up(md) {
            margin: 40px 0 0 0;
        }
        @include media-breakpoint-up(lg) {
            margin: 92px 0 0 0;
        }
    }

    &__products{
        margin: 40px 0 0 0;

        @include media-breakpoint-up(md) {
            margin: 50px 0 60px;
        }

        @include media-breakpoint-up(xl) {
            margin: 85px 0 90px;

            .row{
                //display: table;
            }
            .row [class*="col-"] {
                //float: none;
                //display: table-cell;
                //vertical-align: top;
            }
        }
    }

    &__product{


        margin: 0 0 40px 0;
        @include media-breakpoint-up(md) {
            padding: 0 20px;
        }
        @include media-breakpoint-up(xl) {
            padding: 0;
        }
    }

    &__product-icon{
        text-align: center;
        img{
            max-height:41px; //REMOVE THIS WHEN WE DO SVG
        }
    }

    &__product-title{
        text-align: center;
        font-size: 25px;
        margin: 20px 0 36px;
        font-family: $font-family-sans-serif-light;
        @include media-breakpoint-up(xl) {
            margin: 20px 0 30px;
        }
    }

    &__product-link{
        position: absolute;
        bottom: 0;
    }

    // 576+
    @include media-breakpoint-up(sm) {

    }

    // 768+
    @include media-breakpoint-up(md) {

    }

    // 1025+
    @include media-breakpoint-up(lg) {

    }

    // 1280+
    @include media-breakpoint-up(xl) {

    }
}
