.contact-accordion {
    margin: 40px 0;

    &__title {
        font-size: 18px;

        @include media-breakpoint-up(md) {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 30px;
        }
    }

    &__desc {
        margin: 0;
        padding-bottom: 24px;

        @include media-breakpoint-up(md) {
            padding-bottom: 36px;
        }
    }

    &__item {
        border: none;
        display: table;
        list-style-type: none;
        padding: 0;
        position: relative;
        width: 100%;

        &:first-child {
            border-top: none;
        }

        &--open {
            .contact-accordion__heading {
                display: none;
            }

            .contact-accordion__button {
                float: right;
                transform: none;
            }

            //.accordion__header {
            //    padding: 0 0 10px 0;
            //}

            .contact-accordion__icons {
                display: block;
            }

            .contact-accordion__button-primary {
                display: none;
            }

        }

        &--closed {
            .contact-accordion__button {
                transition: 0.4s;
                transform: rotate(0deg);
            }

            & .hide-reveal-accordion__content {
                display: none;
            }
        }
    }

    &__inner {
        display: table-row;
    }

    &__content {
        display: none;



        ul {
            margin-left: 20px;

            li {
                margin-bottom: 20px;
            }
        }
    }

    &__header {
        display: table;
        width: 100%;
    }

    &__heading {
        cursor: pointer;
        line-height: 20px;
        color: $primary;
        font-family: $font-family-sans-serif-light;
        font-size: 15px;
        padding: 0;
        display: table-cell;
        vertical-align: middle;
        width: auto;

        @include media-breakpoint-up(md) {
            font-size: 22px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 24px;
        }
    }

    &__sub-heading {
        font-family: $font-family-sans-serif-bold;
        font-size: 15px;
        line-height: 20px;
        margin: 21.5px 0;
    }

    &__button {
        display: table-cell;
        vertical-align: middle;
        cursor:pointer;
        float: right;

        &--reveal {
            display: table-cell;

            @include media-breakpoint-up(xl) {
                padding-left: 5px;
            }
        }

        &--hide {
            display: none;

            .hide-reveal-accordion__item--open & {
                display: table-cell;
            }
        }

        svg {
            fill: $brand-primary;
            height: 25px;
            width: 25px;

            @include media-breakpoint-up(md) {
                height: 28px;
                width: 28px;
            }


        }

        &-primary {

            padding: 0 10px;

            @include media-breakpoint-up(sm) {
                float: left;
                margin: 0 20px 0 0;
                padding: 7px 40px;
            }

            @include media-breakpoint-up(lg) {

                padding: 7px 27px;

            }

            @include media-breakpoint-up(xl) {
                margin: 0 35px 0 0;
            }
        }
    }

    &__icon {
        height: 16px;

        @include media-breakpoint-up(md) {
            height: 20px;
        }
    }

    &__icons {
        display: none;
    }
}
