// TODO :BReak down to Specific Imports rather than Bulk
@import "../../../styles/pl-style.scss";

.territory-toggler .svg-icon {
    height: 19px;
    margin-bottom: -6px;
    margin-right: 6px;
    width: 14px;

    @media (max-width: 1130px) {
        // display: none;
    }
}

.territory-toggler .territory-toggler__label {
    display: inline;
}
