
.contact {

    color: $off-white;

    &--location,
    &--team-location,
    &--progressive{

        .contact__hide-reveal {
            padding: 11px 14px;

            //.contact__details {
            //    padding: 0;
            //}

            @include media-breakpoint-only(sm) {
                padding: 11px 32px;
            }

            @include media-breakpoint-only(md) {
                padding: 22px 32px;
            }

            @include media-breakpoint-up(lg) {
                padding: 22px 0;
            }
        }
        //
        //.accordion__item {
        //
        //    border: none;
        //    padding: 0;
        //
        //    &:first-child {
        //        border-top: none;
        //    }
        //
        //    &--open {
        //        .accordion__heading {
        //            display: none;
        //        }
        //
        //        .accordion__button {
        //            float: right;
        //            transform: none;
        //        }
        //
        //        //.accordion__header {
        //        //    padding: 0 0 10px 0;
        //        //}
        //
        //        .accordion__icons {
        //            display: block;
        //        }
        //
        //        .accordion__button-primary {
        //            display: none;
        //        }
        //
        //    }
        //
        //}
        //
        //.accordion__header {
        //    display: table;
        //    width: 100%;
        //}
        //
        //.accordion__heading {
        //    color: $primary;
        //    font-family: $font-family-sans-serif-light;
        //    font-size: 15px;
        //    padding: 0;
        //    display: table-cell;
        //    vertical-align: middle;
        //    width: auto;
        //    @include media-breakpoint-up(md) {
        //        font-size: 22px;
        //    }
        //
        //    @include media-breakpoint-up(xl) {
        //        font-size: 24px;
        //    }
        //
        //}
        //
        //.accordion__button {
        //    float: right;
        //    svg {
        //        fill: $brand-primary;
        //        height: 25px;
        //        width: 25px;
        //
        //        @include media-breakpoint-up(md) {
        //            height: 28px;
        //            width: 28px;
        //        }
        //
        //
        //    }
        //
        //    &--reveal {
        //        @include media-breakpoint-up(xl) {
        //            padding-left: 5px;
        //        }
        //    }
        //
        //    &-primary {
        //
        //        padding: 0 10px;
        //
        //        @include media-breakpoint-up(sm) {
        //            float: left;
        //            margin: 0 20px 0 0;
        //            padding: 7px 40px;
        //        }
        //
        //        @include media-breakpoint-up(lg) {
        //
        //            padding: 7px 27px;
        //
        //        }
        //
        //        @include media-breakpoint-up(xl) {
        //            margin: 0 35px 0 0;
        //        }
        //    }
        //}
        //
        //.accordion__icon {
        //    height: 25px;
        //}
        //
        //.accordion__icons {
        //    display: none;
        //}

    }
    &--pinned {
        visibility: hidden;
        z-index: 2002;
        width: 100% !important;

        @include media-breakpoint-down(md) {
            .wide-component-background{
                margin-left: 0;
                margin-right: 0;
            }
        }

        &__buttons {

            @include media-breakpoint-up(lg) {
                float: right;
            }
        }

        .contact--progressive {
            padding: 0;
        }
    }

    &__accordion {
        &--pinned {
            visibility: hidden;
            z-index: 2001;
            width: 100% !important;

            @include media-breakpoint-down(md) {
                .wide-component-background{
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }

    &__body {

        color: $primary;
        margin: 0;
        padding: 0 0 20px;

        @include media-breakpoint-up(md) {
            padding: 0 0 28px;
        }

        .contact--team &,
        .contact--team-location &{
            display: none;
        }

    }

    &__border {
        background: $slate-grey;
        height: auto;
        margin: 0 auto;
        width: 1px;
    }

    &__button {

        &:first-child {
            margin-bottom: 20px;
        }

        &:focus {
            outline: none;
        }

        @include media-breakpoint-up(sm) {
            float: left;
            margin: 0 20px 0 0;
            padding: 8px 40px;
            width: auto;

            &:first-child {
                margin-bottom: 0;
            }

        }

        @include media-breakpoint-up(md) {

            .contact--team-location & {
                padding: 8px 37px;
            }

        }

        @include media-breakpoint-up(lg) {

            padding: 7px 27px;

            &:first-child {

                .contact--team-location & {
                    margin-bottom: 20px;
                }

            }

        }

        @include media-breakpoint-up(xl) {
            margin: 0 35px 0 0;

            &:last-child {
                margin-right: 0;
            }
        }

        &--response {
            margin-bottom:20px;
        }

    }

    &__button-holder {

        position: relative;

        @include media-breakpoint-up(sm){
            left: -10px;
            top: 21px;
        }

        @include media-breakpoint-up(md){
            top: 25px;
        }

        @include media-breakpoint-up(lg){
            top: 35px;
        }

    }

    &__copy {

        margin: 0;
        padding: 20px 0 0;

        @include media-breakpoint-up(sm) {
            padding: 28px 0 0;
        }

        @include media-breakpoint-up(md) {
            padding: 23px 20px 0 0
        }

        @include media-breakpoint-up(lg){
            padding: 36px 0 0;
        }

        p {
            color: $primary;
            margin: 0;
        }

    }

    &__close {
        cursor: pointer;
        float: right;
        height: 17px;
        transition: 0.4s;
        transform: rotate(135deg);

        svg {
            fill: $primary;
            height: 16px;
            width: 16px;

            @include media-breakpoint-up(md){
                height: 16px;
                width: 16px;
            }

        }

    }

    &__details {

        padding: 20px 0 40px;

        @include media-breakpoint-up(sm) {
            padding: 20px 0 22px;
        }

        @include media-breakpoint-up(lg) {
            background: transparent;
            padding: 22px 0 18px;
        }

        &--progressive {

            margin: 0;

            @include media-breakpoint-up(sm) {
                padding: 20px 0 40px;
            }

            @include media-breakpoint-up(md) {
                padding: 28px 0 0;
            }

            @include media-breakpoint-up(xl) {
                padding: 36px 0 0;
            }

            ul {
                margin: 40px 0 0;

                @include media-breakpoint-up(md) {
                    border: 0;
                    margin: 40px 0 40px;
                    padding: 0;
                }

                @include media-breakpoint-up(lg) {
                    padding: 0 0 0 40px;
                    margin: 0;
                }


            }

            &-heading {
                color: $primary;

                @include media-breakpoint-up(lg) {
                    margin-top: 36px;
                }
            }

        }

        &--team {

            margin: 0;
            padding: 0 0 20px;

            @include media-breakpoint-up(md) {
                padding: 0 0 28px;
            }

            @include media-breakpoint-up(lg) {
                padding: 0;
            }

            ul {

                margin: 5px 0;

                @include media-breakpoint-up(sm){
                    margin: 5px 0 8px;
                }

                @include media-breakpoint-up(md) {
                    margin: 0 0 10px;
                    padding: 0;
                }

                @include media-breakpoint-up(lg) {
                    margin: 0 0 36px;
                }

                @include media-breakpoint-up(xl) {
                    margin-left: 0 !important;
                }

            }

        }

        &--team-location {
            padding: 0;
        }

        &-inner {
            border-left: 1px solid #5E686E;
        }

    }

    &__error {
        color: #FFC700;
        font-size: 10px;
        left: 40px;
        line-height: 10px;
        position: absolute;
        top: -24px;

        @include media-breakpoint-up(md){
            font-size: 12px;
        }

        @include media-breakpoint-up(lg){
            top: -28px;
        }

        &--nudge {
            left: 72px;
        }

    }

    &__fail {

        h4,
        p {

            color: #FFC700;

        }

        p {
            margin-bottom: 10px;

            @include media-breakpoint-up(md){
                margin: 0;
            }

        }

    }

    &__fieldset {

        margin: 20px 0;
        width: 100%;

        @include media-breakpoint-up(sm) {
            margin: 20px 0 0;
        }

    }

    &__form {

        .contact--team &,
        .contact--team-location & {
            border: none;
            clear: both;
            padding: 20px 0;
        }

        @include media-breakpoint-up(sm) {
            //padding: 28px 0 0;
        }

        @include media-breakpoint-up(lg) {
            padding: 17px 0;
            margin: 0 0 36px 0;

            .contact--progressive & {
                border-right: 1px solid #5E686E;
                padding: 0 100px 0 0;
            }

            .contact--team & {
                padding: 0;
                margin: 0 0 36px;
            }

        }

        @include media-breakpoint-up(xl) { }

    }

    &__heading {
        color: $primary;

        @include media-breakpoint-up(lg) {
            padding-bottom: 30px;
        }
    }

    &__icon {

        margin: 0 20px 0 0;
        vertical-align: sub;

        @include media-breakpoint-up(md) {
            vertical-align: middle;
        }

        @include media-breakpoint-up(lg) {
            margin: 0 10px 0 0;
        }

        &--phone {

            height: 15px;
            width: 11px;

            @include media-breakpoint-up(md) {

                height: 15px;
                width: 15px;

            }

            @include media-breakpoint-up(xl) {

                height: 14px;
                position: relative;
                top: 1px;
                width: 16px;

                .contact--progressive & {
                    height: 17px;
                    width: 24px;
                }
                .contact--team & {
                    height: 17px;
                    width: 24px;
                }

            }

            path {
                fill: $brand-primary;
            }

        }

        &--email {

            height: 15px;
            width: 12px;

            @include media-breakpoint-up(sm) {
                height: 14px;
            }

            @include media-breakpoint-up(md) {
                bottom: -4px;
                height: 18px;
                position: relative;
                width: 15px;
            }

            @include media-breakpoint-up(xl) {
                height: 14px;
                position: relative;
                top: 1px;
                width: 16px;
            }

            path {
                fill: $brand-primary;
            }

        }

        &--twitter {

            height: 17px;
            width: 13px;

            @include media-breakpoint-up(sm){
                height: 16px;
            }

            @include media-breakpoint-up(md) {
                height: 12px;
                width: 15px;
            }

            path {
                fill: $brand-primary;
            }

        }

        &--whatsapp {

            height: 14px;
            position: relative;
            width: 14px;

            @include media-breakpoint-up(md) {
                height: 16px;
                width: 16px;
                top: 2px;
            }

            path {
                fill: #FFF;
            }

        }

    }

    &__image {

        @include media-breakpoint-up(md) {

            .contact--team-location & {
                margin-bottom: 20px;
            }

        }

        @include media-breakpoint-up(lg) {}

    }

    &__inner {
        padding: 20px 0;
    }

    &__input {
        background: transparent;
        border: none;
        border-bottom: 2px solid #8f969A;
        color: $primary;
        font-size: 16px !important;
        outline: none;
        padding-right: 57px;
        position: relative;
        width: 100%;

        @include media-breakpoint-up(md) {
            font-size: 24px;
        }

        &.ng-invalid.ng-not-empty {
            color: #FFC700;
        }

    }

    &__label {
        display: block;
        position: relative;
    }

    &__link {

        color: $brand-primary;

        &:hover,
        &:active,
        &:focus,
        &:visited {
            color: $brand-primary;
        }

        &--large {

            color: $off-white;

            @include media-breakpoint-up(md) {

                font-size: 26px;

            }

            @include media-breakpoint-up(lg) {

                font-size: 32px;

            }

        }

    }

    &__list {

        color: $off-white;
        list-style-type: none;
        margin: 14px 0 0;

        &:first-child {

            margin: 0;

            @include media-breakpoint-up(lg) {

                margin: 0;
                padding: 0 50px 0 0;
                border: 0;

                .contact--team & {
                    border: none;
                    display: block;
                    margin: 0 20px 0 0;
                    padding: 0;
                }

                .contact--progressive{
                    display: block;
                    margin-right: 60px;
                }

            }

        }

        &:nth-child(2) {

            @include media-breakpoint-up(md) {
                margin: 17px 0 0;
            }

            @include media-breakpoint-up(lg) {
                margin: 0;
            }

        }

        @include media-breakpoint-up(md) {
            margin: 19px 0 0;
        }

        @include media-breakpoint-up(lg) {
            border-left: 1px solid #5E686E;
            display: inline-block;
            margin: 0;
            padding: 3px 50px 0 45px;

            .contact--team & {
                border: none;
                display: block;
                margin: 17px 20px 0 0;
                padding: 0;
            }

        }

        @include media-breakpoint-up(xl) {

            .contact--team & {
                border: none;
                display: block;
                float: none;
                margin: 17px 0 0;
            }

        }

        &--inline {

            @include media-breakpoint-up(lg) {
                float: left;
                padding-right: 60px;
            }

        }

        .contact--progressive & {
            border: none;
            display: block;
            padding: 0;

            @include media-breakpoint-up(lg){
                padding: 0 0 20px 0;
            }

        }

    }

    &__location {

        &-current {
            color: #FFF;
            font-family: $font-family-sans-serif-bold;
            font-size: 9px;
            margin-right: 22px;
            text-transform: uppercase;
        }

        &-change {
            font-size: 9px;
            text-decoration: underline;
        }

        &-list {
            border-left: 1px solid #5E686E;
            list-style-type: none;
        }

        &-item {
            color: $off-white;
            cursor: pointer;
            font-family: $font-family-sans-serif-bold;
            font-size: 12px;
            list-style-type: none;
            margin-top: 20px;
            text-transform: uppercase;

            @include media-breakpoint-up(lg) {
                margin-top: 38px;
            }

            &:first-child {
                margin-top: 0;
            }

            &--active {
                color: #FFF;
            }

        }

    }

    &__main-heading {
        padding-bottom: 23px;

        @include media-breakpoint-up(md) {
            font-size: 24px;
        }
    }

    &__name {

        color: $primary;
        margin: 0;
        padding: 30px 0 10px;

        @include media-breakpoint-up(sm){
            padding: 30px 0 13px;
        }

        @include media-breakpoint-up(md){
            position: relative;
            padding: 0 0 13px;
        }

    }

    &__next {
        color: $primary;
        cursor: pointer;
        font-size: 9.5px;
        font-family: $font-family-sans-serif-bold;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        top: 2px;
        transform: translateX(0px);
        transition: all 0.3s ease-in-out 0s;

        &:hover {
            transform: translateX(5px);
        }

        @include media-breakpoint-up(md){
            font-size: 12px;
        }

        path,
        polygon {
            fill: $primary;
        }

    }

    &__next-btn {

        display: inline-block;
        vertical-align: top;

        &.svg-icon {
            height: 16px;
            margin-left: 5px;
            width: 9px;

            @include media-breakpoint-up(lg) {
                height: 24px;
            }

        }

    }

    &__placeholder {
        color: $primary;
        position: absolute;
        left: 0;
        top: 0;

        @include media-breakpoint-up(md) {
            font-size: 24px;
        }

    }

    &__position {
        color: $primary;
        font-family: $font-family-sans-serif;

        @include media-breakpoint-up(md){
            position: relative;
            //top: 140px;
        }

    }

    &__prev {
        display: inline-block;
        cursor: pointer;
        padding-right: 6px;
        vertical-align: top;

        path,
        polygon {
            fill: $primary;
        }

    }

    &__prev-btn {
        display: inline-block;
        height: 14px;
        width: 15px;
    }

    &__profile {

        padding: 20px 0 0;

        @include media-breakpoint-up(sm) {
            padding: 28px 0 0;
        }

        @include media-breakpoint-up(md) {

            .contact--team-location & {
                padding: 0;
            }

        }

        @include media-breakpoint-up(lg) {
            padding: 36px 0;
        }

        .contact__list {

                @include media-breakpoint-only(lg) {
                    float: left;
                    margin-top: 0;
                }
        }

    }

    &__profile-inner {

        @include media-breakpoint-up(md){
            display: table-cell;
            vertical-align: middle;
        }

    }

    &__progress {
        color: $primary;
        display: inline-block;
        font-family: $font-family-sans-serif-bold;
        font-size: 10px;
        margin: 0 0 8px;
        vertical-align: middle;

        @include media-breakpoint-up(md){
            font-size:12px;
        }

        @include media-breakpoint-up(lg) {
            margin: 0 0 10px;
        }

    }

    &__prominent {

        @include media-breakpoint-up(md) {
            margin: 16px 0 0;
        }

    }

    &__response {

    }

    &__success {

        h4,
        p {

            color: #FFF;

        }

        p {
            margin-bottom: 10px;
        }

    }

    &__title {

        h4 {
            color: #D7D9DB;
            margin: 0;
            padding: 20px 0 14px;
        }

        @include media-breakpoint-up(md) {
            font-size: 24px;
        }

        @include media-breakpoint-up(lg) {
            background: transparent;
        }

        &--full {
            margin: 0 -20px;
            max-width: inherit;
            padding: 20px 25px;

            @include media-breakpoint-up(md) {
                background: #2A3339;
                margin: 0 -25px;
            }

            @include media-breakpoint-up(lg) {
            }

        }

        &--team {
            margin: 20px 0 15px;
        }

    }

    &__toggle {

        border-top: 1px solid #48535A;
        font-family: $font-family-sans-serif-bold;
        font-size: 14px;
        padding: 20px 0;

        @include media-breakpoint-up(md) {
            border: none;
            color: #8F969A;
            list-style-type: none;
            padding: 13px 0;
        }

        &--closed {

        }

        &--open {

            border-bottom: none;

            @include media-breakpoint-up(md) {
                color: #FFF;
            }

        }

        &--last {
            border-bottom: 1px solid #48535A;
            margin-bottom: 20px;

            @include media-breakpoint-up(lg) {
                border: none;
            }

        }

        &-icon {
            fill: $off-white;
            float: right;

            @include media-breakpoint-up(md) {
                display: none;
            }

            svg {
                height: 20px;
                width: 20px;
            }

        }

    }

    &__warning {
        width: 100%;
        background: #ffc6b6;
        color: #de420b;
        font-size: 14px;
        padding: 10px 20px;
        margin-bottom: 36px;
        text-align: center
    }

}
