.social-follow-button {
    &__title {
        //border-top: 1px solid $inactive-dividers;
        //border-bottom: 1px solid $inactive-dividers;
        padding: 32px 0px 0px 0px;
    }

    .secondary-cta {
        padding-bottom: 25px;
    }

    &__left {
        float: left;

        @include media-breakpoint-up(sm) {
            margin-left: 5px;
        }

        @include media-breakpoint-up(md) {
            margin-left: 0px;
        }
    }

    &__right {

        @include media-breakpoint-up(sm) {
            float: right;
            margin-right: 5px;
        }

        @include media-breakpoint-up(md) {
            margin-right: 0px;
        }
    }
}
