.search-results-careers {

    @include media-breakpoint-down(md) {
        .wide-component-background {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .wide-component-background {
        padding-top: 20px;
        padding-bottom: 20px;

        @include media-breakpoint-up(md) {
            padding-top: 48px;
            padding-bottom: 33px;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 60px;
            padding-bottom: 60px;
        }

    }

    .thought-leadership__copy-wrapper {
        padding: 0 25px 0px;

        @include media-breakpoint-up(md) {
            padding: 0 32px 0px;
        }
    }

    .thought-leadership__article-info {
        margin-top: 22px;

        @include media-breakpoint-up(md) {
            margin-top: 32px;
        }
    }

    .thought-leadership__card {
        @include media-breakpoint-down(sm) {
            margin-top: 5px;
        }
    }

    &__heading {
        padding-bottom: 10px;

        @include media-breakpoint-up (md) {
            padding-bottom: 22px;
            line-height: 36px;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: 30px;
            line-height: 40px;
        }

        &--main {
            padding-bottom: 20px;

            @include media-breakpoint-up(md) {
                margin-top: -9px;
                padding-bottom: 13px;
            }

            @include media-breakpoint-up(lg) {
                padding-bottom: 30px;
            }
        }

        &--links {

            @include media-breakpoint-up(md) {
                padding-bottom: 8px;
            }

            @include media-breakpoint-up(lg) {
                line-height: 25px;
                padding-bottom: 20px;
            }
        }

        &-link {
            padding-bottom: 22px;

            @include media-breakpoint-up(md) {
                padding-bottom: 28px;
            }

            @include media-breakpoint-up(lg) {
                padding-bottom: 32px;
            }

        }
    }

    &__wrapper {
        background: $gray-lighter;

        @include media-breakpoint-down(sm) {
            padding: 30px 0 16px;
        }

        @include media-breakpoint-up (md) {
            padding: 40px 40px 20px 40px;
        }

        @include media-breakpoint-up(lg) {
            padding: 60px 0 40px 0;
        }
    }

    &__main-block {
        @include media-breakpoint-up(lg) {
            padding-left: 60px;
        }
    }

    &__list {
        margin-bottom: 10px;

        @include media-breakpoint-down(sm) {
            margin-top: 10px;
        }
    }

    &__links {
        list-style: none;
    }

    &__link {
        margin-bottom: 4px;

        &--contacts {
            margin-bottom: 18px;

            @include media-breakpoint-up(md) {}
                margin-top: 2px;
        }

        @include media-breakpoint-up(md) {
            margin-bottom: 11px;
        }
    }

    &__image {
        margin-bottom: 15px;
        margin-top: 5px;

        @include media-breakpoint-up(md) {
            margin-bottom: 27px;
            margin-top: 0;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }
    }

    &__total {

        margin-top: 6px;
        margin-bottom: 10px;


        @include media-breakpoint-up(md) {
            margin-top: 9px;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }

        &--articles {
            margin-top: 10px;
            margin-bottom: 15px;

        }
    }

    &__summary {
        padding-bottom: 12px;
        margin-bottom: 0;

        @include media-breakpoint-up(md) {
            padding-bottom: 22px;
        }
    }

    &__articles {

        padding-top: 25px;

        @include media-breakpoint-up(lg) {
            padding-top: 55px;
        }

        &-links {
            padding-top: 10px;

            @include media-breakpoint-up(md) {
                padding-top: 25px;
            }

            @include media-breakpoint-up(lg) {
                padding-top: 55px;
            }
        }
    }

    &__copy {
        padding-bottom: 25px;

        @include media-breakpoint-up(md) {
            margin-bottom: 14px;
        }
    }

    &__contact-link {
        font-size: 13px;
        margin-left: 12px;

        @include media-breakpoint-up(md) {
            font-size: 14px;
            vertical-align: middle;
        }

        @include media-breakpoint-up(lg) {
            font-size: 16px;
        }
    }

    &__contact-icon {
        vertical-align: middle;

        @include media-breakpoint-up(md) {
            vertical-align: sub;
        }

        svg {
            fill: $brand-primary;
            height: auto;
            height/**/: 17px;
            width: 15px;

            @include media-breakpoint-up(md) {
                width: 17px;
            }
        }
    }
}
