.proof-of-success--property {
    &__container {
        overflow: hidden;
    }

    &__slide-holder {
        position: relative;
    }

    &__slide-track {
        width: 6000px;
    }

    &__item {
        float: left;
        cursor: pointer;

        @include media-breakpoint-up(xs) {
            margin-right: 4px;
            margin-left: 4px;
        }

        @include media-breakpoint-up(sm) {}

        @include media-breakpoint-up(md) {
            margin-right: 8px;
            margin-left: 8px;
        }

        @include media-breakpoint-up(lg) {
            margin-right: 10px;
            margin-left: 10px;
        }


        &:first-child {
            margin-left: 0px;
        }

        &:last-child {
            margin-right: 0px;
        }

        transition: opacity 0.4s;

        &--selected,
        &--over {
            opacity: 1 !important;
        }

        &--others,
        &--out {
            opacity: 0.4;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__item-holder {
        position: relative;
    }

    &__col {
        transition: 1s;
    }

    &__image {
        @include paddingBottom(1);

        height: 260px;

        @include media-breakpoint-up(md) {
            height: 360px;
        }


        @include media-breakpoint-up(lg) {
            height: 460px;
        }


        overflow: hidden;

        img {
            height: 100%;
            width: inherit;
        }
    }

    &__location {
        text-transform: uppercase;

        @include media-breakpoint-up(xs) {
            padding-bottom: 8px;
        }


        @include media-breakpoint-up(sm) {}


        @include media-breakpoint-up(md) {
            padding-bottom: 12px;
        }


        @include media-breakpoint-up(lg) {
            padding-bottom: 20px;
        }
    }

    &__main-info {
        display: none;
        opacity: 0;

        @include media-breakpoint-up(xs) {
            margin-right: 8px;
            margin-left: 8px;
        }


        @include media-breakpoint-up(sm) {}


        @include media-breakpoint-up(md) {
            margin-right: 16px;
            margin-left: 16px;
        }


        @include media-breakpoint-up(lg) {
            margin-right: 20px;
            margin-left: 20px;
        }
    }

    &__info {
        transition: 1s;
    }

    &__arrow {
        position: absolute;
        height: 31px;
        width: 61px;
        pointer-events: none;
        display: none;

        svg {
            height: 31px;
            width: 61px;
        }
    }

    &__image-holder {
        transform: translateX(-50%);
        // transition: 0.3s;

        &--open {
            transform: translateX(0%);
        }
    }

    &__plus-cross {
        svg{
            width: 100%;
            height: 100%;
        }
        position: absolute;
        height: 16px;
        width: 16px;
        right: 16px;
        top: 16px;
        z-index: 10;

        @include media-breakpoint-up(md) {
            right: 20px;
            top: 20px;
            height: 28px;
            width: 28px;
        }

        @include media-breakpoint-up(lg) {
            right: 23px;
            top: 23px;
        }

        path {
            fill: $white;
        }
    }
}