.quote {
    position: relative;

    .thumbnail__play-button {        
        top: 50%;
        left: 50%;   
    }

    &__white-box {
        background-color: #FFFFFF;
        padding: 16px 20px;

        @include media-breakpoint-up(md) {
            padding: 32px 40px 32px;
        }


        @include media-breakpoint-up(xl) {
            padding: 60px 0px 60px 60px;
        }
    }

    &__content-container {
        margin-top: -72px;

        @include media-breakpoint-up(lg) {
            margin-top: 0px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 25px;
        }


        .quote__content-centered {
            padding-bottom: 0;

            q {
                font-family: $font-family-serif;
                color: #00204e;
                letter-spacing: -1px;
                font-size: 23px;
                line-height: 30px;
                display: block;

                @include media-breakpoint-up(sm) {
                    font-size: 30px;
                    line-height: 36px;
                }


                @include media-breakpoint-up(md) {
                    font-size: 23px;
                    line-height: 28px;
                }


                @include media-breakpoint-up(lg) {
                    font-size: 30px;
                    line-height: 36px;
                }


                @include media-breakpoint-up(xl) {
                    font-size: 34px;
                    line-height: 41px;
                }
            }

            p {
                color: #00204e;
                letter-spacing: 0px;
                padding-top: 15px;
                padding-bottom: 25px;
                margin-bottom: -2px;
                font-size: 13px;
                margin-top: -2px;

                @include media-breakpoint-up(xs) {
                    font-size: 13px;
                }


                @include media-breakpoint-up(sm) {
                    font-size: 14px;
                }


                @include media-breakpoint-up(md) {
                    font-size: 14px;
                }


                @include media-breakpoint-up(md) {
                    padding-bottom: 25px;
                }


                @include media-breakpoint-up(md) {
                    font-size: 16px;
                    padding-top: 25px;
                    padding-bottom: 30px;
                    margin-bottom: -5px;
                    margin-top: -6px;
                }
            }
        }

        .secondary-cta-chevron {
            margin-top: 2px;
        }
    }

    &__copy {
        font-size: 18px;
        line-height: 24px;

        @include media-breakpoint-up(md) {
            font-size: 32px;
            line-height: 40px;
        }
    }
}