.proof-of-success--awards1 {

    &__holder--single {
        position: relative;
    }

    &__image--single {
        //padding-bottom: 30px;

        @include media-breakpoint-up(md) {
            padding-bottom: 0;
        }
    }

    &__content--single {

        @include media-breakpoint-up(md) {
            padding: 30px 0 0 0;
        }

    }

    &__subheading {
        //padding-top: 25px;
    }

    &__text {
        padding-top: 21px;
    }
}
