.footer_legal {

    h4 {
        color: #606a6a;
        margin-bottom: 0px;
    }

    p {
        color: #606a6a;
        padding-bottom: 0px;
    }

    &__copy-holder {
        padding: 27px 0px;

        @include media-breakpoint-up(md) {
            padding: 40px 0px;
        }

        @include media-breakpoint-up(lg) {
            padding: 80px 0px;
        }
    }

    &__footer-logo1 {
        margin-top: 40px;
        max-width: 115px;
    }

    &__footer-logo2 {
        margin-top: 40px;
        max-width: 115px;
    }

    &__desktop-logo1 {
        max-width: 105px;
    }

    &__desktop-logo2 {
        max-width: 105px;
    }
}
