.highlighted-cta-gallery {
    position: relative;
    width: 100%;
    &__mobile-divider {
        background-color: $grey-on-white-divider;
        height: 1px;
        width: 100%;
    }
    &__tablet-spacer {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    &__heading {
        padding-top: 40px;
        //padding-bottom: 20px;
        @include media-breakpoint-up(sm) {
            padding-top: 20px;
        }
    }
    &__copy {
        padding-bottom: 10px;
        @include media-breakpoint-up(md) {
            padding-bottom: 28px;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 20px;
            padding-bottom: 10px;
        }
    }
    &__cta {
        margin-top: 20px;
        margin-bottom: 40px;
        padding-left: 33px;
        padding-right: 33px;
        width: initial;
        @include media-breakpoint-down(xs) {
            width: 100%;
        }
        @include media-breakpoint-up(sm) {
            margin-bottom: 20px;
            margin-top: 0px;
        }
         @include media-breakpoint-up(lg) {
            margin-top: 20px;
        }
    }
    &__image-mask {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
    }
    &__image0 {
        display: block;
        position: absolute;
    }
    &__image1 {
        display: none;
        position: absolute;
    }
    &__image2 {
        display: none;
        position: absolute;
    }
    &__detail0 {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    &__detail1 {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    &__detail2 {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    &__tab-detail {
        display: block;
        position: absolute;
        //top: 0px;
        // left: 0px;
    }
    &__numbers {
        position: absolute;
    }
    &__index-number {
        font-family: $font-family-sans-serif-bold;
        font-size: 14px;
        color: black;
    }
    &__total-number {
        font-family: $font-family-sans-serif-bold;
        font-size: 14px;
        color: $gray-light;
    }
    &__tab-detail {
        //position:absolute;
    }
}
