@import "~styles/sec-variables.scss";

.applicationtiles__header{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border: none;
    border-bottom: 2px solid;
    border-bottom-color: $brand-primary;
    h4{
        color: $brand-primary;
        margin-top: 10px;
        padding-bottom: 0px;
        margin-bottom: 5px;
    }
}