<div class="dashtile__wrapper">
    <div class="content-block__column js-column tombstone">
        <div>
            <a href="{{dashtile.link}}">
                <picture> <!-- image path will be dynamic -->
                    <source srcset="{{dashtile.desktopImagePath}}" media="(min-width: 1024px)">
                    <source srcset="{{dashtile.tabletImagePath}}, {{dashtile.tabletLandscapeImagePath}}" media="(min-width: 768px)">
                    <source srcset="{{dashtile.mobileImagePath}}, {{dashtile.mobileLandscapeImagePath}}" media="(max-width: 767px)">
                    <img data-src="{{dashtile.desktopImagePath}}" class="r-image " alt="{{dashtile.imageAlt}}" />
                </picture>
            </a>
        </div>
    </div>
</div>
