<div class="wide-component-background wide-component-background--light-blue">
    <div class="container">
        <div class="row">
            <div class="applicationtiles__header" >
                <h4>
                    Applications
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashtile item" *ngFor="let dashtile of dashtiles; let index=index" >
                <inv-dashtile [dashtile]="dashtile">   </inv-dashtile>
            </div>
        </div>
    </div>
</div>