.tombstone__wrapper {
    margin-top: 20px;
    
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 30px;
    padding-right: 0px;
}

.tombstone {
    background: white;
    width: 90%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

img {
    width: 100%;
}