// an alert to show which top has been selected
// used at the top of the page
.alerts-top {
    position: relative;
    max-width: none;
    background: $gray-dark;
    margin: 0 auto;
    position: relative;
    z-index: 200000;

    &__wrapper {
        position: relative;
        padding-top: 12px;
        padding-bottom: 12px;
        position: relative;

        @include media-breakpoint-up(md) {
            padding-top: 18px;
            padding-bottom: 18px;
        }


        @include media-breakpoint-up(xl) {
            padding-top: 16px;
            padding-bottom: 16px;
        }


        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-top-color: $gray-dark;
            bottom: -18px;
            right: 7%;

            @include media-breakpoint-up(lg) {
                position: absolute;
                width: 0;
                height: 0;
                bottom: -25px;
                border-top: 20px solid #36424a;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
            }


            @include media-breakpoint-only(md) {
                right: 222.406px;
            }


            @include media-breakpoint-only(lg) {
                right: 242.406px;
            }


            @include media-breakpoint-up(xl) {
                right: 350.406px;
            }


            //added this breakpoint as in accordance with the header
            @media (min-width: 1131px) and (max-width: 1279px) {
                right: 352.406px;
            }
        }
    }

    &__close {
        background: none;
        padding: 0;
        border: none;
        line-height: 0;
        width: initial;
        float: right;

        &:hover,
        &:focus {
            background: none;
        }
    }

    &__copy {
        color: $white;
        padding-bottom: 0;
        margin-bottom: 0;
        float: right;
    }

    &__buttons {
        display: table-cell;
        vertical-align: middle;
        padding-left: 65px;
        width: 100%;

        @include media-breakpoint-up(md) {
            padding-left: 95px;
        }
    }

    &__inner {
        display: table;
    }

    &__text {
        display: table-cell;
        width: 100%;
    }

    &__svg {
        fill: $white;
    }
}
