@import "../../../styles/sec-variables.scss";
@import "../../../styles/digitalcomponents/navigation-all/login-toggler/login-toggler.scss";
@import "../../../styles/digitalcomponents/navigation-all/navigation/navigation.scss";
@import "../../../styles/digitalcomponents/navigation-all/search-toggler/search-toggler.scss";
@import "../../../styles/digitalcomponents/navigation-all/navigation-toggler/navigation-toggler.scss";
@import "../../../styles/digitalcomponents/global/logo/logo.scss";
@import "../../../styles/digitalcomponents/global/skip-link/skip-link.scss";

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;

    &__holder {
        background: $white;
    }

    &__border-bottom-holder {
        position: relative;

        @include media-breakpoint-down(md) {
            margin-left: 32px;
            margin-right: 32px;
        }

        @include media-breakpoint-down(sm) {}

        @include media-breakpoint-down(xs) {
            margin-left: 14px;
            margin-right: 14px;
        }

        @include media-breakpoint-up(lg) {
            margin-left: 2%;
            margin-right: 2%;
        }
    }

    &__border-bottom {
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 0;
        background: $gray-lighter;
        left: 50%;
    }

    &--hidden {
        top: -77px;

        @include media-breakpoint-up(md) {
            top: -97px;
        }

        @include media-breakpoint-up(md) {
            top: -148px;
        }
    }

    &_ul {
        font-size: 11px;
        line-height: 28px;

        @include media-breakpoint-down(sm) {
            font-size: 10px;
        }
    }

    &__inner {
        display: block;
        width: 100%;
        overflow: hidden;

        .navigation-toggler {
            @include media-breakpoint-down(sm) {
                top: 6px;
            }
            @include media-breakpoint-down(xs) {
                top: 8px;
            }
        }

        .navigation-toggler__hamburger {
            display: block;
        }

        .navigation-toggler__cross {
            display: none;
        }

        .navigation-toggler__label {
            color: $brand-primary;
        }

        .territory-toggler__label {
            color: $brand-primary;
        }

        .login-toggler {
            .icon-login {
                width: 20px;
                height: 20px;
                margin-top: 1px;
                margin-left: 7px;
                path {
                    fill: #437cc4;
                }
            }
            &:hover {
                path {
                    fill: #00204e !important;
                }
            }
        }

        .search-toggler__label {
            color: $brand-primary;
        }

        .header-logo {
            padding-top: 23px;

            &__divider {
                background-color: $grey-on-white-divider;
                display: inline-block;
                margin-left: 21px;
                margin-right: 9px;
                opacity: 0.8;
                width: 1px;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            .logo__zebra {
                padding-bottom: 0;
                padding-top: 10px;
                vertical-align: 10px;
                width: 140px;

                @include media-breakpoint-down(md) {
                    margin-top: -28px;
                    padding-bottom: 6px;
                    width: 120px;
                }

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            @include media-breakpoint-down(xs) {
                .logo__zebra {
                    display: none;
                }

                .divider-logo {
                    display: none;
                }

                &__divider {
                    display: none;
                }
            }
        }
    }
}

.header-controls {
    list-style: none;
    float: right;
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 14px;
    vertical-align: middle;

    .gold {
        fill: gold;
    }

    .silver {
        fill: silver;
    }

    .bronze {
        fill: sandybrown;
    }

    &__item {
        position: relative;
        display: inline-block;
        cursor: pointer;
        padding-left: 6px;

        @include media-breakpoint-up(lg) {
            padding-left: 10px;
        }
    }

    &__divider {
        display: inline-block;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: -8px;
        width: 1px;
        height: 27px;
        background-color: $grey-on-white-divider;
    }

    &__item-first {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    &__link {
        display: inline-block;
        vertical-align: middle;
        @include media-breakpoint-down(xs) {
            vertical-align: baseline;
        }
    }

    &__link-white {
        display: inline-block;
        color: white;
    }

    &__icon {
        width: initial;
    }

    @include media-breakpoint-down(sm) {
        .js-search-toggler .search-toggler__label {
            display: none;
        }

        .js-login-toggler .login-toggler__label {
            display: none;
        }
    }

    @include media-breakpoint-down(xs) {
        .js-login-toggler .login-toggler__label {
            display: none;
        }

        .js-search-toggler .search-toggler__label {
            display: none;
        }
    }
}
