<header class="header" id="s-header" data-name="header" data-component="header">
    <div class="skipcontent">
        <a href="#content">Skip to main content</a>
    </div>
    <div class="header__holder">
        <div class="container">
            <div class="header__inner">
                <div class="header-controls">
                    <div class="header_ul">
                        <div class="header-controls__item login-toggler">
                            <div *ngIf="!isLoggedIn()" (click)="signIn()">
                                <span class="login-toggler__label navigation__top-font">log in</span>
                                <span *ngIf="!isLoggedIn()" (click)="signIn()" class="js-login-toggler header-controls__link">
                                    <svg class="icon-login" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         width="93px" height="126px" viewBox="0 0 93 126" enable-background="new 0 0 93 126" xml:space="preserve">
                                        <title>login</title>
                                        <path d="M93,60.675V53.7H0v63.938c0,1.744,1.744,3.488,3.488,3.488l0,0h86.025c1.744,0,3.487-1.744,3.487-3.488V60.675
                                            C93,61.256,93,61.256,93,60.675z M52.312,90.319v16.275H40.688V90.319c-5.812-3.488-7.556-10.463-4.069-15.694
                                            c3.487-5.231,10.463-7.556,16.275-4.069s7.556,10.463,4.069,15.694C55.8,87.994,54.056,89.156,52.312,90.319z M24.412,40.331
                                            c0.581-12.206,11.044-21.506,23.25-21.506c11.625,0.581,20.925,9.881,21.506,21.506v8.138h15.694v-5.812l0,0v-2.325
                                            C84.862,19.406,67.425,2.55,46.5,2.55C26.156,3.713,9.881,19.406,8.719,39.169l0,0v9.881h15.694V40.331z"/>
                                    </svg>
                                </span>
                            </div>
                            <div>
                                <span *ngIf="isLoggedIn()" (click)="signOut()" class="login-toggler__label navigation__top-font {{userLevel}}">
                                    {{userName}}
                                </span>
                                <span *ngIf="isLoggedIn()" (click)="signOut()" class="js-login-toggler header-controls__link {{userLevel}}">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        version="1.1"
                                        id="Outline"
                                        x="0px"
                                        y="0px"
                                        width="14px"
                                        height="14px"
                                        viewBox="0 0 14 14"
                                        enable-background="new 0 0 14 14"
                                        xml:space="preserve"
                                        class="injected-svg js-svg-icon svg-icon "
                                        data-src="../assets/images/icons/svg/login.svg"
                                        data-fallback="../assets/images/icons/png/login.png">
                                        <g id="login_-_outline">
                                            <path d="M7,7c1.934,0,3.5-1.566,3.5-3.5S8.934,0,7,0S3.5,1.566,3.5,3.5S5.066,7,7,7z M4.375,9L0,11.353V14h14v-2.647L9.625,9H4.375   z"></path>
                                        </g>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="headerControlSpacer"></div>
                    </div>
                </div>
                <div class="header-logo">
                    <div class="logo">
                        <a href="/" class="logo__link">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 262.5 55.1" style="enable-background:new 0 0 262.5 55.1;" xml:space="preserve" class="injected-svg js-svg-icon svg-icon " data-src="../assets/images/icons/svg/logo.svg" data-fallback="../assets/images/icons/png/logo.png">
                            <style type="text/css">
                                .logo0{fill:#00204E;}
                                .logo1{fill:#6595D3;}
                            </style>
                            <g>
                                <path class="logo0" d="M54.3,18.7c0.9,0,1.8,0.4,1.8,1v30.5c0,0.7-0.9,1-1.8,1v0.7h8.8v-0.7c-0.9,0-1.8-0.4-1.8-1V19.7   c0-0.7,0.9-1,1.8-1V18h-8.8C54.3,18,54.3,18.7,54.3,18.7z M166.4,33.8c0-2.1,2.4-3.2,4.8-3.2c4,0,6.3,0.7,7,3.4h0.8l-0.1-3.5   c-2.4-1-5.1-1.4-7.1-1.4c-6.8,0-9.6,3.5-9.6,6.3c0,7.9,13.5,6,13.5,11.8c0,1.7-1.4,3.5-5,3.5c-4.5,0-6.8-1.4-7.9-4.4l-0.6,0.1   l0.3,4.2c2.2,1,5.1,1.7,7.6,1.7c7.4,0,10.6-3.4,10.6-6.7C180.8,37.7,166.4,39.5,166.4,33.8z M121.3,30c1.4,0,2.3,0.8,1.8,1.9l0,0   l-6.7,13l-6.7-13.1c-0.3-1,0.6-1.8,1.8-1.8v-0.7h-10.7V30c1.3,0,2.3,0.5,3.2,2.2L114.9,52l11.2-20.2c0.9-1.5,2-1.8,2.9-1.8v-0.7   h-7.7V30z M96.3,50.1V39.9l0,0v-4.6c0-4.2-4.5-6.6-9.2-6.6c-4,0-7.5,2.2-8.9,3.4v-3.2l0,0l0,0c0-0.4-0.2-0.5-0.4-0.5   c-2.9,1-4.2,1.6-7.1,2.5v0.5c1.5,0.1,2,0.9,2.2,2V50c0,0.7-0.9,1-1.8,1v0.7h8.8V51c-0.9,0-1.8-0.4-1.8-1V34l0,0v-0.1   c1.2-1.1,3.6-2.5,6.2-2.5c5.4,0,6.6,2.9,6.6,5.5V50c0,0.7-0.9,1-1.8,1v0.7h8.8V51C97.2,51.1,96.3,50.9,96.3,50.1z M156.2,38.7   c0-7.1-6.4-9.9-11.6-9.9c-9.5,0-14,6.3-14.1,11.5c0,1.8,0.5,4,1.6,5.7c1.2,1.9,2.8,3.4,4.9,4.5c2.1,1.1,4.5,1.6,7.1,1.6   c2.4,0,4.5-0.3,6.3-0.9s3.6-1.7,5.4-3.2v-1.8c-1.9,1.3-3.6,2.1-5,2.6s-3,0.7-4.9,0.7c-2.6,0-5-0.8-6.9-2.6c-2-1.8-2.8-4.8-2.8-6.9   v-1.3C136.2,38.7,156.2,38.7,156.2,38.7z M143.9,30.5c3.4,0,6.7,1.8,6.7,6.4h-14.1C136.9,33.6,139.3,30.5,143.9,30.5z M233.7,38.7   c0-7.1-6.4-9.9-11.6-9.9c-9.5,0-14,6.3-14.1,11.5c0,1.8,0.5,4,1.6,5.7c1.2,1.9,2.8,3.4,4.9,4.5c2.1,1.1,4.5,1.6,7.1,1.6   c2.4,0,4.5-0.3,6.3-0.9s3.6-1.7,5.4-3.2v-1.8c-1.9,1.3-3.6,2.1-5,2.6s-3,0.7-4.9,0.7c-2.6,0-5-0.8-6.9-2.6c-2-1.8-2.8-4.8-2.8-6.9   v-1.3C213.7,38.7,233.7,38.7,233.7,38.7z M221.3,30.5c3.4,0,6.7,1.8,6.7,6.4h-14.1C214.4,33.6,216.8,30.5,221.3,30.5z M200.4,50.1   c-1.9,0.1-5.6-0.5-5.6-4.9V31.6h8.6v-2h-8.5v-4.4h-5.4v4.4H186v2h3.4v13.5l0,0l0,0v0.1c0,4.5,3.6,6.9,8.5,6.8   c1.7,0,3.5-0.6,4.6-1.3c0.5-0.3,1.1-0.7,1.7-1.2l-0.1-0.8C203.5,49.2,201.9,50,200.4,50.1z M252.6,30.5c3.8,0,7.3,2.1,8.7,4.6h1.2   v-4.2c-0.1,0-4.1-2.2-9.6-2.2c-10.4,0-14.7,7-14.7,11.8c0,1,0.1,2,0.4,3l0,0c0.1,0.3,0.2,0.5,0.3,0.8c0.4,1.2,1.1,2.4,2,3.4   c1,1.1,2.1,2.1,3.5,2.8c1.7,0.9,3.5,1.4,5.5,1.6c0.7,0.1,1.3,0.1,2,0.1c2.1,0,3.9-0.4,5.3-0.9c0,0,0,0,0.1,0   c1.7-0.6,3.4-1.6,5.1-3.1v-1.8c-1.5,1-2.9,1.8-4,2.3c-1.3,0.5-2.9,0.8-4.8,0.8c-6.5,0-9.8-4.6-9.8-9.5   C243.9,35.5,246.6,30.5,252.6,30.5z"></path>
                                <path class="logo1" d="M21.4,18V0h-1.6v3.9C12,4.2,5.6,9.1,4,15.6h4.2c1.4-5.2,6-9.1,11.6-9.5V18H0v1.7h3.6   c0.5,7.6,7.5,13.8,16.2,14.1v3.8h1.6v-18h12C33,25.2,29,29.8,23.7,31.2v2.3c7.6-1.2,13.4-6.9,13.9-13.9h3.6v-1.7H21.4V18z    M19.7,31.6c-6.4-0.4-11.6-5.5-12-11.9h12V31.6z M33,15.6h4.2C35.7,9.8,30.4,5.2,23.7,4.1v2.3C28.2,7.6,31.8,11.1,33,15.6z"></path>
                            </g>
                        </svg>
                        </a>
                    </div>
                    <div class="header-logo__divider"></div>
                    <img src="../../../assets/images/ooto.jpg" #ootoImage class="js-svg-icon header__ootoLogo logo__zebra">
                </div>
            </div>
        </div>
    </div>
</header>
