///
// a secondary call to action
// looks like a link with a chevron
// :hover                         - animates chevron to the right, subtle colour  change
// .secondary-cta--inverse        - light text to be used on a dark background

@import "~styles/sec-variables.scss";

.secondary-cta {
    display: inline-block;
    color: $brand-primary;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.7px;
    //text-transform: capitalize;
    transition: color 0.8s $easing;

    &::first-letter {
        text-transform: uppercase;
    }

    .svg-icon {
        fill: $brand-primary;
        transition: all 0.8s $easing;
    }

    &:focus {
        outline: none;
    }

    &:hover,
    &:focus {
        color: $brand-primary;

        .secondary-cta__chevron {
            transform: translate(5px, 0px);
        }
    }


    &__chevron {
        height: 14px;
        width: 14px;
        position: relative;
        display: inline-block;
        transition: transform 0.3s $easing;

        @include media-breakpoint-up(xs) {
        }

        @include media-breakpoint-up(sm) {
            margin-left: 4px;
        }

        @include media-breakpoint-up(xs) {
        }

        @include media-breakpoint-up(lg) {
        }

    }

    &__copy {

        //display: inline-block; Removed it as it pushes the chev to the next line

         svg {
             height: 14px;
             position: relative;
             margin-right: 3px;
             fill: $brand-primary;

             @include media-breakpoint-up(sm) {
                 top: 2px;
             }
             @include media-breakpoint-down(xs) {
                 margin-top: -1px;
             }
         }
     }

    // media queries

    @include media-breakpoint-up(xs) {
        font-size: 14px;
    }

    @include media-breakpoint-up(sm) {
        font-size: 15px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 16px;
    }

    // modifiers

    &--inverse {
        color:$white;

        .svg-icon {
            fill: $white;
        }

        &:hover,
        &:focus {
            color: darken($white, 20%);

            .svg-icon {
                fill: darken($white, 20%);
            }
        }
    }

}
