.alerts-inline {
  background: $gray-dark;
  margin-right: 14px;
  margin-left: 14px;
  padding-bottom: 25px;
  padding-top: 14px;


  @include media-breakpoint-only(md) {
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 40px;
    padding-top: 23px;
  }

  @include media-breakpoint-only(lg) {
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 40px;
    padding-top: 23px;
  }

  @include media-breakpoint-up(xl) {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    padding-top: 23px;
  }

  &__button {

      .secondary-cta__chevron {

          svg {
          polygon {
              fill: $white;
          }
      }
    }

      &:hover,
      &:focus {
          .secondary-cta__chevron {
              svg {

                  polygon {
                      fill: $white;
                  }
              }
          }

      }
  }

    .secondary-cta__copy {
        color: $white;
    }

  &__heading {
    color: $off-white;
    margin-bottom: -8px;

    @include media-breakpoint-up(md) {
      margin-bottom: 2px;
      line-height: 32px;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: -10px;
    }
  }

  &__title {
    font-size: 9px;
    color: $yellow;
    font-family: $font-family-sans-serif-bold;
    //margin-top: 2px;
    text-transform: uppercase;
    padding-bottom: 0;

    @include media-breakpoint-up(md) {
      font-size: 12px;
    }
  }

  &__inner {
    padding-bottom: 11px;
      display: table;

    @include media-breakpoint-up(md) {
      padding-bottom: 23px;
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 20px;
    }
  }


  &__copy {
    color: $off-white;
    margin-bottom: -7px;

    @include media-breakpoint-up(md) {
      margin-bottom: -8px;
      padding-bottom: 30px;
    }
  }

  &__buttons {
    float: right;
  }
}
