@import "../../../styles/helpers/_colors";
.skipcontent {
	a {
		color: $white;
		left: 0;
		position: absolute;
		top: -20px;
		transition: top 0.3s ease;
		z-index: 100;

		&:focus {
			background: $brand-primary;
			color: $white;
			padding: 10px;
			text-align: center;
			top: 0;
			width: 100%;
		}

	}
}
