.highlighted-cta {
    .container {
        @include paddingTop(1);

        @include paddingBottom(1);
    }
    &__buttons {
        @include media-breakpoint-up(md) {
            padding-top: 16px;

            &--single-item {
                padding-top: 0px;
            }
        }
    }

    &__button {
        width: initial;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &__heading {
        @include media-breakpoint-only(sm) {
            font-size: 32px;
            line-height: 48px;
        }


        @include media-breakpoint-up(md) {
            line-height: 32px;
        }
    }

    &__item {
        border-top: 1px solid #b8bcc5;
        padding: 0 14px 8px;

        @include media-breakpoint-up(sm) {
            padding: 0 28px 10px;
        }


        @include media-breakpoint-up(md) {
            border-top: none;
            padding: 0px;
        }


        &:first-child {
            border-top: none;
        }
    }

    &-verticle-divider {
        height: 1px;
        width: 100%;
        background-color: $grey-on-white-divider;
        margin-top: 28px;
        margin-bottom: 22px;

        @include media-breakpoint-up(sm) {
            margin-top: 35px;
            margin-bottom: 25px;
        }
    }
}