.content-block {
    &__wrapper {
    padding: 8px 11px 20px;

      .content-block--3-col & {

          @include media-breakpoint-down(sm) {
              padding: 17px 11px 12px;
          }

          @include media-breakpoint-up(md) {
              padding: 0 0 28px;
          }

          @include media-breakpoint-up(lg) {
              padding-bottom: 30px;
          }
      }

      .content-block--alt & {
          @include media-breakpoint-down(sm) {
              padding: 11px 11px 20px;
          }

          @include media-breakpoint-up(md) {
              padding: 0 0 35px;
          }

          @include media-breakpoint-up(lg) {
              padding: 0 0 45px;
          }
      }

      .content-block--stats & {
            @include media-breakpoint-down(sm) {
                padding: 15px 11px 10px;
            }

            @include media-breakpoint-up(md) {
                padding: 50px 0;
            }

            @include media-breakpoint-up(lg) {
                padding: 60px 0;
            }
        }

    @include media-breakpoint-up(md) {
      padding: 0 0 50px;
    }
  }

    &__column {
    padding-top: 17px;

        .content-block--alt & {
          @include media-breakpoint-down(sm) {
              padding-top: 14px;
          }
      }
        .content-block--3-col & {
        @include media-breakpoint-down(sm) {
            padding-top: 8px;
        }
    }

        .content-block--stats & {
            padding-bottom: 0;

            @include media-breakpoint-down(sm) {
                padding-top: 20px;
            }

            @include media-breakpoint-up(md) {
                border-bottom: none;
                display: table;
                margin: auto;
                padding-bottom: 0;
                padding-top: 0;
            }

            @include media-breakpoint-up(lg) {
                padding-bottom: 0;
                padding-top: 0;
            }
        }

    @include media-breakpoint-up(md) {
      padding-top: 45px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 55px;
    }
  }

    &__downloads {
    margin-top: 22px;

    @include media-breakpoint-up(md) {
      margin-top: 32px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 38px;
    }
  }

    &__download {
    display: inline-block;
    margin-right: 10px;

    &::after {
      bottom: 7px;
      content: '.';
      margin-left: 10px;
      position: relative;
    }

    &-heading {
      transition: 0.4s;
      color: $brand-primary;
      float: left;
      letter-spacing: 0.7px;
      margin-right: 10px;
      text-transform: uppercase;
    }

    .svg-icon {
      &--download {
        height: auto;
        width: 12px;
        height: 12px;
        margin-bottom: 5px;

        path, polygon {
          fill: $brand-primary;
        }

        @include media-breakpoint-up(md) {
          width: 14px;
          height: 14px;
        }
      }
    }

    &:last-child {
      &::after {
        content: '';
        margin-left: 0;
      }
    }
  }

    &__image {
        display: inline-block;
        vertical-align: sub;
  }

    &__links {
        list-style-type: none;

        @include media-breakpoint-up(md) {
            margin-top: 4px;
        }
    }

    &__link {
        margin-bottom: 5px;

        @include media-breakpoint-up(md) {
            margin-bottom: 10px;
        }
    }

    &__heading {
        @include  media-breakpoint-up(lg) {
            padding-bottom: 30px;
        }

        &--stats {
            font-family: $font-family-serif;
            font-size: 24px;

            @include media-breakpoint-up(md) {
                font-size: 36px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 40px;
            }
        }
    }

    &__copy {
        &--stats {
            font-family: $font-family-sans-serif-bold;
            font-size: 13px;
            padding: 0;

            @include media-breakpoint-down(sm) {
                padding-bottom: 22px;
            }

            @include media-breakpoint-up(md) {
                font-size: 14px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 16px;
            }
        }
    }

    &__border {

        border-bottom: 1px solid $grey-on-white-divider;

        @include media-breakpoint-up(md) {
            border-bottom: none;
            border-right: 1px solid $grey-on-white-divider;
        }
    }

  .wide-component-background {

    @include media-breakpoint-only(md) {
      margin: 0;
    }
  }
}
