// TODO :BReak down to Specific Imports rather than Bulk
@import "../../../styles/pl-style.scss";

.territory-selector {

    &__icon {}

    &__back-header {
        position: absolute;
        width: 100%;
        top: 57px;
        left: 0px;
    }

    &__title {
        margin-bottom: -8px !important;
        padding-bottom: 0px;
    }

    &__breaker {

        @include paddingTop(1);

        @include marginBottom(1);

        opacity: 1;
    }

    &__territory {
        padding-bottom: 15px;
        opacity: 0;
        transition: 0.4s;
        cursor: pointer;

        &--faded{
          opacity: 0.5 !important;
        }

        &--selected {
            opacity: 1 !important;
        }


    }

    &__cheveron {}

    &__back-icon {
        display: inline-block;
        padding-top: 27px;
        padding-left: 0px;
    }

    &__back-title {
        display: inline-block;
        padding-top: 27px;
        padding-left: 0px;
        padding-bottom: 15px;
        color: white !important;
    }

    &__back-title h5 {
        color: white !important;
    }

    &__back-title .svg-icon {
        display: inline-block !important;
    }
    @include media-breakpoint-up(xs) {
      margin-top:-39px;
    }
    @include media-breakpoint-up(sm) {
      margin-top:0px;
    }
}
