.alerts-interstitial {
  background: $gray-dark;
  margin-right: 14px;
  margin-left: 14px;
  padding-bottom: 30px;
  padding-top: 30px;

  @include media-breakpoint-only(md) {
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 36px;
    padding-top: 36px;
  }

  @include media-breakpoint-only(lg) {
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 36px;
    padding-top: 36px;
  }

  @include media-breakpoint-up(xl) {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 36px;
    padding-top: 36px;
  }

  &__buttons {

    @include media-breakpoint-up(md) {
      padding-top: 8px;

      &--single-item {
        padding-top: 0px;
      }
    }
  }

  &__heading {
    color: #f3f3f3;
    margin-bottom: -5px;
    margin-top: -4px;

    @include media-breakpoint-up(md) {
      line-height: 32px;
      margin-bottom: -4px;
      padding-bottom: 30px;
    }
  }

  &__item {

    &-inner {
      border-top: 1px solid $grey-on-slate-divider;
      padding: 30px 0;

      @include media-breakpoint-only(md) {
        padding: 39px 0;
      }

      @include media-breakpoint-up(lg) {
        border-top: none;
        padding: 0;
      }

      &--first {
        border-top: none;
        padding-top: 0;
      }

      &--last {
        padding-bottom: 0;
      }
    }


    @include media-breakpoint-up(lg) {
      &-inner {
        padding: 14px 0 18px 0;

        &--first {
          border-right: 1px solid $grey-on-slate-divider;
          margin-right: 20px;
        }
      }
    }

    @include media-breakpoint-only(xl) {
      &-inner {
        &--first {
          margin-right: 29px;
        }
      }
    }
  }

  &__copy {
    color: $off-white;
    margin-bottom: -4px;


    @include media-breakpoint-up(md) {
      margin-bottom: -1px;
      padding-bottom: 30px;
    }
  }
}
