.proof-of-success--awards2 {
    &__content {
        @include media-breakpoint-up(md) {
            padding: 30px 0 0 0;
        }
    }

    &__subheading {
        //padding-top: 25px;

    }

    &__text {
        padding-top: 21px;
    }

    &__image-holder {
        //background-color: #0a9a87;
        text-align: center;
        padding: 20px 0;
        display: table;
        height: 100%;
        width: 100%;

        @include media-breakpoint-up(md) {
            padding: 0 5%;
        }
    }

    &__inner {
        display: block;
        vertical-align: middle;

        margin: 0 auto;

        &.wide-image {
            width: 160px;

        }

        &.tall-image {
            height: 120px;
        }
    }

    &__image {
        &.wide-image {
            height: auto;
            width: 100%;
        }

        &.tall-image {
            height: 100%;
            width: auto;
            width: initial;
        }
    }
}

.js-proof-of-success--awards2__cols {
    border-top: 1px solid $inactive-dividers;

    @include media-breakpoint-up(md) {
        border-left: 1px solid $inactive-dividers;
        border-top: none;
    }


    &:first-child {
        border: none;
    }
}
