.eligibility-downloads {

    &__content {
        @include paddingTop(2);

        @include paddingBottom(2);
    }

    &__divider-x {
        position: relative;
        width: 100%;
        max-height: 1px;
        background-color: #d3dce1;
        margin: auto;

        @include media-breakpoint-up(md) {
            max-height: 100%;
            position: relative;
            width: 1px;
            height: 140px;
            background-color: #d3dce1;
            margin: auto;
        }


        @include media-breakpoint-up(lg) {
            height: 140px;
        }
    }

    &__left {
        @include media-breakpoint-down(sm) {
            @include paddingBottom(1);

            margin-bottom: -10px;
        }


        @include media-breakpoint-down(xs) {
            @include paddingBottom(2);

            margin-bottom: -10px;
        }
    }

    &__heading {
        margin-bottom: -2px;

        @include media-breakpoint-up(md) {
            margin-bottom: -5px;
            padding-bottom: 32px;
        }
    }

    &__summary {
        padding-bottom: 16px;
        margin-bottom: 0;
    }

    &__items {
        @include media-breakpoint-down(sm) {
            // border-top: 1px solid #d3dce1;
            @include paddingTop(1);

            margin-top: -5px;
        }


        @include media-breakpoint-down(xs) {
            // border-top: 1px solid #d3dce1;
            @include paddingTop(2);

            margin-top: -5px;
        }


        .list-style {
            padding: 0px 15px;
            list-style-image: url("../images/icons/svg/bullet.svg");
            margin: 0px;
            margin-bottom: -16px;
        }

        .secondary-cta {
            margin-bottom: 20px;
        }
    }

    &__cta {
        .secondary-cta {
            &__link {
                padding: 0px;
                margin: 0px;
            }
        }
    }

    &__item-name {
        transition: 0.4s;
        float: left;
        padding-right: 20px;
        text-transform: uppercase;
        color: $brand-primary;
    }

    &__item {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0px;
            margin-bottom: -5px;
        }

        @include media-breakpoint-down(sm) {
            margin-bottom: 5px;
        }


        &-heading {
            transition: 0.4s;
            color: $brand-primary;
            float: left;
            font-size: 14px;
            letter-spacing: 0.7px;
            margin-right: 10px;

            @include media-breakpoint-up(sm) {
                margin-bottom: 5px;
            }

            @include media-breakpoint-up(md) {
                font-size: 15px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 16px;
            }

        }

        .svg-icon {
            &--download {
                height: auto;
                width: 12px;
                height: 12px;
                margin-bottom: 5px;

                path, polygon {
                    fill: $brand-primary;
                }

                @include media-breakpoint-up(md) {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

    a:hover {
        .eligibility-downloads__item-heading {
            color: $primary;
        }

        .eligibility-downloads__item-name {
            color: $primary;
        }

        .svg-icon {
            &--download {
                path, polygon {
                    fill: $primary;
                }
            }
        }
    }

}
