html {
    background-color: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ffffff));
    background: -webkit-linear-gradient(top, #fafafa, #ffffff);
    background: -moz-linear-gradient(top, #fafafa, #ffffff);
    background: -ms-linear-gradient(top, #fafafa, #ffffff);
    background: -o-linear-gradient(top, #fafafa, #ffffff);
    font-family: Arial, Helvetica, sans-serif;
    height: 90%;
    margin-top: 65px;
}

[hidden] {
    display: none !important;
}

.text-nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-fixed {
    table-layout: fixed;
}

body {
    background-color: transparent;
}

nav.navbar-fixed-top {
    background-color: white;
}

.navbar-toggle .icon-bar {
    background-color: #00204E;
}

.main-nav-heading {
    padding: 0;
    border-bottom: 0;
}


/* Workaround for lack of href */

a {
    cursor: pointer;
}


/* stop table Overflowing */

table {
    table-layout: fixed;
    word-wrap: break-word;
    overflow: hidden;
}

.navbar .container {
    padding-left: 0;
}

.navbar-nav {
    margin: 0;
}

.navbar-right>li.nav-dd {
    height: 100%;
}

.navbar-nav>li {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-right>li {
    float: right;
    height: 65px;
}

.navbar-right .btn, .navbar-right a {
    margin-top: 15px;
}

.container .jumbotron.inv-sec-logo-container {
    padding: 0;
    background-color: transparent;
    margin-top: 15px;
    min-height: 51px;
}

.row-padding {
    padding-bottom: 10px;
}

.gold {
    background-color: gold;
}

.silver {
    background-color: silver;
}

.bronze {
    background-color: sandybrown;
}

.carousel-indicators {
    bottom: 0 !important;
}
