/**
 * styles specific to the pattern library
 */
/*------------------------------------*    $MIXINS
\*------------------------------------*/
/*------------------------------------*    VARIABLES
    forked from Bootstrap
\*------------------------------------*/
/* line 21, C:/GIT/investec_frontend/frontend/source/common/styles/pl-style.scss */
.pl-collection__item-status--development {
  background: #ffc700;
}

/* line 25, C:/GIT/investec_frontend/frontend/source/common/styles/pl-style.scss */
.pl-collection__item-status--descoped {
  background: #ccd2dc;
}

/* line 29, C:/GIT/investec_frontend/frontend/source/common/styles/pl-style.scss */
.pl-collection__item-status--review {
  background: #5bc0de;
  color: #fff;
}

/* line 34, C:/GIT/investec_frontend/frontend/source/common/styles/pl-style.scss */
.pl-collection__item-status--complete {
  background: #5cb85c;
  color: #fff;
}

/* line 42, C:/GIT/investec_frontend/frontend/source/common/styles/pl-style.scss */
.pl-pattern__heading {
  font-size: 22px;
  margin-bottom: 36px;
  padding: 0;
  border-top: 1px solid #ccd2dc;
  padding-top: 10px;
  margin-bottom: 36px;
}

@media (max-width: 1024px) {
  /* line 42, C:/GIT/investec_frontend/frontend/source/common/styles/pl-style.scss */
  .pl-pattern__heading {
    margin-bottom: 28px;
  }
}

@media (max-width: 575px) {
  /* line 42, C:/GIT/investec_frontend/frontend/source/common/styles/pl-style.scss */
  .pl-pattern__heading {
    margin-bottom: 20px;
  }
}

/* line 54, C:/GIT/investec_frontend/frontend/source/common/styles/pl-style.scss */
.pl-color-preview__typo {
  font-weight: bold;
  font-size: 24px;
}

/* line 60, C:/GIT/investec_frontend/frontend/source/common/styles/pl-style.scss */
.pl-color-preview__circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: attr(data-color);
  border-style: solid;
  border-width: 1px;
  vertical-align: middle;
  margin-right: 30px;
}

/* line 73, C:/GIT/investec_frontend/frontend/source/common/styles/pl-style.scss */
.pl-intro {
  margin-bottom: 36px;
}

@media (max-width: 1024px) {
  /* line 73, C:/GIT/investec_frontend/frontend/source/common/styles/pl-style.scss */
  .pl-intro {
    margin-bottom: 28px;
  }
}

@media (max-width: 575px) {
  /* line 73, C:/GIT/investec_frontend/frontend/source/common/styles/pl-style.scss */
  .pl-intro {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=map/pl-style.css.map */
