@import "~styles/sec-variables.scss";
@import "layout/_responsive";
@import "base/_body";
@import "base/_buttons-svg";
@import "base/_buttons";
@import "base/_component";
@import "base/_custom-images";
@import "base/_dark-link";
@import "base/_font-face";
@import "base/_forms";
@import "base/_icons";
@import "base/_lists";
@import "base/_quote";
@import "base/_type";

.pl-collection {

    &__item {
    }

    &__item-status {

        &--development {
            background: $yellow;
        }

        &--descoped {
            background: $gray;
        }

        &--review {
            background: $brand-info;
            color: $white;
        }

        &--complete {
            background: $brand-success;
            color: $white;
        }
    }
}

.pl-pattern {
    &__heading {
        font-size: 22px;
        margin-bottom: 36px;
        padding: 0;
        border-top: 1px solid $gray;
        padding-top: 10px;
        @include marginBottom(1);
    }
}


.pl-color-preview {
    &__typo {
        font-weight: bold;
        font-size: 24px;

    }

    &__circle {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: attr(data-color);
        border-style: solid;
        border-width: 1px;
        vertical-align: middle;
        margin-right: 30px;
    }
}

.pl-intro {
    @include marginBottom(1);
}
