$desktop-row_height: 420px;
$tablet-row_height: 580px;

.hidden-class {
    display: none;
}

.proof-of-success-deals-cover {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.proof-of-success-deals .row .animate {
    -webkit-transition: width 0.5s ease, margin 0.5s ease;
    -moz-transition: width 0.5s ease, margin 0.5s ease;
    -o-transition: width 0.5s ease, margin 0.5s ease;
    transition: width 0.5s ease, margin 0.5s ease;
}

.proof-of-success-deals__bottom-position-fix {
    position: absolute;
    bottom: 60px;
    padding-right: 60px;
    @include media-breakpoint-down(xs) {
        padding-right: 22px;
    }
}

.proof-of-success-deals__expanded-cover-white {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $white;
    top: 0%;
    left: 0%;
    //border: 2px solid $brand-secondary;
    opacity: 0;
}

.proof-of-success-deals__expanded-cover-blue {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $brand-secondary;
    top: 0%;
    left: 0%;
    border: 2px solid $brand-secondary;
}

.proof-of-success-deals__expanded-cover-grey {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $gray-lightest;
    top: 0%;
    left: 0%;
    border: 2px solid $gray-lightest;
}

.proof-of-success-deals__mobile-divider {
    background-color: $grey-on-white-divider;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 1px;
}

.proof-of-success-deals__hero-minimised-label {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    line-height: 12px;
    padding-top: 30px;
    padding-bottom: 16px;
    font-family: $font-family-sans-serif-bold;
    text-transform: uppercase;
    @include media-breakpoint-down(xs) {
        font-size: 9px;
    }
    display: none;
}

.proof-of-success-deals {
    &__height-maintainer {
        position: relative;
        width: 100%;
    }
    &__tabs {
        position: relative;
        display: none;
        top: 0px;
        opacity: 0;
    }
    &__blocks {
        position: relative;
        top: 0px;
        width: 100%;
        overflow: hidden;
    }
    &__animation-block {
        position: absolute;
        background-color: aqua;
        width: 100px;
        height: 100px;
        top: 0px;
        left: 0px;
        display: none;
    }
    &__row-spacer {
        margin-top: 25px;
        @include media-breakpoint-up(sm) {
            margin-top: 15px;
        }
        @include media-breakpoint-up(md) {
            margin-top: 15px;
        }
        @include media-breakpoint-up(lg) {
            margin-top: 30px;
        }
    }
    &__plus-icon {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 40px;
        color: white;
        @include media-breakpoint-down(xs) {
            padding: 22px;
        }
    }
    &__hero {
        position: relative;
        height: $desktop-row_height;
        padding: 60px;
        background-color: $brand-secondary;
        color: white;
        cursor: pointer;
        border: 2px solid $primary;
        .svg-icon path {
            fill: $white;
        }
        overflow: hidden;
        @include media-breakpoint-down(md) {
            padding: 40px;
            height: $tablet-row_height;
        }
        @include media-breakpoint-down(xs) {
            padding: 22px;
            height: auto;
        }
    }
    &__hero-open {
        height: $desktop-row_height;
        display: none;
        position: relative;
        padding: 60px;
        background-color: $white;
        color: $primary;
        cursor: pointer;
        .svg-icon {
            transform: rotate(135deg);
        }
        .svg-icon path {
            fill: $brand-primary;
        }
        border: 2px solid $primary;
        overflow: hidden;
        @include media-breakpoint-down(md) {
            padding: 40px;
            height: $tablet-row_height;
        }
        @include media-breakpoint-down(xs) {
            padding: 22px;
            height: auto;
        }
    }
    &__hero-copy1 {
        font-size: 72px;
        line-height: 72px;
        margin-top: 15px;
        margin-bottom: 10px;
        font-family: $font-family-serif;
        text-transform: uppercase;
        @include media-breakpoint-down(xs) {
            margin-top: 80px;
            font-size: 40px;
        }
    }
    &__hero-copy2 {
        font-size: 16px;
        line-height: 16px;
        padding-bottom: 27px;
        font-family: $font-family-sans-serif-light;
        @include media-breakpoint-down(xs) {
            font-size: 18px;
        }
    }
    &__hero-hr {
        background-color: $grey-on-white-divider;
        height: 1px;
        opacity: 0.5;
    }
    &__hero-copy3 {
        font-size: 14px;
        line-height: 12px;
        padding-top: 30px;
        padding-bottom: 16px;
        font-family: $font-family-sans-serif-bold;

        @include media-breakpoint-down(md) {
            font-size: 15px;
        }

        @include media-breakpoint-down(lg) {
            font-size: 16px;
        }
    }
    &__hero-copy4 {
        font-size: 24px;
        line-height: 38px;
        font-family: $font-family-sans-serif-light;
        @include media-breakpoint-down(xs) {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__normal {
        height: $desktop-row_height;
        position: relative;
        padding: 60px;
        background-color: $gray-lightest;
        color: $primary;
        cursor: pointer;
        border: 2px solid $gray-lightest;
        .svg-icon path {
            fill: $brand-primary;
        }
        overflow: hidden;
        @include media-breakpoint-down(md) {
            padding: 40px;
            height: $tablet-row_height;
        }
        @include media-breakpoint-down(xs) {
            padding: 22px;
            height: auto;
        }
    }
    &__normal-open {
        height: $desktop-row_height;
        display: none;
        position: relative;
        padding: 60px;
        background-color: $white;
        color: $primary;
        cursor: pointer;
        .svg-icon {
            transform: rotate(135deg);
        }
        .svg-icon path {
            fill: $brand-primary;
        }
        border: 2px solid $primary;
        overflow: hidden;
        @include media-breakpoint-down(md) {
            padding: 40px;
            height: $tablet-row_height;
        }
        @include media-breakpoint-down(xs) {
            padding: 22px;
            height: auto;
        }
    }
    &__normal-copy1 {
        font-size: 14px;
        line-height: 12px;
        margin-bottom: 24px;
        font-family: $font-family-sans-serif-bold;
        @include media-breakpoint-down(xs) {
            margin-top: 80px;
        }
        @include media-breakpoint-down(md) {
            font-size: 15px;
        }
        @include media-breakpoint-down(lg) {
            font-size: 16px;
        }
    }
    &__normal-copy2 {
        font-size: 24px;
        line-height: 32px;
        font-family: $font-family-sans-serif-light;
        @include media-breakpoint-down(xs) {
            font-size: 18px;
        }
    }
    &__expanded {
        padding: 40px;
        border-style: solid;
        border-width: 2px;
        border-color: $gray-lightest;
        &-toprow-section1 {
            display: block;
        }
        &-toprow-section2 {
            display: none;
        }
        &-toprow-section3 {
            display: none;
        }
        &-toprow-section4 {
            display: none;
        }
        &-toprow-image {
            width: 100px;
            float: left;
            @include media-breakpoint-down(xs) {
                width: 80px;
            }
        }
        &-toprow-divider {
            background-color: $grey-on-white-divider;
            margin-top: 5px;
            margin-left: 20px;
            margin-right: 20px;
            height: 40px;
            width: 1px;
            float: left;
        }
        &-section-divider {
            background-color: $grey-on-white-divider;
            margin-top: 25px;
            margin-left: 20px;
            margin-right: 20px;
            height: 240px;
            width: 1px;
        }
        &-toprow-date {
            font-size: 12px;
            margin-top: 15px;
            float: left;
            font-family: $font-family-sans-serif-bold;
            color: $primary;
            @include media-breakpoint-down(md) {
                font-size: 11px;
            }
            @include media-breakpoint-down(xs) {
                font-size: 9px;
            }
        }
        &-toprow-section {
            opacity: 0;
        }
        &-left-section {
            opacity: 0;
            padding-bottom: 20px;
        }
        &-right-section {
            opacity: 0;
        }
        &-left-copy1 {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 25%;
        }
        &-left-copy2 {
            position: absolute;
            top: 0px;
            left: 50%;
            color: grey;
            font-family: $font-family-sans-serif-bold;
            @include media-breakpoint-up(xs) {
                top: 0px;
            }
            @include media-breakpoint-up(sm) {
                top: 0px;
            }
            @include media-breakpoint-up(md) {
                top: 0px;
            }
            @include media-breakpoint-up(lg) {
                top: 0px;
            }
        }
        &-left-copy3 {
            font-size: 24px;
            line-height: 24px;
            font-family: $font-family-sans-serif-light;
            margin-top: 28px;
            @include media-breakpoint-down(xs) {
                margin-top: 40px;
            }
        }
        &-left-copy3 h4 {
            padding-bottom: 20px;
            margin-bottom: 5px;
        }
        &-left-copy4 {
            font-size: 16px;
            line-height: 16px;
            font-family: $font-family-sans-serif-light;
        }
        &-left-copy4 p {
            line-height: 22px;
            margin-bottom: -12px;
            padding-bottom: 0px;
        }
        &-plus-icon {
            position: absolute;
            top: 20px;
            right: 20px;
            transform: rotate(45deg);
            cursor: pointer;
        }
        &-right-copy1 {
            font-family: $font-family-serif;
            font-size: 40px;
            line-height: 40px;
            margin-top: 20px;
            margin-bottom: 16px;
            padding-top: 0px;
            @include media-breakpoint-down(md) {
                margin-top: 0px;
                padding-top: 0px;
            }
            @include media-breakpoint-down(xs) {
                margin-top: 0px;
                padding-top: 0px;
                font-size: 24px;
            }
        }
        &-right-copy2 {}
        &-right-copy2 p {
            font-family: $font-family-sans-serif-bold
        }
        &-right-copy3 {
            font-family: $font-family-serif;
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 16px;
            @include media-breakpoint-down(xs) {
                font-size: 24px;
            }
        }
        &-right-copy4 {}
        &-right-copy4 p {
            font-family: $font-family-sans-serif-bold
        }
        &-footer {
            position: relative;
        }
        &-footer-slider {
            position: absolute;
            background-color: $brand-primary;
            width: 100px;
            height: 3px;
            top: 0px;
            left: 0px;
        }
        &-footer-btn {
            position: absolute;
            top: 0%;
            left: 20%;
            width: 60%;
            text-align: center;
            margin-top: 20px;
            cursor: pointer;
            text-transform: uppercase;
        }
        &-footer-btn h6 {
            color: $brand-primary;
        }
        &-footer-btn h6:hover {
            color: $primary;
        }
        &-footer-spacer {
            height: 100px;
            @include media-breakpoint-down(xs) {
                height: 70px;
            }
        }
    }
}
