.search {

    background: $gray-dark;
    margin-top: -62px;
    position: relative;
    z-index: 5;

    @include media-breakpoint-up(sm){
        margin-top: 0;
    }

    @include media-breakpoint-up(lg){
        margin-top: 27px;
    }

    &__title {
        color: #FFF;
        font-family: $font-family-sans-serif-bold;
        font-size: 16px;
        margin-bottom: 6px;
        padding: 0;

        @include media-breakpoint-up(md){
            font-size: 18px;
            margin-bottom: 6px;
        }

        @include media-breakpoint-up(lg){
            font-size: 20px;
            margin-bottom: -4px;
        }

    }

    &__chevron {
        margin-bottom: 0;
    }

    &__back {

        @include media-breakpoint-up(md){
            position: relative;
            top: 12px;
        }

    }

    &__back-btn {

        height: 17px;
        width: 15px;
        cursor: pointer;

        path,
        polygon {
            fill: #FFF;
        }

        @include media-breakpoint-up(md){
            height: 16px;
            width: initial;
        }

    }

    &__label {
        color: $form-grey;
        font-size: 9px;
        display: block;
        margin: 5px 0 3px;

        @include media-breakpoint-up(md){
            font-size: 14px;
            margin: 5px 0 12px;
        }

        @include media-breakpoint-up(lg){
            font-size: 16px;
        }

    }

    &__inner {
        position: relative;
    }

    &__input {

        background: $gray-dark;
        border: none;
        border-bottom: 1.5px solid $form-grey;
        color: #FFF;
        display: block;
        font-family: $font-family-sans-serif-light;
        font-size: 20px;
        margin-bottom: 28px;
        outline: none;
        padding: 0 47px 7px 0;
        width: 100%;

        @include media-breakpoint-up(md){
            font-size: 40px;
            margin-bottom: 36px;
        }

        @include media-breakpoint-up(lg){
            font-size: 52px;
            padding: 0 47px 4px 0;
            margin-bottom: 42px;
        }

    }

    &__clear {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 1px;
        z-index: 5;

        @include media-breakpoint-up(md){
            top: 13px;
        }

        @include media-breakpoint-up(lg){
            top: 17px;
        }

    }

    &__clear-btn {

        height: 7px;
        width: 17px;

        @include media-breakpoint-up(md){
            height: 35px;
            width: 35px;
        }

        path,
        polygon,
        rect {
            fill: #FFF;
        }

    }

    &__list {
        padding-bottom: 8px;

        &--result {
            @include media-breakpoint-up(md){
                margin-top: 14px;
            }
        }

    }

    &__query {

        font-family: $font-family-sans-serif-bold;

        @include media-breakpoint-up(md){
            font-size: 20px;
        }

    }

    &__item {
        color: #FFF;
        cursor: pointer;
        font-size: 14px;
        list-style-type: none;
        margin-bottom: 20px;
        transform: translateX(0);
        transition: all 0.3s ease-in-out 0s;

        @include media-breakpoint-up(lg){
            font-size: 16px;
            margin-bottom: 15px;
        }

        &:focus,
        &:hover {
            outline: none;
            transform: translateX(5px);
        }

        &--result {
            font-size: 16px;
            margin: 0 0 22px;

            @include media-breakpoint-up(md){
                 font-size: 18px;
                 margin: 0 0 32px;
             }

            @include media-breakpoint-up(lg){
                font-size: 20px;
                margin: 0 0 28px;
            }

        }

    }

    &__link {
        color: #FFF !important; //overriding '.dark a' specificity rule
    }

    &__result-total {

        float: right;
        font-family: $font-family-sans-serif-bold;
        font-size: 11px;
        text-transform: uppercase;

        @include media-breakpoint-up(lg){
            font-size: 12px;
        }

    }

}
