
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../styles/helpers/_mixins.scss";
@import "../../../styles/helpers/_custom_new_variables";

.search-toggler .svg-icon {

  height: 22px;
  margin-bottom: 6px;
  width: 23px;
  margin-right: 37px;

  @include media-breakpoint-up(xs) {
      margin-right: 0px;
      margin-bottom: -5px;
  }

  @include media-breakpoint-up(sm) {
      margin-right: 0px;
      margin-bottom: -5px;
  }

  @include media-breakpoint-up(md) {
      height: 20px;
      margin-left: 5px;
      margin-bottom: -2px;
      margin-right: 0px;
      width: initial;
      // width: 14px
  }
}

.search-toggler .search-toggler__label {
    display: inline;
    margin-left: 4px;

    @media (max-width: 1130px) {
        //display: none;
    }
}
