.benefits {
  color: #00204e;
  font-size: 16px;

  @include marginBottom(-1);

  &__heading {
    margin: 0 0 21px;

    @include media-breakpoint-up(md) {
      margin: 0 0 37px;
    }

    @include media-breakpoint-up(lg) {
      margin: 0 0 36px;
    }

  }

  &__copy {

    margin: 0px;
    padding: 0px;

  }

  &__summary {

    @include paddingBottom(1);

    @include media-breakpoint-up(md) {
      line-height: 32px;
    }

    @include media-breakpoint-up(lg) {
      line-height: 36px;

    }

    @include media-breakpoint-up(xl) {
      line-height: 36px;

    }

  }

  &__item {
    @include marginBottom(0);

    &-icon {
      padding: 0 0px;

      //@include media-breakpoint-up(sm) {
      //  padding: 0 20px;
      //}

      //@include media-breakpoint-only(md) {
      //      padding: 0 20px;
      //    }

      @include media-breakpoint-only(lg) {
        padding: 0 13px;
      }

      @include media-breakpoint-only(xl) {
        padding: 0 15px;
      }
    }

    &-content {
      @include paddingBottom(1);
    }

    &-tick {
      background: url("../images/icons/svg/tick.png") no-repeat;
      background: url("../images/icons/svg/tick.svg") 50% 43% no-repeat;
      background-size: 13px auto;
      float: left;
      height: 27px;
      width: 29px;

      @include media-breakpoint-up(lg) {
        height: 20px;
      }
    }

    &--bold {
      @include marginBottom(0);
    }

    &-heading {
      margin-bottom: 10px;

      @include media-breakpoint-up(lg){
        margin-top: 5px;
      }

    }
  }

  &__items {
    @include marginBottom (0);
    list-style: none;
    padding-left: 0;
  }

  @include media-breakpoint-down(sm) {
    //padding: 0;
  }
}
