<div class="hide-reveal-tabs__segment hide-reveal-tabs__segment--selected">
    <div class="row">
         <!-- Desktop image -->
        <div class="col-md-12 hidden-md-down">
           <div class="tabs-v1__desktop-image-holder tabs-v1__desktop-image-holder--selected">
                <picture> <!-- image path will be dynamic -->
                    <source srcset="{{tab.desktopImagePath}}" media="(min-width: 1024px)">
                    <source srcset="{{tab.tabletImagePath}}, {{tab.tabletLandscapeImagePath}}" media="(min-width: 768px)">
                    <source srcset="{{tab.mobileImagePath}}, {{tab.mobileLandscapeImagePath}}" media="(max-width: 767px)">
                    <img data-src="{{tab.desktopImagePath}}" class="r-image " alt="{{tab.imageAlt}}">
                </picture>
            </div>
        </div>
    </div>
</div>