<div (mouseover)='over()' (mouseout)='out()' class="hide-reveal-tabs" data-id="123" data-component="HideRevealTabs">
    <!-- Mobile version -->
    <div class="col-xs-12">
        <h4 class="hide-reveal-tabs__heading">
             {{header}}
        </h4>
    </div>
    <div class="hidden-md-up">
        <ul class="accordion__accordion tabs-v1" data-id="123" data-component="accordion">
            <li *ngFor="let tab of tabs" class="scrollmagic-element clearfix accordion__item accordion__item" >
                <inv-tab-mobile [tab]="tab"></inv-tab-mobile>
            </li>
        </ul>
    </div>
    <!-- desktop and tablet version -->
    <div class="hide-reveal_tabs-desktop">
        <div class="row hidden-sm-down">
            <div class="col-md-12">
                <h4>
                    {{header}}
                </h4>
            </div>
            <div class="col-md-6 offset-md-0 col-lg-4 offset-lg-0">
                <!-- Togglers -->
                <div class="hide-reveal-tabs__togglers-holder">
                    <div class="hide-reveal-tabs__togglers-offset">
                        <div *ngFor="let tab of tabs">
                            <div (click)="selectedTab = tab" class="hide-reveal-tabs__togglers" 
                            [class.hide-reveal-tabs__togglers--selected]="tab==selectedTab"  >
                                {{tab.header}}
                                <div class="hide-reveal-tabs__togglers-inner" 
                                [class.hide-reveal-tabs__togglers--selected-inner]="tab==selectedTab" ></div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            <!--Divider-->
            <div class="col-lg-1">
                <div class="hide-reveal-tabs__divider-holder">
                    <div class="hide-reveal-tabs__divider" style="height: 385px;">
                    </div>
                </div>
            </div>
            <!-- Content and image -->
            <div class="col-md-4 col-lg-7">
                 <div class="hide-reveal-tabs__segments-holder">
                         <inv-tab-desktop [tab]="selectedTab"></inv-tab-desktop>
                </div>
            </div>
        </div>
    </div>
</div>

                                   