<div class="accordion__inner">
    <div class="accordion__header row" (click)="tabOpen = !tabOpen">
        <h2 class="accordion__heading">{{tab.header}}</h2>
        <div class="accordion__button accordion__button--reveal">
            <div class="accordion__icon hidden-md-up">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="16px" height="16px" viewBox="0.028 0.062 16 16" enable-background="new 0.028 0.062 16 16" xml:space="preserve" class="injected-svg js-svg-icon svg-icon " data-src="../assets/images/icons/svg/plus-circle-mob.svg" data-fallback="../assets/images/icons/png/plus-circle-mob.png">
                    <path d="M11.668,7.312H8.778V4.431C8.78,4.028,8.456,3.701,8.054,3.699C7.653,3.697,7.325,4.02,7.323,4.422v2.891H4.396  C3.994,7.311,3.666,7.634,3.664,8.036C3.662,8.438,3.986,8.765,4.387,8.768h2.937v2.927c-0.002,0.402,0.277,0.729,0.678,0.731  c0.402,0.003,0.756-0.32,0.759-0.723V8.768h2.9c0.401,0.002,0.729-0.276,0.73-0.679C12.394,7.687,12.071,7.314,11.668,7.312z"></path>
                    <path d="M8.028,1.062c3.859,0,7,3.14,7,7c0,3.859-3.141,7-7,7c-3.86,0-7-3.141-7-7C1.028,4.203,4.168,1.062,8.028,1.062   M8.028,0.062c-4.418,0-8,3.582-8,8c0,4.419,3.582,8,8,8c4.419,0,8-3.581,8-8C16.028,3.644,12.447,0.062,8.028,0.062L8.028,0.062z"></path>
                </svg>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="accordion__content" [hidden]="!tabOpen">
            <!--<div class="col-xs-12 ">
                <h4 class="tabs-v1__title"></h4>
                <p class="tabs-v1__copy">{{tab.copy}}</p>
                <a href="#" class="js-secondary-cta secondary-cta " id="">
                    <span class="secondary-cta__copy">{{tab.linkText}}</span>
                    <span class="secondary-cta__chevron">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="7px" height="9px" viewBox="795.5 464 7 9" enable-background="new 795.5 464 7 9" xml:space="preserve" class="injected-svg js-svg-icon svg-icon  chevron chevron--desktop" data-src="../assets/images/icons/svg/chevron2.0_desktop.svg" data-fallback="../assets/images/icons/png/chevron2.0_desktop.png">
                            <polygon fill="#485dc5" points="798.5,464 795.5,464 799.25,468.5 795.5,473 798.5,473 802.5,468.5 "></polygon>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="5.688px" height="7px" viewBox="796.156 464.448 5.688 7" enable-background="new 796.156 464.448 5.688 7" xml:space="preserve" class="injected-svg js-svg-icon svg-icon  chevron chevron--mob" data-src="../assets/images/icons/svg/chevron2.0_mob.svg" data-fallback="../assets/images/icons/png/chevron2.0_mob.png">
                            <polygon points="798.612,464.448 796.278,464.448 799.195,467.948 796.278,471.447 798.612,471.447 801.723,467.948 "></polygon>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="6.5px" height="8px" viewBox="795.75 463.948 6.5 8" enable-background="new 795.75 463.948 6.5 8" xml:space="preserve" class="injected-svg js-svg-icon svg-icon  chevron chevron--tab" data-src="../assets/images/icons/svg/chevron2.0_tab.svg" data-fallback="../assets/images/icons/png/chevron2.0_tab.png">
                            <polygon points="798.556,463.948 795.889,463.948 799.223,467.948 795.889,471.947 798.556,471.947 802.112,467.948 "></polygon>
                        </svg>
                    </span>
                </a>
            </div>-->
            <div class="col-xs-12">
                <div class="tabs-v1__image-holder--mobile">
                    <picture> <!-- image path will be dynamic -->
                        <source srcset="{{tab.mobileImagePath}}, {{tab.mobileLandscapeImagePath}}" media="(max-width: 767px)">
                        <img src="{{tab.mobileImagePath}}" class="r-image " alt="{{tab.imageAlt}}">
                    </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
