// TODO :BReak down to Specific Imports rather than Bulk
@import "../../../styles/helpers/_mixins.scss";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../styles/helpers/_custom_new_variables";
@import "../../../styles/helpers/_colors";

.logo {
    display: inline-block;
    height: auto;
    vertical-align: 6px;

    &__link {
        display: block;
        width: 176px;
    }

    svg {
        height: 41px;
        width: 100%;
    }
}
