.chevron {

    fill: $brand-primary;

    &--desktop {
        height: 9px;
        width: 7px;
        display: none;

        @include respond-min(map-get($grid-breakpoints, "lg")) {
            display: inline-block;
        }
    }

    &--tab {
        height: 8px;
        width: 6.5px;
        display: none;

        @include respond-min(map-get($grid-breakpoints, "sm")) {
            display: inline-block;;
        }


        @include respond-min(map-get($grid-breakpoints, "lg")) {
            display: none;
        }
    }

    &--mob {
        height: 7px;
        width: 5.5px;

        @include respond-min(map-get($grid-breakpoints, "sm")) {
            display: none;
        }
    }
}
