.accordion {
    margin: 40px 0;

    &__title {
        font-size: 18px;

        @include media-breakpoint-up(md) {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 30px;
        }
    }

    &__desc {
        margin: 0;
        padding-bottom: 24px;

        @include media-breakpoint-up(md) {
            padding-bottom: 36px;
        }
    }

    &__item {
        border-bottom: 1px solid #E2E2E3;
        display: table;
        list-style-type: none;
        padding: 10px 0;
        position: relative;
        width: 100%;

        @include media-breakpoint-up(md) {
            padding: 16px 0;
        }


        &:first-child {
            border-top: 1px solid #E2E2E3;
        }

        &--open {
            .accordion__button {
                transition: 0.4s;
                transform: rotate(135deg);
            }
        }

        &--closed {
            .accordion__button {
                transition: 0.4s;
                transform: rotate(0deg);
            }

            & .hide-reveal-accordion__content {
                display: none;
            }
        }
    }

    &__inner {
        display: table-row;
    }

    &__content {
        display: none;



        ul {
            margin-left: 20px;

            li {
                margin-bottom: 20px;
            }
        }
    }

    &__heading {
        color: #485DC5;
        cursor: pointer;
        display: table-cell;
        font-family: $font-family-sans-serif-bold;
        font-size: 14px;
        line-height: 20px;
        padding: 0px;
        //text-transform: uppercase;
        width: 100%;

        @include media-breakpoint-up(md) {
            font-size: 15px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 16px;
        }
    }

    &__sub-heading {
        font-family: $font-family-sans-serif-bold;
        font-size: 15px;
        line-height: 20px;
        margin: 21.5px 0;
    }

    &__button {
        display: table-cell;
        vertical-align: middle;
        cursor:pointer;

        &--reveal {
            display: table-cell;
        }

        &--hide {
            display: none;

            .hide-reveal-accordion__item--open & {
                display: table-cell;
            }
        }

        svg {
            fill: #4E5DC9;
            height: 16px;
            width: 16px;

            @include media-breakpoint-up(md) {
                height: 20px;
                width: 20px;
            }
        }
    }

    &__icon {
        height: 16px;

        @include media-breakpoint-up(md) {
            height: 20px;
        }
    }
}
