.table {

  th, td, tr, thead {
    border: 1px solid #bbb !important;
  }

  table{
      border: 1px solid #bbb !important;
      color:#072050;
      width: 100%;
      max-width: 100%;
      margin-bottom: 1.66667rem;

  }

    thead{

        background-color: rgba(0,0,0,0.05);
        font-size: $font-size-base;
        height: 50px;

        th{
            font-size: $font-size-base;
            height: 50px;
            padding: 20px;
            vertical-align: top;
            font-family: "Helvetica-Neue-Light";
        }
    }

  th{

      @include media-breakpoint-down(sm) {
          background-color: rgba(0, 0, 0, 0.05);
          font-size: $font-size-base;
          font-family: "Helvetica-Neue-Light";
      }
  }

  tbody{
      font-size: 14px;
  }

  &__mobile {

      display: box;

      @include media-breakpoint-up(md) {
           display: none;
      }

  }

  &__web {

       display: box;

      @include media-breakpoint-down(sm) {
          display: none;
      }

  }
}
