.hide-reveal-tabs {
    @include media-breakpoint-down(sm) {
        margin-top: 40px;
        margin-bottom: 40px;
    }


    &__togglers {
        //border-top: 1px solid $inactive-dividers;
        font-family: $font-family-sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: $brand-primary;
        cursor: pointer;
        //text-transform: uppercase;
        transition: color 0.4s;
        padding: 6px 0 6px 13px;
        position: relative;
        letter-spacing: 0.3px;
        width: 110%;

        &:last-child {
            padding-bottom: 0px;
        }

        @include media-breakpoint-up(md) {
            font-size: 15px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 16px;
            line-height: 20px;
            top: -2%;
            padding: 15px 0 15px 13px;
            width: 130%;

            &:last-child {
                padding-bottom: 0px;
            }

            &:first-child {
                border-top: none;
            }
        }


        &:hover {
            color: $primary;
        }

        &:active {
            color: $primary;
        }

        &--selected {
            font-family: $font-family-sans-serif-bold;
            color: $gray-dark;
            cursor: default;

            @include media-breakpoint-up(md) {
                width: 122%;
                z-index: 1;

                &:last-child {
                    padding: 6px 0 6px 13px;
                }
            }

            @media (min-width: 768px) and (max-width: 822px) {
                width: 123%;
            }

            @media (min-width: 1025px) and (max-width: 1116px) {
                width: 142% !important;
            }

            @include media-breakpoint-up(lg) {
                width: 140%;

                &:last-child {
                    padding: 15px 0 15px 13px;
                }
            }

            &:hover {
                color: $gray-dark;
                cursor: default;
            }

            .hide-reveal-tabs__plus {
                display: none;
            }

            .hide-reveal-tabs__minus {
                display: inline-block;
            }

            &::after {
                position: absolute;
                width: 0;
                height: 0;
                bottom: 0;
                content: '';
                right: 3px;
                border-top: 12px solid transparent;
                border-bottom: 12px solid transparent;
                border-right: 16px solid $slate-grey;
                z-index: initial;
                top: 13px;

            //    //@include media-breakpoint-up(lg) {
            //    //    right: -21px;
            //    //    border-top: 11px solid transparent;
            //    //    border-bottom: 12px solid transparent;
            //    //    border-left: 23px solid #36424a;
            //    //    top: 15px;
            //    //}
            }

            &-inner {
                position: absolute;
                width: 0;
                height: 0;
                bottom: 0;
                content: '';
                right: 3px;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 14px solid $white;
                z-index: 3;
                top: 16px;
                display:block;
            }

        }

        &--inner {
            display: none;
        }

    }

    .svg-icon {
        &--plus {
            height: 16px;
            width: 16px;
            fill: $brand-primary;
            display: inline-block;
            float: right;
            transition: 0.4s;
            transform: rotate(225deg);
        }

        &--minus {
            height: 30px;
            fill: $brand-primary;
            float: right;
            margin-top: 8px;
            display: none;
        }
    }

    &__divider {
        border-right: 1px solid $slate-grey;
        width: 50%;
        height: 100%;
    }

    &__divider-holder {
        position: relative;
    }

    &__panel {
        transition: 0.3s;
        opacity: 0;
        z-index: 0;

        &--selected {
            transition: 0.5s;
            opacity: 1;
        }
    }


    &__image-holder {
        padding: 10px 0;
        visibility: hidden;
        margin: 0 0px 32px;
        position: absolute;
        opacity: 0;

        &--selected {
            position: relative;
            display: block;
            visibility: visible;
            opacity: 1;
            transition: 0.4s;
        }

        &--mobile {
            padding: 28px 0 30px 0;
            margin: 0;
        }

    }

    &__togglers-holder {
        position: relative;
    }

    &__togglers-offset {
        margin-top: -3px;
    }

    &__segment {
        position: absolute;
        transition: 0.3s;
        width: 100%;
        opacity: 0;

        // visibility: hidden;
        @include media-breakpoint-up(lg) {
            transform: translateY(5px);
        }


        z-index: 0;

        &--selected {
            transition: 0.5s;
            opacity: 1;

            @include media-breakpoint-up(lg) {
                transform: translateY(0px);
            }


            z-index: 1000;
        }
    }

    &__segments-holder {
        position: relative;

        @include media-breakpoint-up(lg) {
            margin-left: 0;
        }
    }

}

.hide-reveal-tabs__panel--closed {
    .svg-icon--plus {
        transform: rotate(0deg);
    }
}
