.tabs-v1 {
    &__title {
        padding-bottom: 32px;
        margin-bottom: 0;

        @include media-breakpoint-up(md) {
            padding-bottom: 26px;
        }
    }

    &__copy {
        margin: 0;
    }

    &__desktop-info-offset {
        margin-top: -2px;
    }

    &__desktop-info-holder {
        position: relative;
    }

    &__image-holder {
        &--mobile {
            padding: 28px 0 30px 0;
            margin: 0;
        }
    }

    .secondary-cta {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}