.login {
    position: absolute;
    left: 0%;
    right: 0%;
    width: 100%;
    z-index: 1000;
    background-color: $white;
    top: 63px;
    display: none;
    opacity: 0;
    padding-top: 26px;

    @include media-breakpoint-up(sm) {
        top: 101px;
    }

    @include media-breakpoint-up(md) {
        top: 132px;
    }

    @include media-breakpoint-up(lg) {
        top: 148px;
    }

    &__password {
        margin-top: 13px;
    }

    &__heading {
        @include media-breakpoint-up(md) {
            font-size: 18px;
        }


        @include media-breakpoint-up(lg) {
            font-size: 20px;
        }


        font-family: $font-family-sans-serif-bold;
        margin-bottom: -15px;

        &--other {
            padding-bottom: 22px;
        }
    }

    &__username {
        margin-top: 16px;

        @include respond-min(map-get($grid-breakpoints, "md")) {
            margin-top: 24px;
        }


        @include respond-min(map-get($grid-breakpoints, "lg")) {
            margin-top: 30px;
        }
    }

    &__accordion-content {
        padding-top: 25px;

        li {
            list-style-type: none;
            padding-bottom: 5px;
            padding-left: 15px;
            background-position: 0px 3px;
            background-image: url("../images/icons/svg/bullet.svg");
            background-size: 6px;
            background-repeat: no-repeat;
            font-size: 14px;
            line-height: 18px;
            font-weight: lighter;
            margin-bottom: 0px !important;

            @include respond-min(map-get($grid-breakpoints, "md")) {
                font-size: 14px;
                line-height: 20px;
                background-position: 0px 6px;
                background-position: 0px 10px\9\0;
            }


            @include respond-min(map-get($grid-breakpoints, "lg")) {
                font-size: 16px;
                line-height: 24px;
            }


            @include respond-min(map-get($grid-breakpoints, "md")) {
                padding-bottom: 15px;
            }


            @include respond-min(map-get($grid-breakpoints, "md")) {
                padding-bottom: 10px;
            }
        }
    }

    &__checkbox {
        padding-top: 13px;
    }

    &__button {
        padding: 10px 8px 6px;
        display: block;
        width: 100%;

        @include marginBottom(1);

        @include media-breakpoint-up(md) {
            // margin-bottom: 0px;
            width: 125px;
            display: inline-block;
            float: right;
        }
    }

    &__sumbit-area {
        @include marginTop(1);

        @include paddingBottom(1);

        margin-bottom: -13px;
    }

    &__forgot-copy {
        padding-bottom: 20px;
    }

    &__account {
        padding-right: 40px;
        font-family: $font-family-sans-serif;
        text-transform: capitalize;
        display: block;
        font-size: 14px;
        line-height: 20px;
        font-weight: lighter;
        padding-bottom: 4px;

        @include media-breakpoint-up(md) {
            font-size: 14px;
            line-height: 20px;
        }


        @include media-breakpoint-up(lg) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__mark {
        height: 20px;
        width: 20px;
        margin-bottom: -5px;
        margin-right: 10px;

        path {
            fill: $brand-danger;
        }
    }

    &__error,
    &__info {
        display: none;
        margin-bottom: -13px;
        color: $brand-danger;
        font-size: 12px;
        padding-top: 20px;
        font-family: $font-family-sans-serif-bold;
        line-height: 16px;

        @include media-breakpoint-up(lg) {
            padding-bottom: 0px;
        }


        font {
            margin-top: 3px;
            margin-top: 4px;
            display: inline-block;
        }
    }

    &__error--shake-me {
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
    }

    &__info-icon {
        height: 20px;
        width: 20px;
        margin-bottom: -5px;
        margin-right: 10px;

        path {
            fill: $primary;
        }
    }

    &__info {
        color: $primary;
        margin-top: -8px;
        padding-bottom: 10px;
    }

    &__image {
        margin-top: -30px;
        padding: 0px 50px;
        margin-left: -6px;
    }

    &__other {
        @include paddingTop(1);

        @include paddingBottom(2);

        margin-top: -2px;
        margin-bottom: -8px;

        @include media-breakpoint-up(lg) {
            margin-bottom: -10px;
        }
    }

    &__forgot-box {
        @include paddingBottom(1);

        margin-bottom: -6px;
    }

    &__country {
        float: left;
        padding: 11px 20px 0px;
        background-color: $background-grey;
        cursor: pointer;
        color: $gray-darkest;
        opacity: 0.5;
        transition: 0.4s;

        &:hover {
            opacity: 1;
        }

        &--selected {
            opacity: 1;
        }
    }

    &__country-selectors {
        background-color: $background-grey;
        color: $gray-dark;
        height: 40px;
    }

    &__country-numbers {
        background-color: $gray-dark;
        height: 60px;
        position: relative;
    }

    &__phone-btn {
        color: $gray-dark;
        position: absolute;
        background-color: $background;
        padding: 22px 20px 14px;
        width: 100%;
        display: inline-block;
        font-family: $font-family-sans-serif-bold;

        &:hover,
        &:visited,
        &:focus {
            color: $gray-dark;
        }

        transition: 0.4s;
        opacity: 0;

        &--selected {
            opacity: 1;
        }
    }

    &__phone-icon {
        height: 17px;
        width: 12px;
        margin-top: -2px;
        margin-right: 20px;

        path {
            fill: $gray-dark;
        }
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
