.product-listing-two-columns {
    &__image {
        margin-bottom: 22px;

        @include media-breakpoint-up(md) {
            margin-bottom: 32px;
        }

        .r-image {
            -webkit-transition: 0.4s ease;
            transition: 0.4s ease;
        }

    }
    &__heading {
        color: $brand-primary;
        margin-bottom: -12px;
        margin-top: -6px;
        padding-bottom: 22px;

        @include media-breakpoint-up(md) {
            margin-top: -9px;
            padding-bottom: 32px;
        }

        .secondary-cta__chevron {
            margin-left: 5px;

            svg {
                vertical-align: middle;
                height: 11px;
                fill: $primary;
            }
        }
    }
    &__copy {
        line-height: 20px;

        @include media-breakpoint-up(md) {
            line-height: 24px;
        }
    }
    &__card {
        margin-bottom: 40px;

        @include media-breakpoint-up(md) {
            margin-bottom: 24px;
            padding-top: 10px;
            border-right: 1px solid $gray-lighter;
        }

    }
    &__inner {
        float: left;
        position: relative;
        width: 100%;

        @include media-breakpoint-only(md) {
            padding: 0px 10px;
            margin-bottom: 24px;
        }

        &:hover figure .r-image{
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
        }

        &:hover figure .product-listing-two-columns__stats{
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
        }
    }
    &__item {
        margin-bottom: 16px;

        @include media-breakpoint-up(md) {
            padding-top: 10px;
        }
    }
    &__item-divider {
        @include media-breakpoint-up(md) {
            position: relative;
            width: 1px;
            height: 140px;
            background-color: $gray-lighter;
            margin: auto;
            max-height: 100%;
        }
    }
    &__list-items {
        list-style-type: none;
    }
    &__list-item {
        line-height: 18px;
        list-style-type: none;
        padding-bottom: 5px;
        padding-left: 15px;
        background-position: 0 6px;
        background-image: url("../images/icons/svg/bullet.svg");
        background-size: 6px;
        background-repeat: no-repeat;

        @include media-breakpoint-up(md) {
            line-height: 24px;
            padding-bottom: 10px;
            background-position: 0 10px;
        }

    }
    &__stats{
        background: $blue;
        color: $white;
        display: table;
        height: 149px;
        margin-bottom: 22px;
        width: 100%;
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;

        @include media-breakpoint-up(md) {
            margin-bottom: 32px;
            height: 174px;
        }

        &-percentage {
            font-size: 32px;
            font-family: $font-family-serif;
            line-height: 28px;

            @include media-breakpoint-up(md) {
                margin-bottom: 5px;
                font-size: 42px;
                line-height: 42px;

            }
        }

        &-rates {
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;

            @include media-breakpoint-up(md) {
                font-size: 16px;
            }
        }

        &-desc {
            font-family: $font-family-sans-serif-bold;
            font-size: 14px;

            @include media-breakpoint-up(md) {
                font-size: 16px;
            }
        }

        &-inner {
            display: table-cell;
            padding: 0 10px;
            text-align: center;
            vertical-align: middle;
        }
    }
}
