.biographies {

    &__full-name {

    }

    &__image {
        margin: 0px 0px 10px;
    }

    &__contact-details {

    }

    &__content-list {

        h4 {
            margin-bottom: 0px;
            padding-bottom: 0px;
        }

        li {
            list-style-position: inside;
        }
    }

    &__name {
        margin-bottom: 18px;
    }

    &__clients {
        margin-bottom: 18px;
    }

    &__specialisation {
        margin-bottom: 18px;
    }

    &__contact {
        margin-bottom: 18px;
    }

    &__contact-links {
        margin-bottom: 0px;
    }

    &__contact-list {
        list-style-type: none;
        margin: 14px 0px 18px 0px;

    }

    &__contact-icon {
        fill: $brand-primary;
        margin-right: 5px;

        svg {
            height: 15px;
            width: 11px;
        }
    }

    &__contact-icon--email {
        margin-bottom: -4px;
    }

    &__contact--email-me {
        margin: 5px 0px;
    }

    &__contact--call-me {

    }

    &__buttons {
        .highlighted-cta__button {
            width: 100%;
        }
    }

    &__content {
        h4 {
            margin: 12px 0px 6px;
            padding-bottom: 0px;

            @include respond-min(map-get($grid-breakpoints, "sm")) {
                margin-top: -4px;
            }
        }

        p {

        }
    }
}
