.office-finder {

    &__title {

    }

    &__results-default {
        margin-bottom: 32px;
    }

    &__requestContact {
        padding-top:20px;
        position: relative;
        display:none;
    }

    &__officeLocator{
        padding-top:20px;
        position: relative;
        display:none;
    }

    &__officeLocatorBTN{
        float: right;
    }

    &__selectors {
        margin-bottom: 40px;
    }

    &__results {
        margin-bottom: 32px;
        display: none;
    }

    &__image {
        max-width: 111px;
        height: 108px;
        margin-bottom: 16px;

        @include respond-min(map-get($grid-breakpoints, "md")) {
            max-width: 164px;
            height: 157px;
        }

        @include respond-min(map-get($grid-breakpoints, "lg")) {
            max-width: 170px;
            max-height: 163px;
        }
    }

    &__details {

        @include respond-min(map-get($grid-breakpoints, "md")) {
            margin-left: 16px;
        }

        @include respond-min(map-get($grid-breakpoints, "md")) {
            margin-left: 0px;
        }

    }

    &__city {

        h4 {
            padding-top: 6px;
            padding-bottom: 15px;
            margin-bottom: 0px;
        }
    }

    &__address {
        margin-bottom: 21px;
    }

    &__contact-icon {
        fill: $brand-primary;
        margin-right: 5px;

        svg {
            height: 13px;
            width: 13px;

            @include respond-min(map-get($grid-breakpoints, "md")) {
                height: 19px;
                width: 19px;
            }

            @include respond-min(map-get($grid-breakpoints, "lg")) {
                height: 21px;
                width: 21px;
            }
        }
    }

    &__contact-link {
        vertical-align: super;
    }

    &__contact-list {
        list-style-type: none;
        margin: 0px 0px 21px  0px;

        @include media-breakpoint-up(sm) {
            float: left;
        }
    }

    ul {
        li {
            list-style-type: none;
            padding-bottom: 0px;
            font-family: $font-family-sans-serif-bold;
            font-size: 11px;
            line-height: 11px;
            color: $brand-primary;
            cursor: pointer;
            text-transform: uppercase;
            transition: color 0.4s;
            letter-spacing: 0.3px;
            text-align: left;

            @include media-breakpoint-up(md) {
            }

            @include media-breakpoint-up(lg) {
                text-align: center;
                font-size: 12px;
            }

        }
    }

    &__bullet {
        width: 5px;
        display: inline-block;
        padding: 0 7px 0px 5px;
    }

    &__cta {
        display: inline-block;
    }
}

.forms {
    &__submit
    {
        margin-top: 20px;
    }
}
