.data-chart::after {
  height: 34px;
  display: block;
  content: '';
}


.chartPos {
  padding-bottom: 30px;
  width: 100%;
  height: 500px;
}

//.chart .zoom {
//    width: 80px;
//    height: 50px;
//    color: black;
//    font-size: 10px;
//    text-transform: uppercase;
//    font-weight: bold;
//    font-family: "Helvetica-Neue-Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
//    position: relative;
//    text-align: center;
//    background-color: rgba(0, 0, 0, 0.4);
//    cursor: pointer;
//    padding-top: 1%;
//    z-index: 100;
//    display: block;
//    float: right;
//    top: 74px;
//    right: 41px;
//}

.amcharts-export-canvas {
  position: absolute;
  display: none;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.amcharts-export-canvas.active {
  display: block;
}

.amcharts-export-menu {
  position: absolute;
  z-index: 2;
  opacity: 1;
  color: #000;
}

.amcharts-main-div:hover .amcharts-export-menu, .amcharts-stock-div:hover .amcharts-export-menu {
  opacity: 1;
}

.amcharts-export-menu-top-left > ul > li > ul:after {
  content: '';
  position: absolute;
  top: 13px;
  right: 100%;
  z-index: 1000;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid #fff;
  border-bottom: 7px solid transparent;
}

.amcharts-export-menu-top-left > ul > li > ul > li:first-child > a:after {
  content: '';
  position: absolute;
  top: 12px;
  right: 100%;
  z-index: 1001;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid #f3f3f3;
  border-bottom: 8px solid transparent;
}

.amcharts-export-menu-top-right > ul > li > ul:after {
  content: '';
  position: absolute;
  top: 13px;
  left: 100%;
  z-index: 1000;
  border-top: 7px solid transparent;
  border-left: 7px solid #f3f3f3;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.amcharts-export-menu-top-right > ul > li > ul:after:hover {
    border-left: 7px solid $brand-primary;
}

.amcharts-export-menu-top-right > ul > li > ul > li:first-child > a:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 100%;
  z-index: 1001;
  border-top: 8px solid transparent;
  border-left: 8px solid #afb3b6;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.amcharts-export-menu-bottom-left > ul > li > ul:after {
  content: '';
  position: absolute;
  bottom: 13px;
  right: 100%;
  z-index: 1000;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid #fff;
  border-bottom: 7px solid transparent;
}

.amcharts-export-menu-bottom-left > ul > li > ul > li:last-child > a:after {
  content: '';
  position: absolute;
  bottom: 12px;
  right: 100%;
  z-index: 1001;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid #e2e2e2;
  border-bottom: 8px solid transparent;
}

.amcharts-export-menu-bottom-right > ul > li > ul:after {
  content: '';
  position: absolute;
  bottom: 13px;
  left: 100%;
  z-index: 1000;
  border-top: 7px solid transparent;
  border-left: 7px solid #fff;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.amcharts-export-menu-bottom-right > ul > li > ul > li:last-child > a:after {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 100%;
  z-index: 1001;
  border-top: 8px solid transparent;
  border-left: 8px solid #e2e2e2;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.amcharts-export-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.amcharts-export-menu li {
  position: relative;
  display: block;
  z-index: 1;
}

.amcharts-export-menu li > ul {
  position: absolute;
  display: none;
  border: 1px solid #afb3b6;
  margin-top: -1px;
  background: #f3f3f3;
}

.amcharts-export-menu li > a {
  height: 47px;
  width: 145px;
  position: relative;
  display: block;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Helvetica-Neue-Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #5b686e;
  text-decoration: none;
  padding: 12px 12px;
  z-index: 2;
  white-space: nowrap;
  border-bottom: 1px solid #afb3b6;
}

.amcharts-export-menu li:last-child > a {
  border-bottom: none;
}

.amcharts-export-menu li > a > img {
  border: none;
}

.amcharts-export-menu-top-left {
  top: 0;
  left: 0;
}

.amcharts-export-menu-bottom-left {
  bottom: 0;
  left: 0;
}

.amcharts-export-menu-top-right {
  top: 0;
  right: 0;
}

.amcharts-export-menu-bottom-right {
  bottom: 0;
  right: 0;
}

.amcharts-export-menu li:hover > ul {
  display: block;
}

.amcharts-export-menu li:hover > a {
  color: $white;
  background-color: $brand-primary;
}

.amcharts-export-menu-top-left li:hover > ul {
  left: 100%;
  top: 0;
}

.amcharts-export-menu-bottom-left li:hover > ul {
  left: 100%;
  bottom: 0;
}

.amcharts-export-menu-top-right li:hover > ul {
  top: 0;
  right: 100%;
}

.amcharts-export-menu-bottom-right li:hover > ul {
  bottom: 0;
  right: 100%;
}

.amcharts-export-menu .export-main > a, .amcharts-export-menu .export-drawing > a, .amcharts-export-menu .export-delayed-capturing > a {
  display: block;
  overflow: hidden;
  text-indent: -13333337px;
  width: 60px;
  height: 50px;
  padding: 0;
  background-repeat: no-repeat;
  background-image: url('../images/icons/svg/icon-download-white.svg');
  background-color: $brand-primary;
  background-position: center;
  background-size: 14px;
  margin: -35px 0 0 10px;

    @include media-breakpoint-up(md) {
        width: 101px;
        margin: -44px 39px 0 10px;
    }
}

.amcharts-export-menu .export-drawing > a {
  background-image: url('../images/icons/svg/icon-download.svg');
}

.amcharts-export-menu .export-main:hover, .amcharts-export-menu .export-drawing:hover {
  padding-bottom: 100px;
}

.amcharts-export-menu.amcharts-export-menu-bottom-left .export-main:hover, .amcharts-export-menu.amcharts-export-menu-bottom-left .export-drawing:hover, .amcharts-export-menu.amcharts-export-menu-bottom-right .export-main:hover, .amcharts-export-menu.amcharts-export-menu-bottom-right .export-drawing:hover {
  padding-bottom: 0;
  padding-top: 100px;
}

.amcharts-export-menu .export-main:hover > a {
  background-image: url('../images/icons/svg/icon-download-purple.svg');
  background-color: $white;
  border: 1px solid $brand-primary;
  background-size: 14px;
}

.amcharts-export-menu .export-drawing:hover > a {
  background-image: url('../images/icons/svg/icon-download.svg');
}

.amcharts-export-menu .export-close > a, .amcharts-export-menu .export-close:hover > a {
  background-image: url('../images/icons/svg/icon-download.svg');
}

.amcharts-export-menu .export-drawing-color {
  background: #000;
  width: 35px;
}

.amcharts-export-menu .export-drawing-color > a {
  display: block;
  overflow: hidden;
  text-indent: -13333337px;
}

.amcharts-export-menu .export-drawing-color-red {
  background: #f00;
}

.amcharts-export-menu .export-drawing-color-green {
  background: #0f0;
}

.amcharts-export-menu .export-drawing-color-blue {
  background: #00f;
}

.amcharts-export-menu .export-drawing-color-white {
  background: #fff;
}

.amcharts-export-fallback {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.amcharts-export-fallback textarea {
  border: none;
  outline: none;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.amcharts-export-fallback-message {
  position: absolute;
  z-index: 1;
  padding: 20px;
  width: 100%;
  background-color: #fff;
}

.amcharts-export-menu .export-delayed-capturing > a {
  text-indent: 0px;
  line-height: 36px;
  vertical-align: middle;
  text-align: center;
  background-image: none;
}

.amcharts-export-menu, .amcharts-export-canvas .canvas-container {
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.amcharts-export-canvas.dropbox .canvas-container {
  opacity: 0.5;
}

.amcharts-export-menu .export-drawing-shape a {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.amcharts-export-menu li img {
  height: 20px;
}

.amcharts-export-menu .export-drawing-width a {
  text-align: center;
}

.amcharts-export-menu .export-drawing-width span {
  display: block;
  margin: 0 auto;
}

.amcharts-export-menu .export-drawing-width span > span {
  display: block;
  background: #000;
  border-radius: 100%;
}

.amcharts-export-menu .export-drawing-shape a:hover img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
