.product-listing-cards {
    &__image {
        margin-bottom: 22px;

        @include media-breakpoint-up(md) {
            margin-bottom: 32px;
        }

        &-inner {
            position: relative;
            //overflow: hidden;
            float: left;
            width: 100%;

            .r-image {
                -webkit-transition: 0.4s ease;
                transition: 0.4s ease;
            }
        }



    }
    &__heading {
        color: $brand-primary;
        margin-bottom: -12px;
        margin-top: -6px;
        padding-bottom: 22px;

        @include media-breakpoint-up(md) {
            margin-top: -9px;
            padding-bottom: 32px;
        }

        .secondary-cta__chevron {
            margin-left: 5px;

            svg {
                vertical-align: middle;
                height: 11px;
                fill: $primary;
            }
        }
    }
    &__copy {
        line-height: 20px;

        @include media-breakpoint-up(md) {
            line-height: 24px;
        }
    }
    &__inner {
        float: left;
    }
    &__item {
        margin-bottom: 30px;

        @include media-breakpoint-up(md) {
            padding-top: 10px;
        }

        &:hover figure .r-image{
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
        }
    }
    &__item-divider {
        @include media-breakpoint-up(md) {
            position: relative;
            width: 1px;
            height: 140px;
            background-color: $gray-lighter;
            margin: auto;
            max-height: 100%;
        }
    }
    &__list-items {
        list-style-type: none;
    }
    &__list-item {
        line-height: 20px;
        list-style-type: none;
        padding-bottom: 5px;
        padding-left: 15px;
        background-position: 0 6px;
        background-image: url("../images/icons/svg/bullet.svg");
        background-size: 6px;
        background-repeat: no-repeat;

        @include media-breakpoint-up(md) {
            line-height: 24px;
            padding-bottom: 10px;
            background-position: 0 10px;
        }

    }
    &__button {
        padding-top: 8px;

        @include media-breakpoint-up(lg) {
            padding-top: 16px;
        }
    }
}
