<inv-header></inv-header>
<div role="main" class="main" id="content">
  <div class="alert-space"></div>
  <div class="spacer"></div>
  <router-outlet></router-outlet>
</div>

<inv-footer></inv-footer>
