.button-link {
  text-align: center;
  width: 100%;

  @include media-breakpoint-up(lg) {
    margin-left: 20px;
  }

  &__copy {
    transition: 0.8s;
    color: $brand-primary;
    font-family: "Helvetica-Neue-Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 0.7px;
    //padding: 11px 0px;
    display: inline-block;
    margin-top: 20px;
    border-bottom: 1px solid $brand-primary;

    @include respond-min(map-get($grid-breakpoints, "md")) {
      font-size: 11px;
      line-height: 20px;
      margin-top: 14px;
    }

    @include respond-min(map-get($grid-breakpoints, "lg")) {
      font-size: 12px;
      line-height: 20px;
    }
  }
}
