.filters {

    @include media-breakpoint-up(md) {
        //float: left;
        //margin-bottom: 40px;
        position: relative;
        width: 100%;
    }

    &__wrapper {

        padding: 16px 0 0;

        @include media-breakpoint-up(md) {
            padding: 20px 0 0;
            //margin-bottom: 56px;
        }

        @include media-breakpoint-up(lg) {
            //margin-bottom: 72px;
        }
    }

    &__overlay {
        display: none;
        position: relative;
        z-index: 1000;

        @include media-breakpoint-down(sm) {
            background: $gray-dark;
            bottom: 0;
            left: 0;
            //overflow-y: scroll;
            padding: 10px 0 0;
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;

            &-wrapper {
                overflow-y: scroll;
                height: 100%;
            }
        }
    }

    &__controls {
        position: relative;
        z-index: 1001;

        @include media-breakpoint-down(sm) {
            margin-left: -14px;
        }

        &-item {
            cursor: pointer;
            display: inline-block;
            padding-left: 15px;
            position: relative;

            &:first-child {
                padding-left: 0;
            }

            &--clear {
                border-left: 1px solid $form-grey;
                display: none;
                margin-left: 7px;

                @include media-breakpoint-up(md) {
                    margin-left: 39px;
                }
            }

            &--disabled {

                .filters__controls-copy {
                    color: $form-grey;

                }

                .filters__controls-button {
                    svg {
                        fill: $form-grey;
                    }
                }

            }

            &--open {

                .filters__controls-copy {
                    color: $brand-primary;
                }

                .filters__controls-button {

                    svg {
                        fill: $brand-primary;
                        transform: rotate(135deg);
                    }
                }

            }

            &--active {
                .filters__controls-copy {
                    color: $brand-primary;
                }

                .filters__controls-button {

                    svg {
                        fill: $brand-primary;
                    }
                }
            }

            @include media-breakpoint-up(lg) {
                padding-left: 44px;
            }
        }
        &-button {
            background: transparent;
            border: none;
            line-height: 0;
            padding: 0;
            vertical-align: middle;
            width: initial;
            width/**/: 28px;

            &:focus,
            &:hover {
                background: transparent;
                border: none;
                vertical-align: middle;
                width: initial;
            }

            svg {
                fill: $brand-primary;
                height: 16px;
                width: 16px;

                @include media-breakpoint-up(md) {
                    height: 28px;
                    width: 28px;
                }
            }
        }


        &-copy {
            color: $brand-primary;
            font-family: $font-family-sans-serif-bold;
            font-size: 14px;
            margin-right: 6px;
            //text-transform: uppercase;
            vertical-align: middle;

            &:first-letter {
                text-transform: uppercase;
            }

            @include media-breakpoint-up(md) {
                font-size: 15px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 16px;
            }
        }
    }

    &__content {
        padding: 52px 14px 152px;

        @include media-breakpoint-up(md) {
            padding: 70px 0 60px;
        }
    }

    &__inner {
        /*margin-bottom: 27px;*/

        &:last-child {
            margin-bottom: 0;
        }

        @include media-breakpoint-up(md) {
            /*margin-bottom: 20px;*/
        }
    }

    &__container {
        @include media-breakpoint-up(md) {
            border-right: 1px solid $slate-grey;
        }

        @include media-breakpoint-up(xl) {
            margin-right: -32px;
        }

        &--sort {
            border-right: none;
        }
    }

    &__heading {
        color: $brand-primary;
        padding-bottom: 15px;

        @include media-breakpoint-up(md) {
            padding-bottom: 20px;
        }
    }

    &__list {
        list-style-type: none;

        &-item {
            background: $brand-primary;
            color: $white;
            cursor: pointer;
            font-size: 14px;
            font-family: $font-family-sans-serif-bold;
            letter-spacing: 0.7px;
            margin-bottom: 10px;
            padding: 7px 10px;
            text-align: center;
            //text-transform: uppercase;

            &:first-letter {
                text-transform: uppercase;
            }

            &--selected {
                background: $white;
                color: $brand-primary;

                .filters__count {
                    color: $brand-primary;
                }

                .filters__button {

                    svg {
                        background: $white;
                        fill: $brand-primary;
                        transform: rotate(135deg);
                    }
                }
            }

            @include media-breakpoint-up(md) {
                display: inline-block;
                font-size: 15px;
                padding: 9px 14px;
                margin-bottom: 25px;
                margin-right: 15px;
                //vertical-align: bottom;
            }

            @include media-breakpoint-up(lg) {
                font-size: 16px;
            }

            &--tags {
                background: none;
                color: $brand-primary;
                display: inline-block;
                font-family:  $font-family-sans-serif-bold;
                margin-top: 20px;
                //text-transform: uppercase;
                font-size: 14px;
                padding: 0 20px 0 0 ;

                &:first-letter {
                    text-transform: uppercase;
                }

                &:last-child {
                    padding-right: 0;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 15px;
                    margin-top: 40px;
                    padding-right: 40px;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 16px;
                }

                svg {
                    fill: $brand-primary;
                    background: none;

                }

                .filters__count {
                    color: $brand-primary;
                }
            }
        }

        &-svg {
            background: $brand-primary;
            border-radius: 50%;
            fill: $white;
            height: 15px;
            width: 15px;
        }
    }

    &__count {
        color: $form-grey;
        margin-left: 3px;
    }

    &__button {
        display: inline;
        float: right;
        cursor: pointer;

        @include media-breakpoint-up(md) {
            float: none;
            margin-left: 5px;
            vertical-align: sub;
        }
    }

    &__apply {

        display: none;

        @include media-breakpoint-down(sm) {
            background: $filter-gray;
            bottom: 0;
            left: 0;
            padding: 21px 14px;
            position: fixed;
            width: 100%;
        }

        @include media-breakpoint-up(md) {
            background: none;
            padding: 0;
            position: relative;
        }

        &-button {
            background: $form-grey;
            border: 1px solid $form-grey;
            color: $gray-dark;
            cursor: none;

            &:hover,
            &:focus {
                background: $form-grey;
                color: $gray-dark;
            }
        }
    }

    &__total {
        color: $brand-primary;
        font-family: $font-family-sans-serif-light;
        font-size: 24px;
        padding-bottom: 21px;

        @include media-breakpoint-up(md) {
            padding-bottom: 30px;
        }
    }

    &__name {
        color: $brand-primary;
    }

    &__selected {
        &-inner {
            display: none;

            @include media-breakpoint-down(sm) {
                margin-left: -14px;
            }
        }

        @include media-breakpoint-down(sm) {

            &-count {
                margin-right: 5px;
            }

        }
    }
}
