.eligibility {

    &__divider-x {
        position: relative;
        width: 100%;
        height: 1px;
        background-color: #d3dce1;
        margin: auto;
        max-height: 1px;

        @include media-breakpoint-up(md) {
            position: relative;
            width: 1px;
            height: 140px;
            background-color: #d3dce1;
            margin: auto;
            max-height: 100%;
        }


        @include media-breakpoint-up(lg) {
            height: 140px;
        }
    }

    &__inner {
        &--hidden {
            display: none;
        }
    }

    &-content {
        @include paddingTop(2);

        @include paddingBottom(2);

        &__heading {
            margin-bottom: -2px;

            @include media-breakpoint-up(md) {
                margin-bottom: -5px;
                padding-bottom: 28px;
            }
        }

        &__top-content {
            @include paddingBottom(2);
        }

        &__bottom-content {
            @include media-breakpoint-down(sm) {
                @include paddingBottom(1);
            }


            @include media-breakpoint-down(xs) {
                @include paddingBottom(2);
            }


            @include media-breakpoint-up(lg) {
                border-bottom: none;
            }
        }

        &__left {
            @include media-breakpoint-up(lg) {
                border-bottom: none;
                padding-right: 8.33333%;
            }
        }

        &__right {
            @include media-breakpoint-down(sm) {
                @include paddingTop(1);
            }


            @include media-breakpoint-down(xs) {
                @include paddingTop(2);
            }
        }

        &__summary {
            margin-bottom: 0px;

            @include media-breakpoint-up(md) {
                padding-bottom: 28px;
            }


            &--icon {
                background: #485dc5 url("../images/icons/svg/icon-tick--white.svg") 50% no-repeat;
                background-size: 7px auto;
                border-radius: 100%;
                width: 13px;
                height: 13px;
                position: absolute;
                left: 25px;
                top: 6px;

                @include media-breakpoint-up(md) {
                    background-size: 10px auto;
                    width: 20px;
                    height: 20px;
                    left: 17px;
                }
            }
        }

        .list-style {
            @include media-breakpoint-down(sm) {
                li {
                    padding-bottom: 8px;
                }
            }
        }

        &__alt-answer {
            display: block;
            margin: 20px 0px 20px;

            @include media-breakpoint-up(md) {
                text-align: left;
                margin: 15px 30px 10px 0;
                float: left;
                display: inline;
            }


            @include media-breakpoint-up(lg) {
                text-align: left;
                margin: 12px 30px 0 0;
                float: left;
                display: inline;
            }
        }

        &__cta {
            //padding-top: 5px;

            //@include media-breakpoint-up(lg) {
            //    position: absolute;
            //    top: 50%;
            //    transform: translateY(-50%);
            //}

            .list-style {
                margin-bottom: 32px;
            }

            &-block {
                @include paddingTop(1);
            }

            @include media-breakpoint-up(lg) {
                border-top: none;
            }


            .investec-button {
                @include media-breakpoint-up(md) {
                    padding: 7px 0;
                    float: left;
                }
            }

            .secondary-cta {
                &.eligibility-content__form-button {
                    @include media-breakpoint-down(md) {
                        margin-left: 0;
                    }
                }

                @include media-breakpoint-up(md) {
                    margin-left: 38px;
                }


                @include media-breakpoint-down(sm) {
                    margin-top: 20px;
                    width: 100%;
                    text-align: center;
                }


                &__link {
                    margin-top: 10px;
                    padding: 0 5px 0 0;
                    margin-bottom: 0;

                    @include media-breakpoint-down(sm) {
                        font-size: 9px;
                    }


                    @include media-breakpoint-up(md) {
                        margin-top: 0;
                        padding: 16px 5px 0px 0;
                    }


                    @include media-breakpoint-up(lg) {
                        margin-top: 0;
                        padding: 18px 0;
                    }
                }
            }
        }

        .full-width {
            text-align: left;
            margin-left: 0;

            .secondary-cta {
                &__link {
                    margin-top: 0;

                    @include media-breakpoint-up(md) {
                        text-align: left;
                        padding: 4px 5px 0px 0;
                        margin-bottom: 0;
                    }
                }
            }
        }

        &__icon-column {
            padding: 0 10px;

            @include media-breakpoint-up(md) {
                padding: 0;
            }
        }

        &__confirmation {
            @include media-breakpoint-up(md) {
                padding: 0;
            }


            @include media-breakpoint-only(lg) {
                margin-left: -20px;
            }


            @include media-breakpoint-up(xl) {
                padding: 0 28px;
            }
        }

        .button-link {
            text-align: center;

            @include media-breakpoint-up(md) {
                text-align: left;
                display: inline;
                margin-left: 38px;
            }
        }
    }
}
