
.homepage-hero {

    &__content {

        position: absolute;
        right: 350px;
        top: 78px;
        width: 400px;

        @include media-breakpoint-up(md){
            right: 60px;
            text-align: right;
            top: 55px;
            width: 265px;
        }

        @include media-breakpoint-up(lg){
            top: 105px;
        }

        @include media-breakpoint-up(xl){
            top: 10%;
            width: 405px;
        }

    }

    &__copy {

        font-family: $font-family-sans-serif-light;
        font-size: 28px;
        line-height: 37px;
        margin: 36px 0 0;

        @include media-breakpoint-up(xl) {
            font-size: 24px;
            line-height: 34px;
        }

    }

    &__inner {
        position: relative;
    }

    &__title {

        font-family: $font-family-sans-serif-light;
        font-size: 36px;
        line-height: 50px;

        @include media-breakpoint-up(md){
            font-size: 28px;
            line-height: 37px;
        }

        @include media-breakpoint-up(xl){
            font-size: 32px;
            line-height: 42px;
        }

    }

    &__video {}

}
