.dropdown {
    //padding: 32px 0px;
    opacity: 0;

    padding: 0;
    min-width: 150px;
    //width: auto;
    display: inline-block;

    & > *{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }


    &__holder {
        position: relative;
        //opacity: 0;
    }

    &__selector {
         text-align: left;
         color: $brand-primary;
         background: $white;
         //padding: 3px 20px;
         padding: 3px 40px 3px 20px;
         border: 1px solid $gray;
         position: relative;
         //width: auto;
         width: 100%;
         &:first-letter{
             text-transform: none;
         }


         &--open {
             border-bottom: 1px solid $white;

             .dropdown__cheveron {
                 position: absolute;
                 right: 20px;
                 top: 15px;
                 transform: rotate(-90deg);
             }
         }
     }


    &__cheveron {
        position: absolute;
        right: 20px;
        top: 15px;
        transform: rotate(90deg);

        polygon {
            fill: $brand-primary;
        }
    }


    &__list {
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
        position: absolute;
        margin-top: -1px;
        width: 100%;
        z-index: 3;
        white-space: nowrap;

        &--open {
            opacity: 1;
            visibility: visible;
        }
    }

    &__list-item {
        width: 100%;
        text-align: left;
        padding: 10px 20px;
        background: $white;
        color: $primary;
        cursor: pointer;
        border-left: 1px solid $gray;
        border-right: 1px solid $gray;
        white-space: nowrap;
        font-family: $font-family-sans-serif-light;
        font-size: 16px;
        //line-height: 100%;

        &:last-child {
            border-bottom: 1px solid $gray;
        }

        &--selected, &:hover {
            background: $primary;
            color: $white;
            border-left: 1px solid $primary;
            border-right: 1px solid $primary;
        }
    }

    &__holder-mobile{
        position: relative;
    }

    &__select-mobile {
        text-align: left;
        color: $brand-primary;
        background: $white;
        padding: 3px 20px;
        border: 1px solid $gray;
        width: 100%;
        border-radius: 0;
        position: absolute;
        opacity: 0;
        //z-index: -1;
        top: 0px;
        left: 0px;
    }

}
