.hero-messaging-zebra {
    &--grey {
        color: $slate-grey;
    }
    &__rhombus {
        background-color: $white;
        position: absolute;
        width: 40px;
        height: 100%;
        top: 0px;
        right: 0px;
        transform: skew(-6deg);
    }

    &__detail {
        padding-bottom: 0px;
        opacity: 0;
        max-height: 235px;

        @include media-breakpoint-up(md) {
            padding-bottom: 20px;
        }

    }

    &__image {
        max-height: 133px;
        width: auto;

        @include media-breakpoint-up(sm) {
            float: right;
        }

        @include media-breakpoint-up(md) {
            max-height: 195px;
            float: left;;
        }

        @include media-breakpoint-up(lg) {
            max-height: 235px;
        }
    }
}
