.expand_button{
  position:absolute;
  top:0px;
  left:0px;
}
.unexpand_button{
  position:absolute;
  top:0px;
  right:0px;
}

.video-player {
  position:relative;
  width: 100%;
  overflow:hidden;

  &__playlist{
    position:relative;
    width: 100%;
    overflow:hidden;
    vertical-align:middle;
    background-color:#ecf4fb;
  }

  &__playlist-inner{
    position:relative;
    top:0px;
    left:0px;
    overflow:hidden;
    padding-top:40px;
    padding-bottom:40px;
    width: 100%;
    display:none;
  }
}

.video_thumb{
  display: inline-block;
  overflow: hidden;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;

  &__inner {
    width: 170px;
    height: 170px;
    background-color:green;
  }

  &__detail {
    display: none;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__detail-inner {
    width: 200px;
    height: 200px;
  }
}
