.alerts-inline {
  &__image {
    margin-top: 16px;
    margin-bottom: 16px;

    @include media-breakpoint-only(md) {
      margin-top: 0;
      margin-bottom: 36px;

    }

    @include media-breakpoint-up(lg) {
      float: right;
      margin-top: 4px;
      margin-bottom: 0;
    }
  }
}
