.document-asset-list {
    &__title {
        padding-bottom: 6px;

        @include media-breakpoint-up(md) {
            padding-bottom: 12px;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: 16px;
        }
    }

    &__wrapper {
        border-bottom: 1px solid $inactive-dividers;
        padding-top: 16px;
        padding-bottom: 16px;

        @include media-breakpoint-up(lg) {
            padding-top: 20px;
            padding-bottom: 17px;
        }


        &:last-child {
            border-bottom: none;
        }
    }

    h4 {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    p {
        padding-bottom: 0px;
        margin-bottom: 0;
    }

    &__last {
        border-bottom: none;
    }

    &__listItem {
        padding-bottom: 8px;
        width: 100%;

        @include media-breakpoint-up(md) {
            display: inline-block;
            width: initial;
            float: left;
            padding-bottom: 0px;
        }


        @include media-breakpoint-up(lg) {
            display: inline-block;
            width: 72%;
            float: left;
        }
    }

    ul {
        li {
            padding-bottom: 0px;
            font-family: $font-family-sans-serif-bold;
            font-size: 11px;
            line-height: 11px;
            color: $brand-primary;
            cursor: pointer;
            text-transform: uppercase;
            transition: color 0.4s;
            letter-spacing: 0.3px;
            text-align: left;

            @include media-breakpoint-up(md) {}


            @include media-breakpoint-up(lg) {
                text-align: center;
                font-size: 12px;
            }


            svg {
                fill: $brand-primary;
                height: 11px;
                width: 10px;
                margin-left: 3px;
                margin-bottom: -1px;

                @include media-breakpoint-up(md) {
                    height: 14px;
                    width: 15px;
                    margin-left: 8px;
                    margin-bottom: -2px;
                }
            }
        }
    }

    &__download {
        width: initial;
        display: inline-block;
        text-align: left;

        @include media-breakpoint-up(md) {
            text-align: right;
            float: right;
        }
    }

    &__file1 {
        width: initial;
        display: inline-block;

        @include media-breakpoint-up(md) {
            text-align: right;
        }

        &--faded {
            opacity: 0.5;
        }
    }

    &__bullet {
        width: 5px;
        display: inline-block;
        padding: 0 7px 0px 5px;
    }

    &__file2 {
        width: initial;
        display: inline-block;

        @include media-breakpoint-up(md) {
            text-align: right;
        }

        &--faded {
            opacity: 0.5;
        }
    }

    &__loadmore {
        margin-top: 5px !important;

        .load-more__button-copy {
            text-transform: none;
            &::first-letter {
                text-transform: capitalize;
            }

        }

        @include media-breakpoint-up(md) {
            margin-top: 10px !important;
        }
    }
}
