<div appScrolled class="container">
    <div class="row">
        <div class="col">
            <div class="quote-wrapper">
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-sm-6 col-md-5">
                        <div class="quote-img">
                            <img [src]="quote.desktopImagePath" class="w-100" [alt]="quote.imageAlt">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-7">
                        <div class="quote-text">
                          <h5>{{quote.quote}}</h5>
                          <span>{{quote.copy}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
