.quote-wrapper {
    margin: 0 auto;
    margin-left: 8%;
}

.quote-img {
    opacity: 0;
}

.quote-text {
    color: #00204e;
    opacity: 0;
    margin-left: -15%;
    padding: 50px;
    display: inline-block;
    background: #fff;
    font-family: 'Playfair Display', serif;

    h5 {
        line-height: 1.4;
        font-size: 25px;
        margin-top: 25px;
        margin-bottom: 15px;
    }
}

.scrolled {
    .quote-img {
        animation: slideInFromLeft 1s ease-out 0s 1 forwards;
    }

    .quote-text {
        animation: slideInFromRight 1s ease-out 1s 1 forwards;
    }
}

@media (max-width: 576px) {
    .quote-wrapper {
        margin-left: 0;
        .quote-text {
            margin-top: 80px;
            margin-left: 0;
            padding: 0 0 0 20px;
        }
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

