.alerts-interstitial {
    padding-top: 14px;
    padding-bottom: 25px;
    max-width: 1280px;
    margin: 0 auto;
    background: $gray-dark;

    // media queries

    @include media-breakpoint-up(md) {
        padding-top: 23px;
        padding-bottom: 40px;
    }

    // modifiers

    &--single-item {
        @include media-breakpoint-up(lg) {
            padding-top: 39px;
            padding-bottom: 39px;
        }
    }

    // elements

    &__close {
        background: none;
        padding: 0;
        border: none;
        line-height: 0;
        width: initial;
        float: right;

        &:hover,
        &:focus {
            background: none;
        }
    }

    &__buttons {
        @include media-breakpoint-up(md) {
            padding-top: 8px;
            &--single-item {
                padding-top: 0;
            }
        }
    }

    &__heading {
        color: $gray-lightest;
        margin-bottom: -5px;
        margin-top: -4px;

        @include media-breakpoint-up(md) {
            line-height: 32px;
            margin-bottom: -4px;
            padding-bottom: 30px;
        }
    }


    // inner container
    &__item {
        border-top: 1px solid #5e686e;
        padding: 30px 0;

        @include media-breakpoint-only(md) {
            padding: 39px 0;
        }

        @include media-breakpoint-up(lg) {
            border-top: none;
            padding: 0;
        }

        &--first {
            border-top: none;
            padding-top: 0;
        }

        &--last {
            padding-bottom: 0;
        }

        @include media-breakpoint-up(lg) {
            padding: 14px 0 18px;

            &--first {
                border-right: 1px solid #5e686e;
                margin-right: 20px;
            }

            // last trumps first using cascade
            &--last {
                border-right: none;
                margin-right: 0;
            }
        }

        @include media-breakpoint-only(xl) {
            &--first {
                margin-right: 29px;
            }

            // last trumps first using cascade
            &--last {
                margin-right: 0;
            }
        }
    }

    &__copy {
        color: $gray-lightest;
        margin-bottom: -4px;

        @include media-breakpoint-up(md) {
            margin-bottom: -1px;
            padding-bottom: 30px;
        }
    }
}
