.thought-leadership {

    &__item {

        display: table;

        &:first-child {
            padding-bottom: 30px;
            float: left;

            @include media-breakpoint-up(md) {
                padding-bottom: 60px;
            }
        }
    }
    &__date , &__category {
        font-size: 12px;
        font-family: $font-family-sans-serif-bold;
        letter-spacing: 0.7px;
        margin-bottom: -9px;
        padding-bottom: 16px;

        @include media-breakpoint-up(md) {
            font-size: 13px;
            margin-bottom: -12px;
            padding-bottom: 22px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }
    }

    &__separator {
        float: left;
        margin: 0px 7px 0;
        //margin-top: -1px;

        @include media-breakpoint-up(md) {
            margin: -2px 9px 0;
        }
    }

    &__date {
        float: left;
    }

    &__article-info {
        margin-top: 22px;

        @include media-breakpoint-up(md) {
            margin-top: 0;

            .thought-leadership__inner & {
                margin-top: 32px;
            }
        }
    }

    &__copy {
        line-height: 20px;

        @include media-breakpoint-down(sm){
            padding-bottom: 22px;
        }

        @include media-breakpoint-up(md) {
            line-height: 20px;
        }

        @include media-breakpoint-up(xl) {
            line-height: 24px;
        }
    }

    &__left-copy {
        @include media-breakpoint-up(xl) {
            display: table-cell;
            vertical-align: middle;
        }
    }

    &__copy-wrapper {
        .thought-leadership__inner & {
            padding: 0 25px 22px;

            @include media-breakpoint-up(md) {
                padding: 0 32px 32px;
            }
        }
    }

    &__heading {
        clear: both;
    }

    &__inner {
        padding-top: 30px;
        padding-bottom: 30px;

        @include media-breakpoint-up(md) {
            padding-top: 48px;
            padding-bottom: 48px;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    &__card {
        background: $white;
        margin-bottom: 16px;

        @include media-breakpoint-up(md) {
            margin-bottom: 24px;
        }
    }

    &__load-button {
        background: transparent;
        border: none;
        line-height: 0;
        padding: 0;
        width: initial;

        &:hover, &:focus {
            background: transparent;
        }
    }

    &__button {

        text-align: center;

        &-copy {
            color: $brand-primary;
            display: inline-block;
            font-family: $font-family-sans-serif-bold;
            font-size: 10px;
            letter-spacing: 0.7px;
            margin-right: 7px;
            margin-top: -15px;
            padding-bottom: 0;
            text-transform: uppercase;
            vertical-align: middle;

            @include media-breakpoint-up(sm) {
                font-size: 11px;
                margin-right: 20px;
                margin-top: -33px;
                padding-top: 4px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 12px;
            }
        }

        &-wrapper {
            background: $gray-lighter;
            float: left;
            margin-top: 8px;
            padding: 16px 0 12px;
            width: 100%;

            @include media-breakpoint-up(md) {
                margin-top: 16px;
                padding: 20px 0 15px;
            }

            @include media-breakpoint-up(lg) {
                margin-top: 24px;
                padding: 20px 0 14px;
            }
        }
    }

    &__svg {
        fill: $brand-primary;

        @include media-breakpoint-down(xs) {
            height: 16px;
            width: 16px;
        }
    }

    &__border {
        background: $hr-border-light;
        height: 1px;
        margin: 13px 0;
        width: 98%;

        &--right {
            margin-left: 5px;
        }

        @include media-breakpoint-up(lg) {
            width: 109%;

            &--right {
                margin-left: -25px;
            }
        }

        @include media-breakpoint-up(xl) {
            width: 144%;

            &--right {
                margin-left: -159px;
            }
        }
    }

    &__filters {
        background: $gray-light;
        height: 56px;
        margin-bottom: 30px;

        @include media-breakpoint-up(md) {
            height: 90px;
            margin-bottom: 40px;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 36px;
        }
    }

    @include media-breakpoint-down(md) {

        &.wide-component-background {
            margin-right: 0;
            margin-left: 0;
        }
    }

}
