.relative_div {
    position: relative;
}

.investec-button-circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.video-player-single {
    position: relative;
    &__player {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
    &__thumbnail {
        position: relative;
    }
    &__detail {}

    &__close {
        background: none;
        display: none;
        padding: 0;
        border: none;
        line-height: 0;
        width: auto;

        &:hover,
        &:focus {
            background: none;
        }
    }

    &__svg {
        fill: $gray-dark;
    }
}

.thumbnail {
    position: absolute;
    &__inner {
        //border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        width: 90%;
        @include media-breakpoint-down(xs) {
            margin-left: 20%;
        }
        @include media-breakpoint-up(xs) {
            width: 60%;
        }
        @include media-breakpoint-up(sm) {
            width: 90%;
        }
        @include media-breakpoint-up(md) {
            width: 90%;
        }
        @include media-breakpoint-up(lg) {
            width: 90%;
        }
    }
    &__play-button {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        width: 64px;
        height: 64px;
        cursor: pointer;
        overflow: hidden;
        @include media-breakpoint-down(xs) {
            left: 50%;
        }
    }
    &__cover {
        //border-radius: 50%;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 90%;
        height: 100%;
        background-color: black;
        opacity: 0.2;
        @include media-breakpoint-down(xs) {
            width: 60%;
            left: 20%;
        }
    }
}

.video-js {}

.video-js .vjs-dock-title {
    font-family: $font-family-sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.video-js .vjs-dock-text {
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .4) 20%, rgba(0, 0, 0, .3) 80%, transparent 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .4) 20%, rgba(0, 0, 0, .3) 80%, transparent 100%);
}

.video-js .vjs-control-bar {
    background-color: transparent;
}

.video-js .vjs-control {
    background-color: transparent;
}

.video-js .vjs-fullscreen-control {
    margin-top: -4px;
    display: none;
}

.video-js .vjs-play-control {
    margin-top: -4px;
    margin-left: 0px;
    margin-right: -10px;
}

.video-js .vjs-volume-menu-button {
    margin-top: -4px;
    margin-left: -10px;
}

.video-js .vjs-current-time-display {
    font-family: $font-family-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: -4px;
}

.video-js .vjs-duration-display {
    color: $gray-light;
    font-family: $font-family-serif;
    font-size: 12px;
    padding-top: 2px;
    margin-top: -4px;
}

.video-js .vjs-time-control {
    padding: 0;
    margin: 0;
}

.video-js .vjs-time-divider {
    color: $gray-light;
    font-size: 12px;
    margin-left: -6px;
    margin-right: -6px;
    margin-top: -4px;
}

.video-js .vjs-progress-control {
    top: 26px !important;
}

.vjs-control-divider {
    background-color: $gray-light;
    width: 1px;
    height: 17px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.video-js .vjs-dock-shelf {
    right: -20px;
    top: -5px;
}

.vjs-close-button {
    position: absolute;
    width: 25px;
    right: 40px;
    cursor: pointer;
}
