.eligibility-form {
    &__content {
        @include paddingTop(2);

        @include paddingBottom(2);
    }

    .secondary-cta {
        padding: 20px 0 0 0;
    }

    .cool {
        margin: 0px;
    }

    &__radio-holder{


    }

    &__radio-holder {
        @include media-breakpoint-up(md) {
            margin-left: -20px;
        }
    }

    &__radio{

        border: 1px solid $brand-primary;
        background: $white;
        color: $brand-primary;
        width: initial;
        padding: 11px 10px;
        float: left;
        margin-top: 12px;
        width: 100%;
        line-height: 14px;
        cursor: pointer;

        @include media-breakpoint-up(md) {
            width: initial;
            margin-left: 20px;
            padding: 12px 28px;
            line-height: 16px;
        }


        svg {
            transition: 0.4s;
        }

        &:focus , &:hover {
            border-color: $primary;
            color: $primary;
        }

        &--selected,
        &--selected:active,
        &--selected:focus,
        &--selected:hover {
            border-color: $primary;
            background: $primary;
            color: $white;

            svg {
                transform: rotate(135deg);
            }

            path {
                fill: $white;
            }
        }

        &--animated{
            opacity: 0;
        }
    }

    &__cta {
        border: none;

        @include media-breakpoint-up(md) {
            &--form {
                padding-top: 0;
                border: none;
            }
        }

        &--form {
            .list-style {}
        }

        &-summary {
            padding-bottom: 10px;

            @include media-breakpoint-up(xl) {
                padding-bottom: 16px;
            }
        }

        &--white {
            background: $white;
            padding: 20px;

            &-heading {
                margin-bottom: 8px;
            }

            @include media-breakpoint-up(md) {
                padding: 30px;

                &-heading {
                    margin-bottom: 15px;
                }
            }

            @include media-breakpoint-up(xl) {
                padding: 36px;

                &-heading {
                    margin-bottom: 16px;
                }
            }

            .btn-left {
                .secondary-cta {
                    text-align: left;

                    &__link {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    &__tick {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    &__tick-icon {
        height: 8px;
        position: absolute;
        top: 4px;
        left: -5px;

        path,
        polygon {
            fill: $primary;
        }
    }

    &__mark-icon {
        height: 14px;
        position: absolute;
        top: 1px;
        left: -6px;
    }

    &__info {
        padding: 0px 0px 0px 30px;
        position: relative;
    }

    &__not-eligible-info {
        position: relative;

        .eligibility-form__info {
            @include paddingBottom(1);
        }
    }

    &__mark-circle, &__tick-circle {
        height: 20px;
        width: 20px;
        border: 2px solid;
        display: block;
        border-radius: 50%;
        position: relative;
    }

    &__eligible, &__not-eligible {
        visibility: hidden;
        position: absolute;
        opacity: 0;

        @include media-breakpoint-up(md) {
            border-top: none;
            padding-top: 0;
        }
    }

    &__form-holder {
        @include media-breakpoint-down(sm) {
            padding-bottom: 40px;
        }
        @include media-breakpoint-up(sm) {
            position: absolute;
            display: none;
        }
    }

    &__form {
        @include media-breakpoint-down(sm) {
            padding-bottom: 40px;
        }

    }

    .contact {
        &__fields {
            @include media-breakpoint-down(sm) {
                padding-bottom: 24px;
            }
        }

        &__form {
            padding: 0;
        }

        &__input {
            border-bottom: 2px solid $form-grey;
        }

        &__title {
            color: $primary;
        }

        &__body {
            color: $primary;
        }

        &__progress {
            color: $primary;
        }

        &__placeholder {
            color: $primary;
        }

        &__next {
            path,
            polygon {
                fill: $brand-primary;
            }
        }

        &__prev {
            path,
            polygon {
                fill: $brand-primary;
            }
        }
    }

    &.contact {
        &__form {
            &--eligibility {
                @include media-breakpoint-only(xs) {
                    padding-left: 25px;
                    padding-right: 25px;
                }

                @include media-breakpoint-down(md) {
                    padding-left: 32px;
                    padding-right: 32px;
                }
            }
        }
    }

    .form {
        &__success {
            margin-bottom: 28px;
        }

        &__fail {
            margin-bottom: 28px;
        }
    }

    &__landing {
        @include media-breakpoint-up(md) {
            border-top: none;
            padding-top: 0;
        }
    }

    &__form-heading {
        @include media-breakpoint-down(md) {
            margin-bottom: -4px;
        }
    }

    &__form-button {
        @include media-breakpoint-down(md) {
            margin-left: 0;
        }
    }

    &__form-summary {
        @include media-breakpoint-down(md) {
            margin-bottom: 0;
        }
    }

    .eligibilty-next {
        position: absolute;
        bottom: 5px;
        right: 0px;

        @include media-breakpoint-up(lg) {
            right: 5px;
        }
    }
}

ul.eligibility-form__list {
    @include paddingBottom(1);

    @include paddingTop(1);
}
