
.login-toggler {
    @include media-breakpoint-up(md) {}


    &__label {
        display: inline;
        margin-left: 6px;

        @media (max-width: 1130px) {
            //display: none;
        }
    }

    .svg-icon {
        height: 22px;
        margin-bottom: 6px;
        width: 23px;
        margin-right: 37px;

        @include media-breakpoint-up(xs) {
            margin-right: 0px;
            margin-bottom: -5px;
        }

        @include media-breakpoint-up(sm) {
            margin-right: 0px;
            margin-bottom: -5px;
        }

        @include media-breakpoint-up(md) {
            height: 20px;
            margin-left: 5px;
            margin-bottom: -2px;
            margin-right: 0px;
            // width: 14px
        }
    }
}
