.title {
  position:relative;

  &__top-image {
    position:relative;
    width:                  100%;
    height:                 235px;
    overflow:               hidden;
    background-color:black;
    @include media-breakpoint-up(xs) {
      height:                133px;
    }
    @include media-breakpoint-up(md) {
      height:                195px;
    }
    @include media-breakpoint-up(lg) {
      height:                235px;
    }
  }

    &__background {
        background-color: $white;

        @include media-breakpoint-up(md) {
            margin-top: -25px;
            padding: 0px 25px;
        }
    }
}

.title__summary-logo{
  display:                  inline-block;
  float:                    left;
  padding-top:           39px;
}

.title__sub-heading{
  display:                  block;
  @include paddingBottom(0.5);

}

.title__main-heading{
  display:                  block;
  @include paddingBottom(1);
  @include paddingTop(1);
}

.title__body-copy{

 // padding-bottom: 0px;

}
