.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;

    &__holder {
        background: $white;
    }

    &__border-bottom-holder {
        position: relative;

        @include media-breakpoint-down(md) {
            margin-left: 32px;
            margin-right: 32px;
        }

        @include media-breakpoint-down(sm) {}

        @include media-breakpoint-down(xs) {
            margin-left: 14px;
            margin-right: 14px;
        }

        @include media-breakpoint-up(lg) {
            margin-left: 2%;
            margin-right: 2%;
        }
    }

    &__border-bottom {
        position: absolute;
        bottom: 0px;
        height: 1px;
        width: 0%;
        background: $gray-lighter;
        left: 50%;
    }

    // @include media-breakpoint-up(md) {
    //     height: 97px;
    // }
    // @include media-breakpoint-up(lg) {
    //     height: 148px;
    // }
    &--hidden {
        top: -77px;

        @include media-breakpoint-up(md) {
            top: -97px;
        }


        @include media-breakpoint-up(md) {
            top: -148px;
        }
    }

    &_ul {
        font-size: 11px;
        line-height: 28px;

        @include media-breakpoint-down(sm) {
            font-size: 10px;
        }
    }

    &__inner {
        display: block;
        width: 100%;
        overflow: hidden;

        .navigation-toggler__hamburger {
            display: block;
        }

        .navigation-toggler__cross {
            display: none;
        }

        .territory-toggler__label {
            color: $brand-primary;
        }

        .login-toggler__label {
            color: $brand-primary;
        }

        .search-toggler__label {
            color: $brand-primary;
        }

        .header-logo {
            padding-top: 44px;

            &__divider {
                display: inline-block;
                margin-left: 14px;
                margin-right: 17px;
                width: 1px;
                height: 40px;
                background-color: $grey-on-white-divider;
                opacity: 0.5;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            .logo__zebra {
                width: 140px;
                margin-top: -30px;
                padding-bottom: 0px;
                padding-top: 10px;

                @include media-breakpoint-down(md) {
                    width: 120px;
                    margin-top: -28px;
                    padding-bottom: 6px;
                }


                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            @include media-breakpoint-down(xs) {
                .logo__zebra {
                    display: none;
                }

                .divider-logo {
                    display: none;
                }

                &__divider {
                    display: none;
                }
            }
        }
    }
}

.header-controls {
    list-style: none;
    float: right;
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    padding-top: 59px;
    padding-bottom: 14px;
    vertical-align: middle;

    &__item {
        position: relative;
        display: inline-block;
        cursor: pointer;
        padding-left: 6px;

        @include media-breakpoint-up(lg) {
            padding-left: 10px;
        }
    }

    &__divider {
        display: inline-block;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: -8px;
        width: 1px;
        height: 27px;
        background-color: $grey-on-white-divider;
    }

    &__item-first {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    &__link {
        display: inline-block;
        vertical-align: middle;
    }

    &__link-white {
        display: inline-block;
        color: white;
    }

    &__icon {
        width: initial;
    }

    @include media-breakpoint-down(sm) {
        .js-search-toggler .search-toggler__label {
            display: none;
        }

        .js-login-toggler .login-toggler__label {
            display: none;
        }
    }

    @include media-breakpoint-down(xs) {
        .js-login-toggler .login-toggler__label {
            display: none;
        }

        .js-search-toggler .search-toggler__label {
            display: none;
        }
    }
}
