/*
* Helvetica Neue
*/
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=1f1c762d-fdbf-4ccf-908e-c82fe26b5be9");

/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web /assets/fonts:  http://www.fonts.com
*/
@font-face {
    font-family: "Helvetica-Neue-Light";
    src: url('./fonts/HelveticaNeueLTStd-Lt.eot');
    src: url('./fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
    url('./fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'),
    url('./fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Neue-Bold";
    src: url('./fonts/HelveticaNeueLTStd-Bd.eot');
    src: url('./fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
    url('./fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
    url('./fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
    url('./fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "fontello";
    src: url('./fonts/fontello.eot');
    src: url('./fonts/fontello.eot?#iefix') format('embedded-opentype'),
    url('./fonts/fontello.woff') format('woff'),
    url('./fonts/fontello.woff2') format('woff2'),
    url('./fonts/fontello.ttf') format('truetype'),
    url('./fonts/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    src: local("Playfair Display"), local("PlayfairDisplay-Regular"), url("https://fonts.gstatic.com/s/playfairdisplay/v10/2NBgzUtEeyB-Xtpr9bm1Cdhy5e3cTyNKTHXrP9DO-Rc.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
