<div class="benefits component" data-scrollmagic="true" data-component="benefits" style="visibility: visible;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-xl-4">
                <h4 class="benefits__summary" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">{{summary}}</h4>
            </div>
            <div class="col-xs-12 col-md-12 col-xl-8">
                <ul class="benefits__items row">
                    <li class="benefits__item col-sm-6 js-benefit">
                        <div class="benefits__item-content">
                            <strong>{{header1}}</strong>
                            <br/>
                            <br/>
                            <p class="benefits__copy" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">{{copy1}}</p>
                            <a class="benefits__link" href="#">
                                <span>Learn more about markets</span>
                                <span class="secondary-cta__chevron">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="7px" height="9px" viewBox="795.5 464 7 9" enable-background="new 795.5 464 7 9" xml:space="preserve" class="injected-svg js-svg-icon svg-icon  chevron chevron--desktop" data-src="../assets/images/icons/svg/chevron2.0_desktop.svg" data-fallback="../assets/images/icons/png/chevron2.0_desktop.png">
                                        <polygon fill="#485dc5" points="798.5,464 795.5,464 799.25,468.5 795.5,473 798.5,473 802.5,468.5 "></polygon>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="benefits__item  col-sm-6 js-benefit">
                        <div class=" benefits__item-content">
                            <strong>{{header2}}</strong>
                            <br/>
                            <br/>
                            <p class="benefits__copy" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0); ">{{copy2}}</p>
                            <a class="benefits__link" href="#">
                                <span>Learn more about markets</span>
                                <span class="secondary-cta__chevron">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="7px" height="9px" viewBox="795.5 464 7 9" enable-background="new 795.5 464 7 9" xml:space="preserve" class="injected-svg js-svg-icon svg-icon  chevron chevron--desktop" data-src="../assets/images/icons/svg/chevron2.0_desktop.svg" data-fallback="../assets/images/icons/png/chevron2.0_desktop.png">
                                        <polygon fill="#485dc5" points="798.5,464 795.5,464 799.25,468.5 795.5,473 798.5,473 802.5,468.5 "></polygon>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="benefits__item col-sm-6 js-benefit">
                        <div class="benefits__item-content">
                            <strong>{{header3}}</strong>
                            <br/>
                            <br/>
                            <p class="benefits__copy" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">{{copy3}}</p>
                            <a class="benefits__link" href="#">
                                <span>Learn more about markets</span>
                                <span class="secondary-cta__chevron">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="7px" height="9px" viewBox="795.5 464 7 9" enable-background="new 795.5 464 7 9" xml:space="preserve" class="injected-svg js-svg-icon svg-icon  chevron chevron--desktop" data-src="../assets/images/icons/svg/chevron2.0_desktop.svg" data-fallback="../assets/images/icons/png/chevron2.0_desktop.png">
                                        <polygon fill="#485dc5" points="798.5,464 795.5,464 799.25,468.5 795.5,473 798.5,473 802.5,468.5 "></polygon>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
