@import "~styles/sec-variables.scss";
@import "~styles/base/_body.scss";

.benefits__copy {
    margin: 16px 0 !important;
}

.benefits {
    color: #00204e;
    font-size: 16px;
    margin-top: 70px;

    @include marginBottom(-1);

    &__heading {
        margin: 0 0 21px;

        @include media-breakpoint-up(md) {
            margin: 0 0 37px;
        }

        @include media-breakpoint-up(lg) {
            margin: 0 0 36px;
        }

    }

    &__copy {

        font-family: $font-family-sans-serif-light;
        font-size: $font-size-base;
        margin: 0;
        padding: 0;

    }

    &__link {
        font-family: $font-family-sans-serif-light;
        font-size: 15px;
        font-weight: 600;
        &:hover {
            color: #0275d8;
            text-decoration: none;
        }
    }

    &__summary {

        font-family: $font-family-sans-serif;
        font-size: 1.5rem;

        @include paddingBottom(1);

        @include media-breakpoint-up(md) {
            line-height: 32px;
        }

        @include media-breakpoint-up(lg) {
            line-height: 36px;

        }

        @include media-breakpoint-up(xl) {
            line-height: 36px;

        }

        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;

        }

    }

    &__item {
        @include marginBottom(0);
        &-heading {
            font-family: $font-family-sans-serif;
            font-size: $font-size-base;
            margin-bottom: 10px;
            font-weight: bold;

            @include media-breakpoint-up(lg){
                margin-top: 5px;
            }
            @include media-breakpoint-up(sm) {
                height: 48px;
            }
            @include media-breakpoint-only(xs) {
                height: 20px;
                margin-top: 20px;
            }
        }
        &-copy {
            margin-bottom: 10px;
            font-weight: bold;
            @include media-breakpoint-up(lg){
                margin-top: 5px;
                height: 96px;
            }

        }
        &-icon {
            padding: 0 0;

            //@include media-breakpoint-up(sm) {
            //  padding: 0 20px;
            //}

            //@include media-breakpoint-only(md) {
            //      padding: 0 20px;
            //    }

            @include media-breakpoint-only(lg) {
                padding: 0 13px;
            }

            @include media-breakpoint-only(xl) {
                padding: 0 15px;
            }
        }

        &-content {
            @include paddingBottom(1);
        }

        &-tick {
            // background: url("../images/icons/svg/tick.png") no-repeat;
            // background: url("../images/icons/svg/tick.svg") 50% 43% no-repeat;
            background-size: 13px auto;
            float: left;
            height: 27px;
            width: 29px;

            @include media-breakpoint-up(lg) {
                height: 20px;
            }
        }

        &--bold {
            @include marginBottom(0);
        }


    }

    &__items {
        @include marginBottom (0);
        list-style: none;
        padding-left: 0;
    }

    @include media-breakpoint-down(sm) {
        //padding: 0;
    }
}

