.timeline-item {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    margin: 0 auto 16px;
    max-width: 472px;
    min-height: 200px;
    overflow: hidden;
    padding: 0 0 20px;
    position: relative;

    @include media-breakpoint-up(md) {
        margin: 0 auto 32px;
        padding: 0 0 40px;
    }
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #f3f3f3 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 365px;
    position: relative;

    @include media-breakpoint-up(md) {
        height: 408px;
    }
}

.background-masker {
    background: #fff;
    position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
    height: 22px;
    left: 0;
    right: 0;
    top: 148px;

    @include media-breakpoint-up(md) {
        height: 32px;
        top: 192px;
    }
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
    height: 8px;
    left: 40px;
    top: 185px;
    width: 10px;

    @include media-breakpoint-up(md) {
        top: 240px;
    }
}
.background-masker.header-left {
    height: 16px;
    left: 252px;
    top: 170px;
    width: 100%;

    @include media-breakpoint-only(sm) {
        left: 370px;
    }

    @include media-breakpoint-up(md) {
        left: 270px;
        top: 224px;
    }
}


.background-masker.header-bottom {
    height: 35px;
    left: 235px;
    top: 195px;

    @include media-breakpoint-only(sm) {
        left: 330px;
    }

    @include media-breakpoint-up(md) {
        height: 47px;
        top: 248px;
    }
}

.background-masker.subheader-left,
.background-masker.subheader-right {

    height: 50px;
    left: 252px;
    top: 250px;
    width: 100%;

    @include media-breakpoint-only(sm) {
        left: 380px;
    }

    @include media-breakpoint-up(md) {
        height: 6px;
        left: 0;
        top: 300px;
    }
}


.background-masker.header-right,
.background-masker.subheader-right {
    height: 10px;
    left: 0;
    right: 0;
    width: auto;

    @include media-breakpoint-up(md) {
        height: 20px;
    }
}

.background-masker.subheader-right {
    height: 210px;
    left: 0;
    top: 170px;
    width: 25px;

    @include media-breakpoint-up(md) {
        height: 200px;
        top: 214px;
        width: 32px;
    }
}

.background-masker.subheader-bottom {
    height: 23px;
    top: 230px;

    @include media-breakpoint-up(md) {
        top: 295px;
    }
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
    height: 22px;
    left: 0;
    right: 0;
    top: 340px;
}

.background-masker.content-top {
    height: 30px;

    @include media-breakpoint-up(md) {
        height: 0;
    }
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end{
    height: 8px;
    left: 380px;
    right: 0;
    top: 360px;
    width: auto;
}

.background-masker.content-second-line  {
    top: 300px;

    @include media-breakpoint-up(md) {
        top: 370px;
    }
}

.background-masker.content-second-end {
    left: 420px;
    top: 369px;
}

.background-masker.content-third-line {
    height: 30px;
    left: 120px;
    top: 310px;

    @include media-breakpoint-only(sm) {
        left: 150px;
    }

    @include media-breakpoint-up(md) {
        height: 30px;
        left: 120px;
        top: 388px;
    }
}

.background-masker.content-third-end {
    height: 55px;
    left: 295px;
    top: 318px;
}
