@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../styles/helpers/_mixins.scss";
@import "../../../styles/helpers/_custom_new_variables";

.navigation-toggler {
    position: relative;
    display: inline-block;
    list-style: none;
    //width: 20px;
    //height: 11px;
    //top: -12px;

    //width: 86px;
    //height: 11px;
    top: 0;

    &--open{
        //width: 130px;
    }


    @include media-breakpoint-down(sm) {
        top: 8px;
    }

    &__label{
        display: inline-block;
        margin-left: 4px;
        margin-top: 6px;
        height: 100%;
    }

    &__cross {
        height: 21px;
        width: 21px;
        float: right;
        margin: 4px 0 0 10px;
        position: relative;
        //margin-top: 8px;
        //margin-top: 0px;
        //right: 9px;
        //position: absolute;
    }

    &__hamburger {
        height: 44px;
        width: 36px;
        float: right;
        margin: 0 0 0 10px;

        @include media-breakpoint-down(sm) {
            margin-top: -9px;
        }

        @include media-breakpoint-down(xs) {
            margin-top: -4px;
      }

    }
}

.navigation-toggler__hitArea {
    position: absolute;
    display: block;
    top: 0;
    right: 0px;
    width: 100%;
    height: 30px;
    background-color: black;
    opacity: 0;
    z-index:100;

}

.navigation-toggler__top {
    position: absolute;
    display: block;
    background-color: $brand-primary;
    width: 30px;
    height: 2px;
    top: -4px;
    right: 0px;
}

.navigation-toggler__middle {
    background-color: $brand-primary;
    width: 30px;
    height: 2px;
    display: block;
    position: absolute;
    top: 4px;
    right: 0px;
}

.navigation-toggler__bottom {
    background-color: $brand-primary;
    width: 30px;
    height: 2px;
    display: block;
    position: absolute;
    top: 12px;
    right: 0px;
}
