.alerts-country {

  &__wrapper {

    &--second {
      &::after {
        position: absolute;
        width: 0;
        height: 0;
        border: 9px solid transparent;
        border-top-color: $gray-dark;
        bottom: -18px;
        right: 35px;

          @include media-breakpoint-up(lg) {
              position: absolute;
              width: 0;
              height: 0;
              bottom: -33px;
              border-top: 30px solid $gray-dark;
              border-left: 16px solid transparent;
              border-right: 16px solid transparent;
          }

        @include media-breakpoint-only(md) {
          right: 223px;
        }

        @include media-breakpoint-only(lg) {
          right: 243px;
        }

        @include media-breakpoint-up(xl) {
          right: 351px;
        }

        @media (min-width: 1131px) and (max-width: 1279px) {
          right: 353px;

        }  //added this breakpoint as in accordance with the header
      }
    }
  }

}
