.checkbox {
    color: $brand-primary;
    display: inline-block;
    &__box {
        height: 24px;
        width: 24px;
        position: relative;
        border: 1px solid;
        float: left;
    }

    &__input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    &__copy {
        padding: 4px 15px 0px;
        display: inline-block;
        user-select: none;
        color: $primary;

        @include media-breakpoint-up(lg) {
            padding: 3px 15px 0px;
        }
    }

    &__tick {
        position: absolute;
        top: 3px;
        left: 1px;
        display: none;
    }

    &__label {
        padding-left: 0px !important;
    }

    .svg-icon--tick--white {
        height: 10px;
        width: 20px;
        margin-top: 4px;
    }
}


.checkbox__check-box--on {
    .checkbox__tick {
        display: block;
    }
}
