@import "~styles/sec-variables.scss";
@import "/assets/fonts.css";

body {
    font-family: $font-family-base;
}
.main_button {
    background: #437cbf !important;
    border: 1px solid #485dc5 !important;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-family: $font-family-sans-serif-light;
    font-size: 16px;
    font-weight: bold;
    height: 46px;
    line-height: 46px !important;
    padding: 0 !important;
    text-align: center;
    width: 145px !important;

    &:hover {
        background-color: $primary !important;
    }

}

.background {
    &__gray {
        background-color: $gray-background;

        @media (min-width: 992px) {
            width: 1150px;
        }
    }
}

.scrolled {
    animation: FadeInComponents 1s ease-in 0s 1 forwards;
    opacity: 1 !important;
}

.icon-mail:before {
    content: '\e801';
}

.icon-phone:before {
    content: '\e802';
}

.icon-twitter:before {
    content: '\f309';
}

li i:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    /* font-size: 120%; */
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 992px) {
    .container {
        width: $layoutWidth;
    }
}

@keyframes FadeInComponents {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
