.hero-messaging-gradient {
    position: relative;

    &__gradient-mask {
        max-height: 235px;
        overflow: hidden;
    }

    &__gradient-holder {
        position: absolute;
        background: rgba(0, 0, 0, 0) -webkit-linear-gradient(to right, rgba(20, 33, 38, 1) 50%, rgba(21, 21, 21, 0) 100%) repeat scroll 0 0;
        background: rgba(0, 0, 0, 0) -moz-linear-gradient(to right, rgba(20, 33, 38, 1) 50%, rgba(21, 21, 21, 0) 100%) repeat scroll 0 0;
        background: rgba(0, 0, 0, 0) -o-linear-gradient(to right, rgba(20, 33, 38, 1) 50%, rgba(21, 21, 21, 0) 100%) repeat scroll 0 0;
        background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(20, 33, 38, 1) 50%, rgba(21, 21, 21, 0) 100%) repeat scroll 0 0;
        display: block;
        height: 235px;
        top: 0;
        width: 50%;
        height: 100%;

        @include media-breakpoint-up(lg) {
            background: rgba(0, 0, 0, 0) -webkit-linear-gradient(to right, rgba(20, 33, 38, 1) 60%, rgba(21, 21, 21, 0) 100%) repeat scroll 0 0;
            background: rgba(0, 0, 0, 0) -moz-linear-gradient(to right, rgba(20, 33, 38, 1) 60%, rgba(21, 21, 21, 0) 100%) repeat scroll 0 0;
            background: rgba(0, 0, 0, 0) -o-linear-gradient(to right, rgba(20, 33, 38, 1) 60%, rgba(21, 21, 21, 0) 100%) repeat scroll 0 0;
            background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(20, 33, 38, 1) 60%, rgba(21, 21, 21, 0) 100%) repeat scroll 0 0;
        }
    }

    &__image-holder {
        position: relative;
        opacity: 0;

        @include media-breakpoint-up(xs) {
            right: 0%;
            width: 100%;
            max-height: 133px;
        }


        @include media-breakpoint-up(md) {
            max-height: 195px;
        }


        @include media-breakpoint-up(lg) {
            max-height: 235px;
        }
    }

    &__copy {
        padding-left: 8px;
        padding-right: 8px;

        @include media-breakpoint-up(lg) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    &__image-mask {
        overflow: hidden;
    }

    &__image-overlay {
        position: absolute;
        top: 0px;
        opacity: 0;

        @include media-breakpoint-up(md) {
            h1 {
                line-height: 72px;
            }
        }

        @include media-breakpoint-up(lg) {
            h1 {
                line-height: 84px;
            }
        }
    }

    &__image-underlay {
        margin-top: 20px;

    }

    &__copy-white {
        color: white;
    }

    &__copy-black {
        color: black;
    }

    &__copy-grey {
        color: $slate-grey;

        @include media-breakpoint-up(md) {
            color: $light-blue;
        }
    }

    &__heading,
    &__copy {
        color: $primary;
    }

    &__heading-white,
    &__copy-white {
        color: $white;
    }

    &__heading-grey,
    &__copy-grey {
        color: $quote-grey;
    }
}

.hero-messaging-gradient--light {
    .hero-messaging-gradient__copy-white {
        color: $primary;
    }

    .hero-messaging-gradient__copy-grey {
        color: $primary;
    }

    .hero-messaging-gradient__gradient-holder {
        position: absolute;
        background: -moz-linear-gradient(left, rgba(236, 237, 239, 1) 0%, rgba(236, 237, 239, 1) 50%, rgba(236, 237, 239, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(236, 237, 239, 1) 0%, rgba(236, 237, 239, 1) 50%, rgba(236, 237, 239, 0) 100%);
        background: linear-gradient(to right, rgba(236, 237, 239, 1) 0%, rgba(236, 237, 239, 1) 50%, rgba(236, 237, 239, 0) 100%);
        display: block;
        max-height: 235px;
        top: 0;
        width: 50%;
        height: 100%;

        @include media-breakpoint-up(lg) {
            background: -moz-linear-gradient(left, rgba(236, 237, 239, 1) 0%, rgba(236, 237, 239, 1) 60%, rgba(236, 237, 239, 0) 100%);
            background: -webkit-linear-gradient(left, rgba(236, 237, 239, 1) 0%, rgba(236, 237, 239, 1) 60%, rgba(236, 237, 239, 0) 100%);
            background: linear-gradient(to right, rgba(236, 237, 239, 1) 0%, rgba(236, 237, 239, 1) 60%, rgba(236, 237, 239, 0) 100%);
        }
    }
}

.hero-messaging-gradient--no-gradient {
    .hero-messaging-gradient__gradient-holder {
        display: none;
    }
}
