.input-focus-animation {
    position: relative;
    padding-top: 15px;

    @include media-breakpoint-up(md) {
        padding-top: 25px;
    }


    &__input {
        background: transparent;
        border: none;
        border-bottom: 2px solid #8f969a;
        line-height: 22px;
        outline: none;
        position: relative;
        width: 100%;

        @include media-breakpoint-up(md) {
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__placeholder {
        position: absolute;
        left: 0px;
        top: 16px;
        font-family: $font-family-sans-serif-light;
        font-size: 16px;

        @include media-breakpoint-up(md) {
            font-size: 20px;
            top: 24px;
        }
    }

    &__next {
        cursor: pointer;
        position: absolute;
        right: 0;
        font-size: 9px;
        font-weight: bold;
        font-family: $font-family-sans-serif-bold;
        color: $brand-primary;
        bottom: 4px;

        @include media-breakpoint-up(md) {
            bottom: 5px;
            font-size: 12px;
        }


        transition: 0.4s;

        &:hover {
            color: $primary;

            path,
            polygon {
                fill: $primary;
            }
        }

        path,
        polygon {
            fill: $brand-primary;
        }
    }

    &__chevron {
        float: right;
        float: right;
        margin: 6px 0px 0 5px;
    }
}

.input-focus-animation--blue {
    color: $brand-primary;
}
