<div class="component" data-component="HeroMessagingGradient">
    <inv-hero-messaging></inv-hero-messaging>
</div>
<div class="component" *ngIf="isLoggedIn()">
    <inv-dashboard [dashtiles]="applications"></inv-dashboard>
</div>
<div *ngIf="!isLoggedIn()">
    <div class="component__margin">
        <inv-benefits></inv-benefits>
    </div>
    <div class="component__margin">
        <inv-contact></inv-contact>
    </div>
    <div class="component__margin">
        <inv-quote [quote]="quotes[0]"></inv-quote>
    </div>
    <div class="component__margin">
        <div class="container">
            <div appScrolled class="dots"></div>
        </div>
    </div>
    <div class="component__margin fix-dots">
        <inv-grid></inv-grid>
    </div>
    <div>
        <div class="container">
            <div appScrolled class="dots"></div>
        </div>
    </div>
    <div class="donedeals-component__margin">
        <inv-done-deals [tombstones]="tombstones"></inv-done-deals>
    </div>
</div>
