.component {
    &__margin {
        margin: 70px 0;
    }
}
.dots {
    background: url("/assets/images/dot.png") repeat-x;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    opacity: 0;
    width: 100%;
}

.scrolled {
    animation: FadeInDots 1s ease-in alternate;
}

@keyframes FadeInDots {
    0% {width:0}
    100% {width:100%;}
}

.component__margin.fix-dots {
    margin-bottom: 30px;
}

.donedeals-component__margin {
    margin: 50px 0 90px 0;
}
