@import "~styles/sec-variables.scss";

.column {
    font-family: $font-family-sans-serif-light;
    margin-bottom:40px;
    color: #00204e;

    a{
        font-size: 15px;
        font-weight: 600;
        color: #437cbf;
    }

    strong {
        font-family: $font-family-sans-serif;
        font-weight: bold;
        font-size: $font-size-base;
    }

    p {
        margin: 16px 0px;
    }
}

.column-content {
    opacity: 0;
}
