.hero {
    overflow: hidden;
    &__copy {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        color: #fff;

        @include media-breakpoint-down(sm) {
            position: relative;
            top: inherit;
            transform: none;
            text-align: right;
        }
    }

    &__rhombus-mobile {
        width: 100%;
        height: 0;
        padding-top: 10%;
        overflow: hidden;
        position: absolute;
        bottom: -1px;
        z-index: 2;

        &:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            margin-top: -50px;
            border-top: 50px solid transparent;
            border-right: 760px solid $white;
        }
    }

    &__copy-holder {
        max-height: 235px;
        height: 100%;
        position: relative;

        @include media-breakpoint-down(md) {
            max-height: 195px;

            h1 {
                line-height: 72px;
            }

        }

        @include media-breakpoint-down(sm) {
            max-height: 113px;
            height: 100% !important;

            h1 {
                line-height: 40px;
            }

        }


    }

    &__image-holder {
        position: relative;

        @include media-breakpoint-down(md) {
            padding-left: 32px;
            padding-right: 32px;
            width: 60%;
            max-height: 195px;
        }


        @include media-breakpoint-down(sm) {
            padding-left: 0px;
            padding-right: 0px;
            width: 100%;
            position: relative;
            padding-bottom: 20px;
            max-height: 113px;
        }


        @include media-breakpoint-up(lg) {
            padding-left: 2%;
            padding-right: 2%;
        }


        position: absolute;
        left: 0px;
        width: 100%;
        max-height: 235px;
        overflow: hidden;
    }

    &__rhombus {
        width: 125%;
        height: 101%;
        background: #fff;
        position: absolute;
        right: -50px;
        top: -1px;
        transform: skew(-6deg);
    }
}
