<div id="main-footer" class="container background__gray">
    <div appScrolled class="footer-container">
        <div class="footer-image hidden-md-down">
            <img src="/assets/images/footer-zebra.png" />
        </div>
        <div class="footer-content">
            <div class="row">
                <div class="offset-sm-1"></div>
                <div class="col-12 col-md-9">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2>Why not talk directly to our specialists</h2>
                            </div>

                            <div class="cta-block col-12 col-md-7">
                                <p>To find out more about our Private Bank Account services, <br class="mobile-hide"/>
                                    call us or complete our callback form.</p>
                                <div class="cta-buttons">
                                    <button class="main_button">Call me back</button>
                                    <button class="main_button">Email me</button>
                                </div>
                            </div>
                            <div id="socials" class="col-12 col-md-5">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="icon-mail"></i> joburg@investec.co.za</a></li>
                                    <li><a href="#"><i class="icon-phone"></i> +27 11 214 1610</a></li>
                                    <li><a href="#"><i class="icon-twitter"></i> @Investec</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2">
                    <div class="copyright">
                        <p>Copyright Investec 2017</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
