@import "~styles/sec-variables.scss";

#main-footer {
    font-family: $font-family-base;
    margin-top:40px;
    min-height: 210px;

    .footer-container {
        opacity: 0;
    }

    .footer-content {
        padding-top: 50px;
    }

    h2 {
        color: #002e55;
        font-family: $font-family-sans-serif-light;
        font-size: 23px;
        margin-bottom: 35px;
    }

    .cta-block {
        p {
            font-family: $font-family-sans-serif-light;
            font-size: $font-size-base;
            line-height: 23px;
            color: #437cbf;
        }
    }

    .copyright {
        font-size: 13px;
    }

    @media (max-width: 768px) {
        text-align: center;
    }
}
.footer-image {
    left: 0;
    position: absolute;
    top: -20%;

    img {
        width: 80%;
    }
}

#socials {
    font-family: $font-family-sans-serif-light;
    ul li {
        margin-bottom: 18px;
        i {
            margin-right: 12px;
        }
    }
}

.cta-buttons {
    button {
        margin: 5px 0;
        &:first-child {
            margin-right: 35px;

            @media (max-width: 425px) {
                margin-right: 0;
            }
        }
    }
}
