.social-share {

    &__title-container {
        //border-top: 1px solid $inactive-dividers;
        padding: 24px 0 0 0;
    }

    &__title {

        font-family: $font-family-sans-serif-bold;
        color: $primary;
        font-size: 14px;
        line-height: 18px;
        margin: 5px 0px 0px 5px;

        @include media-breakpoint-up(md) {
             font-size: 15px;
             line-height: 19px;
             margin: 5px 0px 0px 0px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 16px;
            line-height: 20px;
        }

    }

    ul {
        list-style: none;
        margin: 20px 0 24px 0;

        @include media-breakpoint-up(md) {
            margin-top: 0px;
        }
    }

    &__icons {
        padding: 0;
        height: 27px;

        @include media-breakpoint-up(md) {
            float: right;
        }
    }

    &__icon {
        height: 27px;
        svg {
            fill: $brand-primary;
            height: 14px;
            width: initial;
            margin-top: 5px;
        }

        display: inline-block;
        float: left;
        //border-right: 1px solid $inactive-dividers;
        padding: 0 15px 0 15px;
        text-align: center;
        white-space: nowrap;

        &--faded {
            opacity: 0.5;
        }
    }

    &__icon:last-child {
        border-right: none;
        padding-right: 0px;
        svg {
            padding-right: 0px;
        }
    }

    &__icon:first-child {
        @include media-breakpoint-up(md) {
            padding-left: 0px;
        }
    }

    &__counter {
        font-size: 12px;
        padding-right: 30px;
        display: inline-block;
        margin-top: 0px;
        text-align: center;
    }

    p {
        line-height: 21px;
        padding: 0px 0px 0px 10px;
    }
}



