@import "~styles/sec-variables.scss";

body,
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

body {
    overflow: hidden;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.main-content-container {
    position: relative;
}

.main {
    padding-top: 100px;

    @include media-breakpoint-down(sm) {
        padding-top: 80px;
    }
}

.site-container {
    position: relative;
}

.page-fader {
    position: fixed;
    height: 15%;
    width: 100%;
    bottom: 0;
    // /* Permalink - use to edit and shared this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0.5+20,0+100 */
    // background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0) 100%);
    // /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0) 100%);
    // /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0) 100%);
    // /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transform: rotate(180deg);
    z-index: 300000;
    pointer-events: none;
    // background: red;
    // display: none;
}
