$font-stack:"Helvetica Neue Bold","Helvetica Neue", "Helvetica","Arial","Lucida Grande","sans-serif";
$animation-duration-in:1.0s;
$animation-duration-out:0.5s;
$button-letter-spacing: 0.03em;

.button-chaser {
    width: 130px;
    height: 40px;
    margin: 15px auto;
    color: $brand-primary;
    font-family: $font-stack;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    text-transform: none;
    text-align: center;
    position: relative;
    cursor: pointer;
    letter-spacing: $button-letter-spacing;
    
    &__svg {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__border {
        fill: none;
        stroke: $brand-primary;
        stroke-width: 1;
    }

    /* Basic Box */
    &__border {
        stroke-width: 3;
        stroke-dasharray: 128%, 372%;
        stroke-dashoffset: -175;
        transition: all ($animation-duration-out) ease-in;
    }

    $root: &;

    &--one-chaser {
        &:hover {
            #{$root}__border {
                stroke-width: 3;
                stroke-dasharray: 400%, 0%;
                stroke-dashoffset: 600;
                transition: all ($animation-duration-in) ease-out;
            }
        }
    }

    &--two-chaser {
        &:hover {
            #{$root}__border {
                stroke-width: 3;
                stroke-dasharray: 200%, 0%;
                stroke-dashoffset: 20;
                transition: all ($animation-duration-in/2) ease-out;
            }
        }
    }
    
    &--four-chaser {
        &:hover {
            #{$root}__border {
                stroke-width: 3;
                stroke-dasharray: 110%, 0%;
                stroke-dashoffset: 140;
                transition: all ($animation-duration-in) ease-out;
            }
        }
    }
}

/* button swipe left*/
.button-swipe-left {
    height: 60px;
    width: 160px;
    text-align: center;
    margin:15px auto;
}
/* Hover Transition */
.button-wrapper-left {
    overflow: hidden;
    display: inline-block;
    position: relative;
    height: 60px;
    width:160px;
}
.button-wrapper-left:hover .button-overlay-left {
    right: 200px;
}
.button-wrapper-left:hover .description {
    color:$brand-primary;
    transition: 0.05s ease-in;
}
.button-wrapper-left:hover .link {
    border: solid 2px $brand-primary;
    transition: 0.05s ease-in;
}
.button-wrapper-left .button-overlay-left {
    display: block;
    position: absolute;
    height: 200px;
    width: 100%;
    top: 0;
    right: -100%;
    transition: 0.2s ease-out;
}
.button-wrapper-left .button-overlay-left .rectangle-left,
.button-wrapper-left .button-overlay-left .arrow-left {
    position: absolute;
    top: 0;
}
.button-wrapper-left .button-overlay-left .rectangle-left {
    display: block;
    margin-left: 200px;
    width: 100%;
    height: 100%;
    background-color: white;
}
.button-wrapper-left .button-overlay-left .arrow-left {
    position: relative;
    left: 0;
    width: 0; 
    height: 0; 
    top: 0;
    bottom: 0;
    border-bottom: 200px solid transparent; 
    border-right: 200px solid white; 
}
.button-wrapper-left .description {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color:white;
    transition: 0.2s ease-out;
    letter-spacing: $button-letter-spacing;
}
.button-wrapper-left .description p {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: $font-stack;
    padding-top:22px;
}
.button-wrapper-left .link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin: 0;
    border: solid 2px transparent;
    transition: 0.2s ease-in;
}

/* button swipe right*/
.button-swipe-right {
    height: 60px;
    width: 160px;
    text-align: center;
    margin:15px auto;
}
/* Hover Transition */
.button-wrapper-right {
    overflow: hidden;
    display: inline-block;
    position: relative;
    height: 60px;
    width:160px;
}
.button-wrapper-right:hover .button-overlay-right {
    left: 100%;
}
.button-wrapper-right:hover .description {
    color:$brand-primary;
    transition: 0.05s ease-in;
}
.button-wrapper-right:hover .link {
    border: solid 2px $brand-primary;
    transition: 0.05s ease-in;
}
.button-wrapper-right .button-overlay-right {
    display: block;
    position: absolute;
    height: 200px;
    width: 100%;
    top: 0;
    left: -100%;
    transition: 0.2s ease-out;
}
.button-wrapper-right .button-overlay-right .rectangle-right,
.button-wrapper-right .button-overlay-right .arrow-right {
    position: absolute;
    top: 0;
    left:-25%;
}
.button-wrapper-right .button-overlay-right .rectangle-right {
    display: block;
    margin-right: 200px;
    left:-100%;
    width: 100%;
    height: 100%;
    background-color: white;
}
.button-wrapper-right .button-overlay-right .arrow-right {
    position: relative;
    right: 0;
    width: 0; 
    height: 0; 
    top: 0;
    bottom: 0;
    border-bottom: 200px solid transparent; 
    border-left: 200px solid white; 
}
.button-wrapper-right .description {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color:white;
    transition: 0.2s ease-out;
    letter-spacing: $button-letter-spacing;
}
.button-wrapper-right .description p {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: $font-stack;
    padding-top:22px;
}
.button-wrapper-right .link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin: 0;
    border: solid 2px transparent;
    transition: 0.2s ease-in;
}