
/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/


// CTA
button,
.investec-button {
    margin: 0px;
    padding: 0px;
    font-family: $font-family-sans-serif;
    color: $white;
    font-size: 14px;
    line-height: 32px;
    border: 1px solid $brand-primary;
    background: $brand-primary;
    width: 100%;
    //text-transform: capitalize;
    padding: 5px 0 0;
    margin: 0px;
    letter-spacing: 0.7px;
    transition: 0.4s;

    &::first-letter {
        text-transform: uppercase;
    }

    @include respond-min(map-get($grid-breakpoints, "md")) {
        font-size: 15px;
    }

    @include respond-min(map-get($grid-breakpoints, "lg")) {
        font-size: 16px;
    }

    &:focus {
        outline: none;
    }

    &:hover,
    &:focus {
        color: $brand-primary;
        background: $white;
    }
    &.disabled,
    &:disabled {
        cursor: $cursor-disabled;
        opacity: 0.65;
        pointer-events:none;
    }
}

.investec-button-inner-anchor{

}

.investec-play-button {
    font-family: $font-family-sans-serif;
    color: $white;
    font-size: 14px;
    line-height: 32px;
    border: 2px solid $white;
    background: none;
    width: 100%;
    //text-transform: capitalize;
    padding: 15px 0px 0px 6px;
    margin: 0;
    letter-spacing: 0.7px;
    transition: 0.4s;

    &::first-letter {
        text-transform: uppercase;
    }

    @include respond-min(map-get($grid-breakpoints, "md")) {
        font-size: 15px;
    }

    @include respond-min(map-get($grid-breakpoints, "lg")) {
        font-size: 16px;
    }

    &:focus {
        outline: none;
    }

    &:hover,
    &:focus {
        color: $brand-primary;
        background: $white;

        path {
            fill: $brand-primary;
        }
    }

    path {
        fill: $white;
    }
}


//
// Base styles
//
.btn {
    font-family: $font-family-sans-serif-condensed;
    display: inline-block;
    font-weight: $btn-font-weight;
    text-align: center;
    text-transform: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background: $brand-primary;
    color: $white;
    border: $input-btn-border-width solid transparent;
    letter-spacing: 1px;
    @include button-size($btn-padding-y, $btn-padding-x, 0.875rem, $btn-border-radius);
    //@include transition(all .2s ease-in-out);
    transition: all $transitionDuration $easing;
    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            @include tab-focus();
        }
    }
    @include hover-focus {
        border-color: $brand-primary;
        background: $white;
        color: $brand-primary;
        text-decoration: none;
        outline: none;
    }
    &.focus {
        text-decoration: none;
    }

    &:active,
    &.active {
        background-image: none;
        outline: 0;
        @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
    }
    &.disabled,
    &:disabled {
        cursor: $cursor-disabled;
        opacity: 0.65;
        @include box-shadow(none);
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

//
// Alternate buttons
//
.btn-primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn-secondary {
    @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
    @include hover-focus {
        border-color: $btn-primary-bg;
        background: $btn-primary-bg;
        color: $white;
        text-decoration: none;
        outline: none;
    }
}
.btn-info {
    @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
.btn-success {
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
.btn-warning {
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
.btn-danger {
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

// Remove all backgrounds
.btn-primary-outline {
    @include button-outline-variant($btn-primary-bg);
}
.btn-secondary-outline {
    @include button-outline-variant($btn-secondary-border);
}
.btn-info-outline {
    @include button-outline-variant($btn-info-bg);
}
.btn-success-outline {
    @include button-outline-variant($btn-success-bg);
}
.btn-warning-outline {
    @include button-outline-variant($btn-warning-bg);
}
.btn-danger-outline {
    @include button-outline-variant($btn-danger-bg);
}

//
// Link buttons
//
// Make a button look and behave like a link
.btn-link {
    font-weight: normal;
    color: $link-color;
    border-radius: 0;
    &,
    &:active,
    &.active,
    &:disabled {
        background-color: transparent;
        @include box-shadow(none);
    }
    &,
    &:focus,
    &:active {
        border-color: transparent;
    }
    @include hover {
        border-color: transparent;
    }
    @include hover-focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
        background-color: transparent;
    }
    &:disabled {
        @include hover-focus {
            color: $btn-link-disabled-color;
            text-decoration: none;
        }
    }
}

//
// Button Sizes
//
.btn-lg {

    // line-height: ensure even-numbered height of button next to large input
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-border-radius-lg);
}
.btn-sm {

    // line-height: ensure proper height of button next to small input
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
}

//
// Block button
//
.btn-block {
    display: block;
    width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
    margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn-block {
        width: 100%;
    }
}

.btn--animated {
  letter-spacing: 10px;
  position: relative;
  padding: 20px 0;
  background: transparent;
  // cancel css transtions, they will all be handled with js
  transition: none;
  text-indent: 10px;

  &:first-letter {

  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
  }

}

.btn--animated-alt {
  letter-spacing: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.btn--reversed {
    border: 0;
    color: $brand-primary;

    @include hover-focus {
      color: $brand-primary;
    }
}

.btn-circle {
  position: relative;
  padding: 0!important;
  color: $brand-primary;
  border: 0;
  background: transparent;
  text-indent: 8px;
  letter-spacing: 8px;
  font-size: $font-size-root;
  &--reversed {
    color: $white;

    @include hover-focus {
        color: $white;
    }
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
  }

  &::after {
      border-radius: 50%;
      content: "";
      display: block;
      height: 0;
      padding-bottom: 100%;
      width: 100%;
  }

  @include hover-focus {
      border: 0;
      background: transparent;
      color: $white;
  }
}

.btn__shape {
  &--circle {
    float: left;
    line-height: 1em;
    margin-top: -0.5em;
    padding-top: 50%;

    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 100%;
  }
}



.button-secondary {
    background:$white;
    border: 1px solid $brand-primary;
    color: $brand-primary;
    display: inline-block;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 32px;
    margin: 0;
    padding: 4px;
    pointer-events: auto;
    //text-transform: capitalize;
    transition: 0.4s;
    width: 100%;

    &::first-letter {
        text-transform: uppercase;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        color:$white;
        background: $brand-primary;
    }

    @include respond-min(map-get($grid-breakpoints, "md")) {
        font-size: 15px;
        padding: 8px 40px;
        width: auto;
    }

    @include respond-min(map-get($grid-breakpoints, "lg")) {
        font-size: 16px;
    }

    &--disabled {
        background: #737B81;
        border: none;
        color: #36424A;
        cursor: not-allowed;
        pointer-events: none;
    }

}


