@import "../../styles/sec-variables.scss";
.wide-component-background {
    @include media-breakpoint-down(md) {
        margin-left: 32px;
        margin-right: 32px;
    }


    @include media-breakpoint-down(sm) {}


    @include media-breakpoint-down(xs) {
        margin-left: 14px;
        margin-right: 14px;
    }


    @include media-breakpoint-up(lg) {
        margin-left: 2%;
        margin-right: 2%;
    }


    &-offset {
        @include media-breakpoint-down(md) {
            margin-left: -32px;
            margin-right: -32px;
        }


        @include media-breakpoint-down(sm) {}


        @include media-breakpoint-down(xs) {
            margin-left: -14px;
            margin-right: -14px;
        }


        @include media-breakpoint-up(lg) {
            margin-left: -2%;
            margin-right: -2%;
        }
    }

    &--light-blue {
        background-color: $background;
    }

    &--lighter-grey {
        background-color: #F7F7F7;
    }


    &--black {
        //background-color: #121212;
    }

    &--title {
        background: #2A3339;
    }

    &--image {
        overflow: hidden;
    }

    &--slate {
        background: $gray-dark;
    }

}


.component {
    @include marginTop(2);
    @include paddingBottom(2);
}

[data-scrollmagic="true"] {
    visibility: hidden;
}
