// dark divs
// TODO - this is only used in nav so should probably be moved there
// doesn't seem reusable elsewhere

.dark {
    a {
        color: $off-white;
        transition: 0.4s;

        &:hover,
        &:focus {
            color: $white;
        }
    }

    h1, h2, h3, h4, h5 {
        color: $white;
    }

    h4 {
        color: $grey-on-white-divider;

        a {
            color: $grey-on-white-divider;
        }
    }

}
