/*
* Helvetica Neue
*/


// @import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=1f1c762d-fdbf-4ccf-908e-c82fe26b5be9");

/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web /assets/fonts:  http://www.fonts.com
*/

@font-face{
    font-family:"Helvetica-Neue-Light";
    src:url("~/assets/fonts/helveticaneue-light-webfont.eot");
    // src:url("../fonts/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix");
    // src:url("../fonts/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix") format("eot"),url("../fonts/3a46542f-f429-4821-9a88-62e3be54a640.woff2") format("woff2"),url("../fonts/50ac1699-f3d2-47b6-878f-67a368a17c41.woff") format("woff"),url("../fonts/0be5590f-8353-4ef3-ada1-43ac380859f8.ttf") format("truetype"),url("../fonts/82a4e1c2-7ffd-4c58-86fa-4010a6723c8e.svg#82a4e1c2-7ffd-4c58-86fa-4010a6723c8e") format("svg");
}

@font-face{
    font-family:"Helvetica-Neue-Roman";
    src:url("~/assets/fonts/helveticaneue-roman-webfont.eot");
    // src:url("../fonts/bf7ef4ce-de2a-4213-a9d7-826a3ee323cd.eot?#iefix");
    // src:url("../fonts/bf7ef4ce-de2a-4213-a9d7-826a3ee323cd.eot?#iefix") format("eot"),url("../fonts/3dac71eb-afa7-4c80-97f0-599202772905.woff2") format("woff2"),url("../fonts/34e0e4c0-c294-49bb-9a8e-1b2cafd54e32.woff") format("woff"),url("../fonts/8a8bfee3-197c-4942-9b11-71508cc9f406.ttf") format("truetype"),url("../fonts/5101995a-e73b-4cf9-84e8-f99eb43277b1.svg#5101995a-e73b-4cf9-84e8-f99eb43277b1") format("svg");
}

@font-face{
    font-family:"Helvetica-Neue-Medium";
    src:url("~/assets/fonts/helveticaneue-medium-webfont.eot");
    // src:url("../fonts/f95f9fc2-ffda-431c-9d6a-2c3668f5b20b.eot?#iefix");
    // src:url("../fonts/f95f9fc2-ffda-431c-9d6a-2c3668f5b20b.eot?#iefix") format("eot"),url("../fonts/5b1fbd62-45dc-4433-a7df-a2b24a146411.woff2") format("woff2"),url("../fonts/050b1948-f226-4d20-a65a-15d8ed031222.woff") format("woff"),url("../fonts/beb88be6-2a60-46fe-914f-6892b3ae46ce.ttf") format("truetype"),url("../fonts/e5567978-93ef-4de1-804d-1f0e3654a014.svg#e5567978-93ef-4de1-804d-1f0e3654a014") format("svg");
}

@font-face{
    font-family:"Helvetica-Neue-Bold";
    src:url("~/assets/fonts/helveticaneue-bold-webfont.eot");
    // src:url("../fonts/8a6c3e5a-88a5-430c-91d8-7767ce971d12.eot?#iefix");
    // src:url("../fonts/8a6c3e5a-88a5-430c-91d8-7767ce971d12.eot?#iefix") format("eot"),url("../fonts/531c5a28-5575-4f58-96d4-a80f7b702d7b.woff2") format("woff2"),url("../fonts/439c5962-f9fe-4eaf-a1f6-f41d42edba75.woff") format("woff"),url("../fonts/419a308d-b777-4f84-9235-2caf4a98ec23.ttf") format("truetype"),url("../fonts/e4d5b881-6835-45b7-8766-3e5b9e7cab8b.svg#e4d5b881-6835-45b7-8766-3e5b9e7cab8b") format("svg");
}


/*
* Playfair
*/

@font-face {
  font-family: 'Playfair-Regular';
  src:  url('~/assets/fonts/playfairdisplay-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
