input[type="text"] {
    font-weight: lighter;
    font-family: $font-family-sans-serif-light;
    font-size: 16px;

    @include respond-min(map-get($grid-breakpoints, "md")) {
        font-size: 24px;
    }
}

input:focus {
    outline: none;
}

.forms {
    &__label {
        font-weight: bold;
        font-family: $font-family-sans-serif-bold;
        display: block;
        color: $primary;

        &--animated {
            opacity: 0;
        }
    }

    &__label-secondary {
        color: $primary;
        display: block;

        &--animated {
            opacity: 0;
        }
    }

    &__section {}

    &__error {
        color: $brand-danger;
        font-size: 12px;
        font-family: $font-family-sans-serif-bold;
        position: relative;
        margin-top: 11px;

        path {
            fill: $brand-danger;
        }
    }

    &__error-copy {
        padding-left: 25px;
    }

    &__error-symbol {
        position: absolute;
        top: 2px;
        left: 0px;
    }

    fieldset {
        padding-bottom: 40px;
    }

    &__next,
    &__submit {
        width: initial;
        width: 100%;
        padding: 16px 10px;
        line-height: 14px;

        @include media-breakpoint-up(md) {
            width: initial;
            float: right;
            padding-left: 28px;
            padding-right: 28px;
        }
    }

    &__previous {
        width: initial;
        width: 100%;
        padding: 16px 10px;
        line-height: 14px;
        background: none;
        color: $brand-primary;
        border: none;

        @include media-breakpoint-up(md) {
            width: initial;
            float: right;
            padding-left: 28px;
            padding-right: 28px;
        }


        &:hover {
            .forms__previous-chevron {
                transform: rotate(180deg) translate(5px, -1px);
            }
        }
    }

    &__previous-chevron {
        transition: 0.2s;
        transform: rotate(180deg) translate(0px, -1px);
        margin-top: 20px;

        @include media-breakpoint-up(md) {
            margin-top: 0px;
            transform: rotate(180deg) translate(0px, 1px);
        }


        display: inline-block;
    }
}