/*------------------------------------*\
    ICONS
\*------------------------------------*/

.icon {
  width: 1rem;
  height: auto;
  display: inline-block;
  vertical-align: middle;

  &--xs {
      width: 1rem;
  }
  &--sm {
      width: 2rem;
  }
  &--md {
    width: 3rem;
  }
  &--lg {
    width: 4rem;
  }
  &--xl {
    width: 5rem;
  }
}

.svg-icon {
    height: 27px;
    width: 27px;

    path, rect, polygon {
        transition: 0.4s;
    }

    &--large {
        height: 54px;
        width: 54px;
    }

    &--cheveron {
        height: 6px;
        width: 6px;
        display: inline-block;
        margin-bottom: 4px;
        margin-right: 2px;
    }

    &--chevron-link {
        polygon {
            fill: $brand-primary;
        }

        path {
            fill: $brand-primary;
        }
    }

    &--profile {
        &--off-white {
            height: 16px;
            width: 16px;

            path {
                fill: #8f969a;
            }
        }
    }

    &--tick {
        &--blue {
            height: 20px;
            width: 20px;

            path {
                fill: $brand-primary;
            }
        }

        &--white {
            height: 20px;
            width: 20px;

            path {
                fill: $white;
            }
        }
    }

    &--mark {
        &--red {
            height: 20px;
            width: 20px;

            path {
                fill: #de420b;
            }
        }
    }

    &--search {
        &--blue {
            width: 15px;

            path {
                fill: $brand-primary;
            }

            line {
                stroke: $brand-primary;
            }

            rect {
                fill: $brand-primary;
            }
        }

        &--white {
            width: 15px;

            path {
                fill: $white;
            }

            line {
                stroke: $white;
            }

            rect {
                fill: $white;
            }
        }
    }

    &--login {
        &--blue {
            width: 15px;

            path {
                fill: $brand-primary;
            }
        }

        &--gold {
            width: 15px;

            path {
                fill: gold;
            }
        }

        &--silver {
            width: 15px;

            path {
                fill: silver;
            }
        }

        &--bronze {
            width: 15px;

            path {
                fill: sandybrown;
            }
        }

        &--white {
            width: 15px;

            path {
                fill: $white;
            }
        }
    }

    &--territory-selector {
        &--blue {
            width: 15px;

            path {
                fill: $brand-primary;
            }

            line {
                stroke: $brand-primary;
            }

            rect {
                fill: $brand-primary;
            }
        }

        &--white {
            width: 15px;

            path {
                fill: $white;
            }
        }
    }

    &--key {
        &--off-white {
            height: 16px;
            width: 16px;

            path {
                fill: #8f969a;
            }
        }
    }

    &--phone {
        fill: $brand-primary;
        height: 16px;
        width: 16px;
        display: inline-block;
        vertical-align: middle;
    }

    &--arrow-left {
        &--white {
            height: 16px;
            width: auto;

            path {
                fill: #fff;
            }

            polygon {
                fill: #fff;
            }

            rect {
                fill: #fff;
            }
        }
    }
}
