
li,
ul {
    margin: 0;
    padding: 0;
    font-family: $font-family-sans-serif;
    color: $primary;
    font-size: 14px;
    line-height: 18px;
    font-weight: lighter;
    @include media-breakpoint-up(md) {
        font-size: 16px;
        line-height: 20px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 16px;
        line-height: 24px;
    }
}

ul {
    &.list-style {
        padding: 0px;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: -10px;
        margin-bottom: -10px;

        li {
            list-style-type: none;
            padding-bottom: 5px;
            padding-left: 15px;
            background-position: 0px 3px;
            background-image: url("/images/icons/svg/bullet.svg");
            background-size: 6px;
            background-repeat: no-repeat;
            font-size: 14px;
            line-height: 18px;
            font-weight: lighter;

            @include respond-min(map-get($grid-breakpoints, "md")) {
                font-size: 14px;
                line-height: 20px;
                background-position: 0px 5px;
            }

            @include respond-min(map-get($grid-breakpoints, "lg")) {
                font-size: 16px;
                line-height: 24px;
            }

            @include respond-min(map-get($grid-breakpoints, "md")) {
                padding-bottom: 15px;
            }

            @include respond-min(map-get($grid-breakpoints, "md")) {
                padding-bottom: 10px;
            }
        }
    }
}
