@import "~styles/sec-variables.scss";

quote,
.investec-quote {
    margin: 0px;
    padding: 0px;
    font-family: $font-family-serif;
    color: $primary;
    font-size: 17px;
    line-height: 28px;

    @include respond-min(map-get($grid-breakpoints, "md")) {
        font-size: 28px;
        line-height: 40px;
    }


    @include respond-min(map-get($grid-breakpoints, "lg")) {
        font-size: 48px;
        line-height: 56px;
    }
}

