@import "~styles/sec-variables.scss";
/*------------------------------------*\
    Type
    Global type styles
\*------------------------------------*/

// Table of Contents
//
// Body
// Headings
// Paragraphs
// Lists
body {
    margin: 0px;
    padding: 0px;
    font-family: $font-family-sans-serif;
    color: $primary;
    font-size: 14px;
    line-height: 20px;
    font-weight: lighter;

    @include media-breakpoint-up(md) {
        font-size: 14px;
        line-height: 20px;
    }


    @include media-breakpoint-up(lg) {
        font-size: 16px;
        line-height: 24px;
    }
}

/*------------------------------------*\
    headings
\*------------------------------------*/

h1 {
    margin: 0;
    padding: 0;
    font-weight: lighter;
    color: $primary;
    font-size: 32px;
    line-height: 40px;

    @include media-breakpoint-up(md) {
        font-size: 60px;
        line-height: 76px;
    }


    @include media-breakpoint-up(lg) {
        font-size: 72px;
        line-height: 84px;
    }
}

.h1 {
    margin: 0;
    padding: 0;
    font-family: $font-family-sans-serif-light;
    font-weight: lighter;
    color: $primary;
    font-size: 32px;
    line-height: 40px;

    @include media-breakpoint-up(md) {
        font-size: 60px;
        line-height: 76px;
    }


    @include media-breakpoint-up(lg) {
        font-size: 72px;
        line-height: 84px;
    }
}

h2 {
    margin: 0;
    padding: 0;
    font-weight: lighter;
    color: $primary;
    font-size: 27px;
    line-height: 36px;

    @include media-breakpoint-up(md) {
        font-size: 40px;
        line-height: 52px;
    }


    @include media-breakpoint-up(lg) {
        font-size: 52px;
        line-height: 68px;
    }
}

.h2 {
    margin: 0;
    padding: 0;
    font-family: $font-family-sans-serif-light;
    font-weight: lighter;
    color: $primary;
    font-size: 27px;
    line-height: 36px;

    @include media-breakpoint-up(md) {
        font-size: 40px;
        line-height: 52px;
    }


    @include media-breakpoint-up(lg) {
        font-size: 52px;
        line-height: 68px;
    }
}

h3 {
    margin: 0;
    padding: 0;
    font-family: $font-family-sans-serif-light;
    font-weight: lighter;
    color: $primary;
    font-size: 20px;
    line-height: 28px;

    @include media-breakpoint-up(md) {
        font-size: 28px;
        line-height: 36px;
    }


    @include media-breakpoint-up(lg) {
        font-size: 32px;
        line-height: 40px;
    }
}

.h3 {
    margin: 0;
    padding: 0;
    font-family: $font-family-sans-serif-light;
    font-weight: lighter;
    color: $primary;
    font-size: 20px;
    line-height: 28px;

    @include media-breakpoint-up(md) {
        font-size: 28px;
        line-height: 36px;
    }


    @include media-breakpoint-up(lg) {
        font-size: 32px;
        line-height: 40px;
    }
}

h4 {
    margin: 0;
    padding: 0;
    font-family: $font-family-sans-serif-light;
    font-weight: lighter;
    color: $primary;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: -12px;

    @include paddingBottom(1);

    @include media-breakpoint-up(md) {
        font-size: 22px;
        line-height: 28px;
    }


    @include media-breakpoint-up(lg) {
        font-size: 24px;
        line-height: 32px;
    }
}

.h4 {
    margin: 0;
    padding: 0;
    font-family: $font-family-sans-serif-light;
    font-weight: lighter;
    color: $primary;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: -12px;

    @include paddingBottom(1);

    @include media-breakpoint-up(md) {
        font-size: 22px;
        line-height: 28px;
    }


    @include media-breakpoint-up(lg) {
        font-size: 24px;
        line-height: 32px;
    }
}

h5 {
    margin: 0;
    padding: 0;
    font-family: $font-family-sans-serif-bold;
    color: $primary;
    font-size: 13px;
    line-height: 18px;

    @include media-breakpoint-up(md) {
        font-size: 14px;
        line-height: 20px;
    }


    @include media-breakpoint-up(lg) {
        font-size: 16px;
        line-height: 24px;
    }
}

.h5 {
    margin: 0;
    padding: 0;
    font-family: $font-family-sans-serif-bold;
    color: $primary;
    font-size: 13px;
    line-height: 18px;

    @include media-breakpoint-up(md) {
        font-size: 14px;
        line-height: 20px;
    }


    @include media-breakpoint-up(lg) {
        font-size: 16px;
        line-height: 24px;
    }
}

h6 {
    margin: 0;
    padding: 0;
    font-family: $font-family-sans-serif-bold;
    color: $primary;
    font-size: 10px;
    line-height: 16px;

    @include media-breakpoint-up(sm) {
        font-size: 11px;
        line-height: 18px;
    }


    @include media-breakpoint-up(md) {
        font-size: 11px;
        line-height: 18px;
    }


    @include media-breakpoint-up(lg) {
        font-size: 12px;
        line-height: 20px;
    }
}

.h6 {
    margin: 0;
    padding: 0;
    font-family: $font-family-sans-serif-bold;
    color: $primary;
    font-size: 10px;
    line-height: 16px;

    @include media-breakpoint-up(sm) {
        font-size: 11px;
        line-height: 18px;
    }


    @include media-breakpoint-up(md) {
        font-size: 11px;
        line-height: 18px;
    }


    @include media-breakpoint-up(lg) {
        font-size: 12px;
        line-height: 20px;
    }
}

/*------------------------------------*\
    paragraphs
\*------------------------------------*/

p {
    margin: 0;
    padding: 0;
    font-family: $font-family-sans-serif;
    color: $primary;
    font-size: 14px;
    line-height: 20px;
    font-weight: lighter;
    margin-bottom: -7px;

    @include paddingBottom(1);

    @include media-breakpoint-up(sm) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: -10px;
        margin-top: 0;
    }


    @include media-breakpoint-up(lg) {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: -12px;
    }
}

b {
    font-family: $font-family-sans-serif-bold;
    font-weight: bold;
}

blockquote {

    font-family: $font-family-serif;
    color: $primary;
    font-size: 14px;
    line-height: 17px;
    margin-left: 0px;
    border-left: 2px solid $primary;
    margin-bottom: 20px;
    padding-bottom: 12px;
    padding-top: 15px;
    padding-left: 23px;

    @include marginBottom(1);

    @include respond-min(map-get($grid-breakpoints, "md")) {
        font-size: 28px;
        line-height: 44px;
    }

    @include respond-min(map-get($grid-breakpoints, "lg")) {
        font-size: 32px;
        line-height: 44px;
        padding-left: 47px;
        padding-bottom: 11px;
        padding-top: 6px;
        margin-bottom: 36px;
    }
}
