.textarea {
    padding-bottom: 20px;

    &__input {
        width: 100%;
        border: none;
        border-bottom: 2px solid;
        border-bottom-color: $brand-primary;
        font-family: $font-family-sans-serif-light;
        outline: none;
        height: 36px;
        resize: none;
        font-size: 24px;
        line-height: 32px;
        color: $primary;
        overflow: hidden;
        min-height: 36px;

        &:focus {
            border-color: $primary;
        }

        &--has-content {
            border-color: $primary;
        }
    }

    &__height-measurement {
        width: 100%;
        border: none;
        border-bottom: 2px solid;
        border-bottom-color: $brand-primary;
        font-family: $font-family-sans-serif-light;
        outline: none;
        resize: none;
        font-size: 24px;
        line-height: 32px;
        color: $primary;
        overflow: hidden;
        display: none;
        white-space: pre-wrap;

        &:focus {
            border-color: $primary;
        }

        &--has-content {
            border-color: $primary;
        }
    }

    &__input-holder {
        position: relative;
        padding-top: 16px;

        @include media-breakpoint-up(md) {
            padding-top: 24px;
        }
    }

    &__placeholder {
        position: absolute;
        left: 0px;
        top: 16px;
        font-family: $font-family-sans-serif-light;
        pointer-events: none;
        color: $quote-grey;

        @include media-breakpoint-up(md) {
            top: 24px;
            font-size: 24px;
            left: 1px;
        }


        &--has-content {
            top: 0px !important;
        }
    }
}